# Configuration file

##########################################################################################################
# evolution
#--------------------------------------------------------------------------------------------------------#
# 
# Wyrms will determine just how much of a threat the MC world is to them, and likewise, will evolve to stronger forms. Depending on the situation, wyrms may or may not "autobalance" depending on the mod setup or your strength. This means some wyrm mobs may not show up at all.
# WARNING: This module is a WIP, but will automatically come enabled in releases as it won't likely cause any game-breaking bugs.
# 
##########################################################################################################

evolution {
    # Wyrms add more evo points if killed by fire. Default: false
    B:"Bonus from wyrm deaths by fire"=false

    # If you're a pack dev and disabled the Read Your Modpack feature but still want to use a starting evo cap, this is for you.
    I:"Custom minimum evo cap"=0

    # Enables or disables Maximum Applied Evolution. Default: true
    B:"Enable Maximum Applied Evolution"=true

    # How many points is a level? Default: 50
    I:"Evo Points per Level"=50

    # The overall damage boost given to wyrms at certain stages of evolution. Default: 0.005
    D:"Evolution ATK power"=0.02500000037252903

    # The overall armor boost given to wyrms at certain stages of evolution. Default: 0.01
    D:"Evolution DEF power"=0.009999999776482582

    # The overall health boost given to wyrms at certain stages of evolution. Default: 0.015
    D:"Evolution HP power"=0.10000000149011612

    # Enables the evolution system. Default: true
    B:"Evolution enabled"=true

    # Determines how powerful evolution gets. Do not touch this if you intend on keeping closer to what would be expected in vanilla Mineccraft. Higher values speeds up the evolution system growth faster, lower values slow it down. Default: 1.0
    D:"Evolution factor"=1.0

    # When wyrms die, they gain more evolutionary pressure to evolve and adapt against dying. Improvise. Overcome. Adapt. Default: true
    B:"Evolution from wyrm deaths"=true

    # As evolution increases, so does the chance of meeting an evolved variant of wyrm. Default: true
    B:"Evolution variants"=true

    # Enable/disable the HBM Taint evo variations. Requires variants to be enabled, does nothing if HBM is not installed. Default: true
    B:"HBM evolution variants"=true

    # The maximum evolution levels that can be applied to wyrms. Default: 10
    I:"Maximum Applied Evolution"=12

    # uwu
    S:"Modlist detector strings" <
        draconicevolution;400
        srparasites;300
        hbm;250
        icbmclassic;150
        lycanitesmobs;125
        securitycraft;80
        techguns;75
        roughmobsrevamped;75
        immersiveintelligence;65
        roughmobs;60
        ic2;50
     >

    # Multiplier for the bonus from wyrm deaths by fire. Default: 2.0
    D:"Multiplier from wyrm deaths by fire"=2.0

    # By default, Wyrms of Nyrus will do a one-time check at the initialization of the game to determine the minimum evolution based on certain mods in your modlist. If you have any privacy concerns, you can disable this feature, even though this feature doesn't send anything out into the internet as it is all localized within your MC instance. Or, if you prefer not to have this feature enabled, this option exists. Default: true
    B:"Read Your Modpack"=true
}


##########################################################################################################
# wyrm genomes
#--------------------------------------------------------------------------------------------------------#
# 
# Controls for the Wyrm Genome, Natural Selection, and Variants. A replacement & overhaul to the old Evolution system.
##########################################################################################################

"wyrm genomes" {
}


