# Configuration file

##########################################################################################################
# ai
#--------------------------------------------------------------------------------------------------------#
# 
# AI configuration
# 
##########################################################################################################

ai {
    # Wyrms that can target animals (Sheep, animania cows, etc) will target and attack animals. Default: true
    B:"Attack animals"=true

    # Wyrms that can target mobs (zombies, SRP parasites, etc) will target and attack mobs. Default: true
    B:"Attack mobs"=true

    # Wyrms that can target villagers will target and attack villagers. Default: true
    B:"Attack villagers"=true

    # Some wyrms (Those marked as diggers or sapients) will try to break blocks. If this is disabled, they won't do that. See individual wyrm stat configs to set their block griefing capabilities (via block hardness), setting their values to below 0 disables their griefing capability. Default: true
    B:"Block destruction"=true

    # If a wyrm can break blocks, this option allows them to drop the item of that block onto the ground. Disable if this causes too much lag, especially with larger wyrms. Default: true
    B:"Block destruction drops item"=true

    # 1 in x chance that a block broken by wyrms drops an item. Raising this value improves performance. Default: 5
    I:"Block destruction item drop chance"=5

    # Reduces the amount of AI tasks given to wyrms. Enable this if the AI lags you, but keep in mind this may cause a few glitches or oddities. Mainly disables EntityAILookIdle. Default: false
    B:"Enable Performance AI"=false

    # The savage AI may not be for everyone. By setting this to false, you disable AI features like Workers attacking players at later invasion stages, Rovers from attacking players, etc. Default: true
    B:"Enable Savage AI"=true

    # Makes wyrms not attack players (unless if attacked already). Default: false
    B:"Friendly to players"=false

    # If enabled, psychic wyrms (and some terror units like Fungallids) can have their ✨★special★✨ psychic effects extend to creepers. !EXTREMELY DESTRUCTIVE! Default: false
    B:"Psychics are fun!"=false

    # The time in seconds between when wyrms can enrage. Default: 30
    I:"Rage Cooldown"=20

    # Rage is applied when wyrms had a target, but had to switch priorities. This causes wyrms to get annoyed and switch targets, causing them to knock their original target away, gain short buffs, and go after the being that interrupted them. Default: true
    B:"Rage Enabled"=true

    # Makes wyrms also attack creepers like idiots, if they use hostile AI targeting more than just players. Leave this as false if you want wyrms to have more braincells than you. Default: false
    B:"Suidical wyrms"=false
}


creeped {
    # Creepwyrms can check a block within a x by x by x range and infest it. For example, a range of 8 makes creepwyrms add blocks in a 8x8x8 range. Default: 16
    I:"Creepwyrm Infestation Range"=16

    # Maximum tier of Creeped that Creepwyrms can spawn. Default: 0
    I:"Creepwyrm Maximum Spawn Tier"=1

    # How far up Creepwyrms can call in Creeped Pods. Default: 30
    I:"Creepwyrm Pod Call Radius"=45

    # The number of Creeped Pods Creepwyrms will summon. Default: 1
    I:"Creepwyrm Pod Call Threshold"=2

    # Creepwyrms must summon x amount of times before they call a creeped pod to spread their influence. Default: 10
    I:"Creepwyrm Pod Call Threshold Spawn"=8

    # Amount of blocks Creepwyrms need to infest in order to spawn something. Default: 20
    I:"Creepwyrm Spawn Threshold"=20

    # Makes the Creeped immune to cactus damage. Default: false
    B:"Immune to cacti"=false

    # Makes the Creeped immune to explosions. Default: false
    B:"Immune to explosions"=true

    # Makes the Creeped immune to fall damage. Flying Creeped always ignore fall damage. Default: false
    B:"Immune to falling"=false

    # Makes the Creeped immune to radioactive gasses. Default: false
    B:"Immune to radioactive gas"=false
}


##########################################################################################################
# gestalt
#--------------------------------------------------------------------------------------------------------#
# 
# GESTALT
# 
##########################################################################################################

gestalt {
    # 1 in X chance to alert the gestalt when a player moves through Hive Creep flora. Regardless of this setting, sprinting will alert the hive. Range: 1 to 100000; Default: 100
    I:"Flora alert chance"=100

    # The minimum amount of damage the player must deal in order to raise their Infamy level. Default: 4.0
    D:"Infamy DMG Required Floor"=4.0

    # 1 in X chance to decay infamy every tick. Goes down exponentially faster if infamy is high. Default: 20000
    I:"Infamy Decay Chance"=25000

    # Players that pick fights with wyrms will build up infamy within the Hive, and attract other wyrms to the player's general area faster, if this is disabled, wyrms will only slowly congregate around players. Default: true
    B:"Infamy Enabled"=true

    # Max infamy causes invasion events to take place around the player. Unlike the normal scheduler, this system creates an event for ALL players in the server, not just one random player. Default: true
    B:"Max infamy Causes Invasion Events"=true

    # Max infamy causes Creeped kills to spawn double the entities. Default: true
    B:"Max infamy Creeped Spawns"=true

    # How much of an impact does infamy have on Total Awareness Range?. Default: 0.25
    D:"TAR Infamy Modifier"=0.38999998569488525

    # Number of seconds until wyrms forget their target. Default: 15
    I:"Target memory"=20

    # If players move through hive creep plants without sneaking, the plants will prompt wyrms to investigate the disturbance. Default: true
    B:"The wyrms speak for the plants"=true

    # Wyrms that get close enough to a player become aggressive, even if they otherwise could not. Default: true
    B:"Total Awareness"=true

    # Control how close a member of the hive must be to the player to sense them regardless if there's line of sight or not. Default: 4
    D:"Total Awareness Range"=4.0

    # While infamy is maxed out, wyrms and creeped know almost EXACTLY where the player is at all times, so long as they're within proximity. This total knowledge proximity is far longer than the Total Awareness Range. Default: false
    B:"Total War"=false
}


global {
    # Metalcomb arrays are treated like iron ingots and can replace iron ingots in recipes. Default: true
    B:Metalcombs-as-iron=true

    # Wyrms, Creeped, and Follies can hold some secrets... Default: true
    B:"Mob Easter Eggs"=true
}


wyrmfollies {
    # The factor of which wyrmfolly stats increase. Default: 1.05
    D:"Wyrmfolly buff factor"=1.25

    # The number of kills before a folly levels up. Default: 5
    I:"Wyrmfolly level steps"=4
}


##########################################################################################################
# wyrms
#--------------------------------------------------------------------------------------------------------#
# 
# Universal & misc properties for the mod.
# 
##########################################################################################################

wyrms {
    # Drop pods can damage blocks around them with an actual explosion. SHOULD BE PAIRED WITH WYRMS AND CREEPED BEING IMMUNE TO EXPLOSIONS! Default: false
    B:"Drop pods cause block damage"=true

    # The damage multiplier flying wyrms (including probers) will take from projectiles. Will not always be applicable to some flying wyrms. Does not apply to voidwyrms. 2.0 = doubled damage Default: 2.5
    D:"Flying Wyrm Projectile Weakness"=2.0

    # Makes wyrms immune to cactus damage. Default: false
    B:"Immune to cacti"=true

    # Makes wyrms immune to explosions. Default: false
    B:"Immune to explosions"=true

    # Makes wyrms immune to fall damage. Obviously doesn't apply to any kind of droppod if true, and doesn't do anything to flying wyrms if set to false. Default: true
    B:"Immune to falling"=true

    # Don't eat me! Stops worm entities from insta-killing entities with their head. Instead, heads do 3x damage. Default: true
    B:"No worm instagibs"=false

    # When health is below 20%, the wyrm in question has x seconds before it explodes. If it is set on fire at this moment, the explosion power is doubled. Default: 30
    I:"Uranium Variant Timer"=30

    # The damage multiplier voidwyrms (like the Visitor) will take from projectiles. Will not always be applicable to some voidwyrms. Does not apply to flying wyrms. 2.0 = doubled damage Default: 3.0
    D:"Voidyrm Projectile Weakness"=2.0

    # As a baseline, workers make a product every x ticks. This value is the base time it will take, total time will vary based on RNG still. Default: 2500
    I:"Worker productivity"=2500

    # The armor of wyrms. 1.0 = 100% Default: 1.0
    D:"Wyrm Resistance"=1.0499999523162842

    # The attack strength of wyrms. 1.0 = 100% Default: 1.0
    D:"Wyrm Strength"=1.100000023841858

    # The health of wyrms. 1.0 = 100% Default: 1.0
    D:"Wyrm Vitality"=1.25

    # Makes wyrms destroy blocks. Default: true
    B:"Wyrm explosions damage blocks"=true

    # Lore-wise, wyrms can undergo uncontrolled nuclear chain reactions when set on fire. This makes wyrms explode on death if they're on fire upon death. Default: true
    B:"Wyrms go supercritical"=true
}


