# Configuration file

##########################################################################################################
# drop pods
#--------------------------------------------------------------------------------------------------------#
# 
# Everything involving wyrm spawns from the Invasion system.
# 
##########################################################################################################

"drop pods" {
    # Maximum wyrms to spawn from Callous pods. Default: 2
    I:"Callous max spawns"=3

    # Minimum wyrms to spawn from Callous pods. Default: 1
    I:"Callous min spawns"=2

    # Maximum wyrms to spawn from Hexe pods. Default: 3
    I:"Hexe max spawns"=6

    # Minimum wyrms to spawn from Hexe pods. Will still always spawn at least 1 wyrm. Hexe pods always spawn wyrmlings that grow into various castes of wyrms except royals. Default: 1
    I:"Hexe min spawns"=2

    # Delay for each drop pod spawn from The Visitor. Default: 3500
    I:"Visitor drop pod frequency"=3050

    # Random variation added to the drop delays, adds -x to x ticks to delay. Default: 500
    I:"Visitor drop pod frequency variation"=550
}


##########################################################################################################
# hive creep
#--------------------------------------------------------------------------------------------------------#
# 
# Everything involving Hive Creep
# 
##########################################################################################################

"hive creep" {
    # The speed at which Creep Hives spread The Creep. Every x entity updates, the creep hive runs a check and creeps over a valid block if found. Lower this to make it faster, or increase it even further to make creep hives do their thing a lot slower./n(WARNING: AS THIS MOB CREATES ACTIVE CREEPED BLOCKS, KEEP THIS VALUE VERY HIGH TO AVOID BLOCK UPDATE SPAM BUILDUP) Default: 1800
    I:"Creep Hive creep speed"=1800

    # If a hive creep block fails to find a suitable block to creep, there is a 1 in n chance that it will decay into a hive block. Lower this value if you're experiencing TPS drops. Default: 55
    I:"Creep decay chance"=55

    # If enabled, if a hive creep block decays and there is open air above it, it releases a radioactive gas. Default: false
    B:"Creep decay produces radioactive gas"=false

    # If The Creep is enabled or not. This stops spread. Default: true
    B:"Creep enabled"=true

    # Maximum hardness of a block that can be infested. Can automatically generate a blacklist this way for other mods. Default: 2.45
    D:"Creep spread max hardness"=2.45

    # Every time a creep block is created, the invasion points increase. If Invasion is not enabled, this won't work at all. It is recommended you should keep this number as a decimal unless if you want pain... Default: 0.015
    D:"Creep spread points"=0.015

    # 1 to n chance every tick that a hive creep blocks actually does something. Some blocks will tick much slower, like creepstone. Increase this number if you're seeing TPS drops. Default: 20
    I:"Creep spread speed"=20

    # Every n world ticks, hive creep blocks will tick and roll to see if they spread or not. 20 ticks = 1 second. Default: 500
    I:"Creep tickrate"=500

    # Blacklist of blocks hive creep can not spread to. Blocks that are not considered a full block by the MC engine do not need to be included here.
    # WARNING: EXPERIMENTAL FEATURE. Disabled/enable in the 2nd config option. Is automatically set to true in development builds.
    S:"Creepable block blacklist" <
        minecraft:furnace
        minecraft:brick_block
        minecraft:bone_block
        minecraft:bedrock
        minecraft:concrete
        minecraft:concrete_powder
        minecraft:end_bricks
        minecraft:end_stone
        minecraft:glass
        minecraft:jukebox
        minecraft:nether_brick
        minecraft:red_nether_brick
        minecraft:noteblock
        minecraft:observer
        minecraft:obsidian
        minecraft:packed_ice
        minecraft:prismarine
        minecraft:purpur_block
        minecraft:purpur_pillar
        minecraft:quartz_block
        minecraft:sponge
        minecraft:stained_glass
        minecraft:wool
        minecraft:stonebrick
     >

    # Enables the creepable block blacklist.
    B:"Creepable block blacklist enabled"=true

    # The speed at which normal Creepwyrms spread The Creep. Every x entity updates, the creepwyrm runs a check and creeps over a valid block if found. Lower this to make it faster, or increase it even further to make creepwyrms do their thing a lot slower. Default: 200
    I:"Creepwyrm creep speed"=150

    # The speed at which Dire Creepwyrms spread The Creep. Every x entity updates, the creepwyrm runs a check and creeps over a valid block if found. Lower this to make it faster, or increase it even further to make creepwyrms do their thing a lot slower./n(WARNING: AS THIS MOB CREATES ACTIVE CREEPED BLOCKS, KEEP THIS VALUE VERY HIGH TO AVOID BLOCK UPDATE SPAM BUILDUP) Default: 1800
    I:"Dire Creepwyrm creep speed"=1800

    # If hive creep should preserve the entity's nametag information. Enabling this is kinda cheating, since it will reveal the location of the mob. Default: true
    B:"Mob conversion keeps nametags"=false

    # List of mobs to convert into specific Creeped entities. If something isn't specified, it will fall back on the old system. If a provided entity on this list can also be covered by the old system, this list will act as an override. Make a new line for each entry. Malformed configs here will be reported in the log as errors. Format: OriginalEntityMod:ResourceName;ThisMod:ResourceName
    S:"Mob conversion list" <
        minecraft:polar_bear;wyrmsofnyrus:prime
        srparasites:sim_human;wyrmsofnyrus:creepedhumanoid
        srparasites:sim_villager;wyrmsofnyrus:creepedhumanoid
        srparasites:sim_adventurer;wyrmsofnyrus:creepedhumanoid
        srparasites:sim_enderman;wyrmsofnyrus:creepedhumanoid
        srparasites:worker;wyrmsofnyrus:creepedhumanoid
        srparasites:thrall;wyrmsofnyrus:creepedhumanoid
        srparasites:sim_cow;wyrmsofnyrus:minos
        srparasites:sim_sheep;wyrmsofnyrus:creepedbiter
        srparasites:sim_wolf;wyrmsofnyrus:creepedbiter
        srparasites:sim_pig;wyrmsofnyrus:creepedbiter
        srparasites:sim_horse;wyrmsofnyrus:creepedbiter
        srparasites:sim_bear;wyrmsofnyrus:creepedbiter
        srparasites:sim_bigspider;wyrmsofnyrus:crawler
        srparasites:rupter;wyrmsofnyrus:crawler
        srparasites:mangler;wyrmsofnyrus:crawler
        srparasites:crux;wyrmsofnyrus:prime
        srparasites:heed;wyrmsofnyrus:prime
        srparasites:carrier_heavy;wyrmsofnyrus:prime
        srparasites:pri_longarms;wyrmsofnyrus:prime
        srparasites:pri_manducater;wyrmsofnyrus:prime
        srparasites:pri_reeker;wyrmsofnyrus:prime
        srparasites:pri_yelloweye;wyrmsofnyrus:prime
        srparasites:pri_summoner;wyrmsofnyrus:prime
        srparasites:pri_bolster;wyrmsofnyrus:prime
        srparasites:pri_arachnida;wyrmsofnyrus:prime
        srparasites:pri_devourer;wyrmsofnyrus:prime
     >
}


##########################################################################################################
# invasion
#--------------------------------------------------------------------------------------------------------#
# 
# The Wyrm Invasion is the main mechanic of this mod, with a fully-fledged event system with threats that keep players on edge.
# 
##########################################################################################################

invasion {
    # The dimensions (in their numerical IDs) in which wyrms are able to invade. Note that the dimension still must be a surface dimension in order for certain events to work! Default: 0,1
    I:"Invade-able dimensions" <
        0
        1
     >

    # Every x minutes, an invasion event takes place. Default: 10
    I:"Invasion Event Frequency"=10

    # Wyrms gain invasion points for every kill. Set this to 0 to disable this feature entirely. Default: 1
    I:"Invasion Points Per Kill"=1

    # 1 in x chance to occur each day before wyrms start invading. Default: 10
    I:"Invasion Start Chance"=10

    # 0 = Random chance, 1 = after x days, 2 = hybrid (time & chance). Default: 2
    I:"Invasion Start Mode"=1

    # Number of days until wyrms can start to invade. Default: 20
    I:"Invasion Start Time"=20

    # Enables the invasion system. Many functions of the mod will not work if this is off, including other sub-systems. Default: true
    B:"Invasion enabled"=true

    # Allows the invasion to start naturally without needing admin commands. Default: true
    B:"Invasion starts naturally"=true

    # All invasion events take place a certain distance away from the player. Increasing this range makes it less likely that events happen near the player, but may cause performance hitches due to potential chunkloading. Usually keep this number in increments of 16 (Chunk x/z size). Default is calculated for Minecraft's usual 12 chunk render radius. Default: 192
    I:"Max event distance"=192

    # Probers deal heavy damage and every kill advances the invasion by 5 points, compared to only one, IF the entity can be sampled (hit) more than once. One-shots or each hit adds 2 points. They also have longer aggro range and fly faster. Set to false to disable this feature and make probers less dangerous. Default: true
    B:"Probing enabled"=true

    # Remove entries or add entries to modify this stage's event pool. [ Min event ID: 0 | Max event ID: 4 ]
    # 
    # Format: 1,10 OR 1,10,40,3,3
    # This creates an event with the ID of 1 with a weight of 10.
    # In the latter format, this creates an event with the ID of 1 with a weight of 10, giving it 40 seconds per stage, with 3 stages total and takes place at level 3
    S:"Stage 0 event pool" <
        
     >

    # How many points are required to reach this phase of the alien invasion. Phase 0 takes place below this. Default: 1000
    I:"Stage 1 Invasion Point threshold"=1000

    # Remove entries or add entries to modify this stage's event pool. [ Min event ID: 0 | Max event ID: 4 ]
    # 
    # Format: 1,10 OR 1,10,40,3,3
    # This creates an event with the ID of 1 with a weight of 10.
    # In the latter format, this creates an event with the ID of 1 with a weight of 10, giving it 40 seconds per stage, with 3 stages total and takes place at level 3
    S:"Stage 1 event pool" <
        1,10,40,3,1
        1,5,40,4,1
        2,10,10,5,1
        2,10,10,5,2
        3,10,50,5,1
     >

    # How many points are required to reach this phase of the alien invasion. Default: 5000
    I:"Stage 2 Invasion Point threshold"=5000

    # Remove entries or add entries to modify this stage's event pool. [ Min event ID: 0 | Max event ID: 4 ]
    # 
    # Format: 1,10 OR 1,10,40,3,3
    # This creates an event with the ID of 1 with a weight of 10.
    # In the latter format, this creates an event with the ID of 1 with a weight of 10, giving it 40 seconds per stage, with 3 stages total and takes place at level 3
    S:"Stage 2 event pool" <
        1,10,40,3,1
        1,5,40,4,1
        2,10,10,5,3
        3,10,50,5,2
        2,5,20,5,4
        4,10,50,3,1
     >

    # How many points are required to reach this phase of the alien invasion. Default: 10000
    I:"Stage 3 Invasion Point threshold"=10000

    # Remove entries or add entries to modify this stage's event pool. [ Min event ID: 0 | Max event ID: 4 ]
    # 
    # Format: 1,10 OR 1,10,40,3,3
    # This creates an event with the ID of 1 with a weight of 10.
    # In the latter format, this creates an event with the ID of 1 with a weight of 10, giving it 40 seconds per stage, with 3 stages total and takes place at level 3
    S:"Stage 3 event pool" <
        1,10,35,3,2
        5,5,60,3,1
        2,10,10,5,3
        3,10,50,5,4
        5,2,60,4,1
        4,20,50,3,1
     >

    # How many points are required to reach this phase of the alien invasion. Default: 50000
    I:"Stage 4 Invasion Point threshold"=50000

    # Remove entries or add entries to modify this stage's event pool. [ Min event ID: 0 | Max event ID: 4 ]
    # 
    # Format: 1,10 OR 1,10,40,3,3
    # This creates an event with the ID of 1 with a weight of 10.
    # In the latter format, this creates an event with the ID of 1 with a weight of 10, giving it 40 seconds per stage, with 3 stages total and takes place at level 3
    S:"Stage 4 event pool" <
        1,10,35,3,2
        5,5,60,3,1
        2,10,10,5,3
        3,10,50,5,4
        5,2,60,4,1
        4,20,50,3,1
     >

    # How many points are required to reach this phase of the alien invasion. Default: 100000
    I:"Stage 5 Invasion Point threshold"=100000

    # Remove entries or add entries to modify this stage's event pool. [ Min event ID: 0 | Max event ID: 4 ]
    # 
    # Format: 1,10 OR 1,10,40,3,3
    # This creates an event with the ID of 1 with a weight of 10.
    # In the latter format, this creates an event with the ID of 1 with a weight of 10, giving it 40 seconds per stage, with 3 stages total and takes place at level 3
    S:"Stage 5 event pool" <
        1,10,35,3,2
        5,5,60,3,1
        2,10,10,5,3
        3,10,50,5,4
        5,2,60,4,1
        4,20,50,3,1
     >

    # How many points are required to reach this phase of the alien invasion. Default: 2500000
    I:"Stage 6 Invasion Point threshold"=2500000

    # Remove entries or add entries to modify this stage's event pool. [ Min event ID: 0 | Max event ID: 4 ]
    # 
    # Format: 1,10 OR 1,10,40,3,3
    # This creates an event with the ID of 1 with a weight of 10.
    # In the latter format, this creates an event with the ID of 1 with a weight of 10, giving it 40 seconds per stage, with 3 stages total and takes place at level 3
    S:"Stage 6 event pool" <
        1,10,35,3,2
        5,5,60,3,1
        2,10,10,5,3
        3,10,50,5,4
        5,2,60,4,1
        4,20,50,3,1
     >

    # Made for Trepidation. Any value at 0 or below disables this; overrides the original drop pod heights for events. Default: -1
    I:"Trepidation Mode Drop Pod Height"=-1
}


