# Configuration file

##########################################################################################################
# purged
#--------------------------------------------------------------------------------------------------------#
# 
# If active, based on how many wyrms are killed in a day, that EXACT amount will revive as The Purged at night. The Purged are a special variant of wyrm that resist all non-magic damage and will vanish at night.
# 
##########################################################################################################

purged {
    # The maximum number of purged wyrms that are allowed to spawn at night. This will stop their spawns from overloading CPUs! Default: 100, Range: 0 - 4000
    I:"Hard spawn cap"=100

    # Activates Purged variants
    B:"Modifier Activated"=false
}


