# Configuration file

##########################################################################################################
# !wyrm stats
#--------------------------------------------------------------------------------------------------------#
# 
# This file contains mostly every adjustable base stat value present on the wyrms. Keep in mind that in-game, these values may CHANGE due to the Invasion and/or Evolution system.
# 
#  STAT KEYS:
# 
# SPD: Speed
# ATK: Damage
# HP: Health
# DEF: Armor
# KBR: Knockback Reduction
# 
# 
#  These values are part of advanced configuration for more precise user tuning. Good for modpack developers.
##########################################################################################################

"!wyrm stats" {
}


##########################################################################################################
# biter base stats
#--------------------------------------------------------------------------------------------------------#
# 
# Stats for the Biters.
# 
##########################################################################################################

"biter base stats" {
    # Default: 1.000000
    D:Attack=1.0

    # Default: 1.500000
    D:"Block Breaking Strength"=1.5

    # Default: true
    B:"Can Break Blocks"=true

    # Default: true
    B:"Can Spread Hive Creep"=true

    # Default: 1.000000
    D:Defense=1.0

    # Default: true
    B:Enabled=true

    # Blocks in resourcenames that this entity cannot break.
    S:"Griefing block blacklist" <
        
     >

    # Blocks in mod names that this entity cannot break. For example, entering "minecraft" for example will make the entity unable to break all blocks from that mod.
    S:"Griefing mod blacklist" <
        
     >

    # Default: 13.500000
    D:Health=13.5

    # Default: 0.050000
    D:"Knockback Resistance"=0.05000000074505806

    # Default: 3.000000
    D:"Special Attack"=3.0

    # Default: 2.000000
    D:"Special Speed"=2.0

    # Default: 0.600000
    D:Speed=0.6000000238418579
}


##########################################################################################################
# crawler base stats
#--------------------------------------------------------------------------------------------------------#
# 
# Stats for the Crawler.
# 
##########################################################################################################

"crawler base stats" {
    # Default: 3.000000
    D:"Applied Status Level"=3.0

    # Default: 2.500000
    D:Attack=2.5

    # Default: false
    B:"Can Break Blocks"=false

    # Default: true
    B:"Can Spread Hive Creep"=true

    # Default: 2.500000
    D:Defense=2.5

    # Default: true
    B:Enabled=true

    # Default: 7.000000
    D:Health=7.0

    # Default: 0.150000
    D:"Knockback Resistance"=0.15000000596046448

    # Default: 0.500000
    D:Speed=0.5
}


##########################################################################################################
# creepling base stats
#--------------------------------------------------------------------------------------------------------#
# 
# Stats for the Creepling.
# 
##########################################################################################################

"creepling base stats" {
    # Default: 3.000000
    D:Attack=3.0

    # Default: false
    B:"Can Break Blocks"=false

    # Default: true
    B:"Can Spread Hive Creep"=true

    # Default: 0.500000
    D:Defense=0.5

    # Default: true
    B:Enabled=true

    # Default: 2.000000
    D:Health=2.0

    # Default: 0.050000
    D:"Knockback Resistance"=0.05000000074505806

    # Default: 0.600000
    D:Speed=0.6000000238418579
}


##########################################################################################################
# creepwyrm base stats
#--------------------------------------------------------------------------------------------------------#
# 
# Stats for the Creepwyrm.
# 
##########################################################################################################

"creepwyrm base stats" {
    # Default: 5.500000
    D:Attack=5.5

    # Default: false
    B:"Can Break Blocks"=false

    # Default: true
    B:"Can Spread Hive Creep"=true

    # Default: 4.750000
    D:Defense=4.75

    # Default: true
    B:Enabled=true

    # Default: 38.500000
    D:Health=38.5

    # Default: 1.000000
    D:"Knockback Resistance"=1.0

    # Default: 0.240000
    D:Speed=0.23999999463558197
}


##########################################################################################################
# fungallid base stats
#--------------------------------------------------------------------------------------------------------#
# 
# Stats for the Fungallids.
# 
##########################################################################################################

"fungallid base stats" {
    # Default: 3.000000
    D:Attack=3.0

    # Default: false
    B:"Can Break Blocks"=false

    # Default: false
    B:"Can Spread Hive Creep"=false

    # Default: 4.000000
    D:Defense=4.0

    # Default: true
    B:Enabled=true

    # Default: 12.000000
    D:Health=12.0

    # Default: 4
    I:"Infestation Range"=4

    # Default: 4
    I:"Infestation Speed (in seconds)"=4

    # Default: 0.150000
    D:"Knockback Resistance"=0.15000000596046448

    # Default: 0.350000
    D:Speed=0.3499999940395355
}


##########################################################################################################
# minos base stats
#--------------------------------------------------------------------------------------------------------#
# 
# Stats for the Minos.
# 
##########################################################################################################

"minos base stats" {
    # Default: 6.500000
    D:Attack=6.5

    # Default: false
    B:"Can Break Blocks"=false

    # Default: true
    B:"Can Spread Hive Creep"=true

    # Default: 5.000000
    D:Defense=5.0

    # Default: true
    B:Enabled=true

    # Default: 11.000000
    D:Health=11.0

    # Default: 0.650000
    D:"Knockback Resistance"=0.6499999761581421

    # Default: 0.300000
    D:Speed=0.30000001192092896
}


##########################################################################################################
# myrmur base stats
#--------------------------------------------------------------------------------------------------------#
# 
# Stats for the Myrmur.
# 
##########################################################################################################

"myrmur base stats" {
    # Default: 4.000000
    D:Attack=4.0

    # Default: false
    B:"Can Break Blocks"=false

    # Default: false
    B:"Can Spread Hive Creep"=false

    # Default: 3.250000
    D:Defense=3.25

    # Default: true
    B:Enabled=true

    # Default: 10.000000
    D:Health=10.0

    # Default: 0.100000
    D:"Knockback Resistance"=0.10000000149011612

    # Default: 0.200000
    D:"Special Speed"=0.20000000298023224

    # Default: 0.350000
    D:Speed=0.3499999940395355
}


##########################################################################################################
# prime base stats
#--------------------------------------------------------------------------------------------------------#
# 
# Stats for the Prime.
# 
##########################################################################################################

"prime base stats" {
    # Default: 3.500000
    D:Attack=3.5

    # Default: 4.000000
    D:"Block Breaking Strength"=4.0

    # Default: true
    B:"Can Break Blocks"=true

    # Default: true
    B:"Can Spread Hive Creep"=true

    # Default: 6.000000
    D:Defense=6.0

    # Default: true
    B:Enabled=true

    # Blocks in resourcenames that this entity cannot break.
    S:"Griefing block blacklist" <
        
     >

    # Blocks in mod names that this entity cannot break. For example, entering "minecraft" for example will make the entity unable to break all blocks from that mod.
    S:"Griefing mod blacklist" <
        
     >

    # Default: 32.000000
    D:Health=32.0

    # Default: 1.000000
    D:"Knockback Resistance"=1.0

    # Default: 0.190000
    D:Speed=0.1899999976158142
}


##########################################################################################################
# prober base stats
#--------------------------------------------------------------------------------------------------------#
# 
# Stats for the Prober.
# 
##########################################################################################################

"prober base stats" {
    # Default: 6.000000
    D:Attack=6.0

    # Default: 2.000000
    D:"Block Breaking Strength"=2.0

    # Default: true
    B:"Can Break Blocks"=true

    # Default: false
    B:"Can Spread Hive Creep"=false

    # Default: 3.250000
    D:Defense=3.25

    # Default: true
    B:Enabled=true

    # Default: 5.000000
    D:Health=5.0

    # Default: 0.150000
    D:"Knockback Resistance"=0.15000000596046448

    # Default: 0.550000
    D:Speed=0.550000011920929
}


##########################################################################################################
# rad'iwyrm base stats
#--------------------------------------------------------------------------------------------------------#
# 
# Stats for the Rad'iwyrm.
# 
##########################################################################################################

"rad'iwyrm base stats" {
    # Default: 4.500000
    D:Attack=4.5

    # Default: false
    B:"Can Break Blocks"=false

    # Default: false
    B:"Can Spread Hive Creep"=false

    # Default: 3.750000
    D:Defense=3.75

    # Default: true
    B:Enabled=true

    # Default: 8.000000
    D:Health=8.0

    # Default: 0.350000
    D:"Knockback Resistance"=0.3499999940395355

    # Default: 0.550000
    D:Speed=0.550000011920929
}


##########################################################################################################
# rover base stats
#--------------------------------------------------------------------------------------------------------#
# 
# Stats for the Rover.
# 
##########################################################################################################

"rover base stats" {
    # Default: 3.500000
    D:Attack=3.5

    # Default: false
    B:"Can Break Blocks"=false

    # Default: false
    B:"Can Spread Hive Creep"=false

    # Default: 1.750000
    D:Defense=1.75

    # Default: true
    B:Enabled=true

    # Default: 4.500000
    D:Health=4.5

    # Default: 0.150000
    D:"Knockback Resistance"=0.15000000596046448

    # Default: 0.700000
    D:Speed=0.699999988079071
}


##########################################################################################################
# soldier base stats
#--------------------------------------------------------------------------------------------------------#
# 
# Stats for the Soldiers.
# 
##########################################################################################################

"soldier base stats" {
    # Default: 4.000000
    D:Attack=4.0

    # Default: 3.500000
    D:"Block Breaking Strength"=3.5

    # Default: true
    B:"Can Break Blocks"=true

    # Default: false
    B:"Can Spread Hive Creep"=false

    # Default: 7.250000
    D:Defense=7.25

    # Default: true
    B:Enabled=true

    # Blocks in resourcenames that this entity cannot break.
    S:"Griefing block blacklist" <
        
     >

    # Blocks in mod names that this entity cannot break. For example, entering "minecraft" for example will make the entity unable to break all blocks from that mod.
    S:"Griefing mod blacklist" <
        
     >

    # Default: 20.000000
    D:Health=20.0

    # Default: 0.700000
    D:"Knockback Resistance"=0.699999988079071

    # Default: 0.500000
    D:Speed=0.5
}


##########################################################################################################
# strykerfolly base stats
#--------------------------------------------------------------------------------------------------------#
# 
# Stats for the Strykerfolly.
# 
##########################################################################################################

"strykerfolly base stats" {
    # Default: 7
    D:"Ascended ATK"=8.0

    # Default: 5
    D:"Ascended DEF"=7.0

    # Default: 100
    D:"Ascended HP"=120.0

    # Default: 1.0
    D:"Ascended KBR"=1.0

    # Default: 0.85
    D:"Ascended SPD"=0.85

    # Default: 200
    I:"Kills until Ascension"=250

    # Default: 6
    D:"Middling ATK"=8.0

    # Default: 5
    D:"Middling DEF"=10.0

    # Default: 50
    D:"Middling HP"=72.0

    # Default: 0.5
    D:"Middling KBR"=0.5

    # Default: 0.75
    D:"Middling SPD"=0.75

    # Default: 4
    D:"Primordial ATK"=5.0

    # Default: 0
    D:"Primordial DEF"=1.0

    # Default: 25
    D:"Primordial HP"=25.5

    # Default: 0.85
    D:"Primordial KBR"=0.85

    # Default: 0.42
    D:"Primordial SPD"=0.44999998807907104
}


##########################################################################################################
# vanitas base stats
#--------------------------------------------------------------------------------------------------------#
# 
# Stats for the Vanitas.
# 
##########################################################################################################

"vanitas base stats" {
    # Default: 4.500000
    D:Attack=4.5

    # Default: false
    B:"Can Break Blocks"=false

    # Default: true
    B:"Can Spread Hive Creep"=true

    # Default: 2.500000
    D:Defense=2.5

    # Default: true
    B:Enabled=true

    # Default: 10.000000
    D:Health=10.0

    # Default: 0.400000
    D:"Knockback Resistance"=0.4000000059604645

    # Default: 0.800000
    D:"Special Speed"=0.800000011920929

    # Default: 0.350000
    D:Speed=0.3499999940395355
}


##########################################################################################################
# visitor base stats
#--------------------------------------------------------------------------------------------------------#
# 
# Stats for the Visitor.
# 
##########################################################################################################

"visitor base stats" {
    # Default: 4
    D:"Normal DEF"=7.0

    # Default: 250
    D:"Normal HP"=300.0

    # Default: 1.0
    D:"Normal KBR"=1.0

    # Default: 0.15
    D:"Normal SPD"=0.15
}


##########################################################################################################
# warrior base stats
#--------------------------------------------------------------------------------------------------------#
# 
# Stats for the Warriors.
# 
##########################################################################################################

"warrior base stats" {
    # Default: 4
    D:"Normal ATK"=5.0

    # Default: 2
    D:"Normal DEF"=2.0

    # Default: 14
    D:"Normal HP"=18.0

    # Default: 0.05
    D:"Normal KBR"=0.05

    # Default: 0.45
    D:"Normal SPD"=0.45

    # Default: 12
    D:"Tainted Variant ATK"=12.0

    # Default: 16
    D:"Tainted Variant DEF"=16.0

    # Default: 66
    D:"Tainted Variant HP"=66.0

    # Default: 0.5
    D:"Tainted Variant KBR"=0.5

    # Default: 0.45
    D:"Tainted Variant SPD"=0.45
}


##########################################################################################################
# worker base stats
#--------------------------------------------------------------------------------------------------------#
# 
# Stats for the Worker.
# 
##########################################################################################################

"worker base stats" {
    # Default: 2.000000
    D:Attack=2.0

    # Default: 8.000000
    D:"Block Breaking Strength"=8.0

    # Default: true
    B:"Can Break Blocks"=true

    # Default: false
    B:"Can Spread Hive Creep"=false

    # Default: 4.500000
    D:Defense=4.5

    # Default: true
    B:Enabled=true

    # Default: 14.000000
    D:Health=14.0

    # Default: 0.150000
    D:"Knockback Resistance"=0.15000000596046448

    # Default: 0.350000
    D:Speed=0.3499999940395355
}


##########################################################################################################
# wyrmling base stats
#--------------------------------------------------------------------------------------------------------#
# 
# Stats for the Wyrmling.
# 
##########################################################################################################

"wyrmling base stats" {
    # Default: 1.500000
    D:Attack=1.5

    # Default: false
    B:"Can Break Blocks"=false

    # Default: false
    B:"Can Spread Hive Creep"=false

    # Default: 8.000000
    D:Defense=8.0

    # Default: true
    B:Enabled=true

    # Default: 6.500000
    D:Health=6.5

    # Default: 0.150000
    D:"Knockback Resistance"=0.15000000596046448

    # Default: 0.550000
    D:Speed=0.550000011920929
}


