# Configuration file

general {

    config {
        S:dsl <
            
            ┌ v1.0
            │
            ├ min_level: 0
            ├ max_level: 50
            └
            
            ┌ COOLDOWN (
            │     shape: flat
            │     min: 74s
            │     max: 25s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   66s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   30s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ RANGE (
            │     shape: flat
            │     min: 24b
            │     max: 42b
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   36b
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   40b
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ SIZE (
            │     shape: flat
            │     min: 3b
            │     max: 6b
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   4b
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   5b
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DURATION (
            │     shape: none
            │     min: 0.5s
            └ )
            
            ┌ DAMAGE (
            │     shape: flat
            │     min: 5h
            │     max: 9h
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   8h
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   8h
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DOT (
            │     shape: flat
            │     min: 1h
            │     max: 4h
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   3h
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   3h
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            │ DOT_DURATION (
            │     shape: none
            │     value: 4s
            └ )
            
            ┌ XP (
            │     shape: flat
            │     min: 0
            │     max: infinite
            │
            │     {0} [
            │         shape: none
            │         return: 600
            │     ]
            │
            │     {1 to 50} [
            │         shape: multiply 8
            │     ]
            └ )
            
         >
    }

}


