/options.txt
/optionsof.txt
/knownkeys.txt
.curseclient
/llibrary/
/.mixin.out/
/logs
minecraftinstance.json
realms_persistence.json
/saves
usercache.json
usernamecache.json
/screenshots
mods/OptiFine_1.16.5_HD_U_G7.jar
/crash-reports
optionsshaders.txt
/shaderpacks
/XaeroWaypoints
XaeroWaypoints_*
crafttweaker.log
dropt.log
config/jei/worldSettings.cfg
/llibrary/debug/
/config/multimob/modInformation/
/mods/hats/
mods/LagGoggles-1.12.2-5.8-132.jar
config/LagGoggles-server.cfg
config/LagGoggles-client.cfg
mods/TickCentral-3.2.jar
manifest.json
modlist.html
mods/OptiFine_1.12.2_HD_U_G6_pre1.jar
mods/Sound-Physics-1.12.2-1.0.10.jar
.ReAuth.cfg
concheckrmd
.gamelaunched
servers.dat
