
.curseclient
/.mixin.out/
/logs
minecraftinstance.json
options.txt
realms_persistence.json
/saves
usercache.json
usernamecache.json
/screenshots
knownkeys.txt
mods/OptiFine_1.16.5_HD_U_G7.jar
/crash-reports
optionsof.txt
optionsshaders.txt
/shaderpacks
/XaeroWaypoints
XaeroWaypoints_*
crafttweaker.log
dropt.log