/options.txt
/optionsof.txt
/knownkeys.txt
.curseclient
/llibrary/
/.mixin.out/
/logs
minecraftinstance.json
realms_persistence.json
/saves
usercache.json
usernamecache.json
/screenshots
mods/OptiFine_1.16.5_HD_U_G7.jar
/crash-reports
/XaeroWaypoints
XaeroWaypoints_*
crafttweaker.log
dropt.log
config/jei/worldSettings.cfg
/llibrary/debug/
/config/multimob/modInformation/
/mods/hats/
mods/LagGoggles-1.12.2-5.8-132.jar
config/LagGoggles-server.cfg
config/LagGoggles-client.cfg
mods/TickCentral-3.2.jar
manifest.json
modlist.html
mods/OptiFine_1.12.2_HD_U_G6_pre1.jar
mods/Sound-Physics-1.12.2-1.0.10.jar
.ReAuth.cfg
concheckrmd
.gamelaunched
servers.dat
/resourcepacks/Green Screen Custom Sky UNIVERSAL/
mods/Green Screens 2.0.jar
shaderpacks/Chocapic13_V9.1_Extreme_beta_5.zip
fancymenu_data/last_world.fmdata
mputils/settings.dat
scripts/.zsrc
config/splash.properties
config/customloadingscreen_timings.nbt
config/cd4017be/compiled.dat
config/InvTweaks.cfg
config/fantasticlib/reference/*
essential/avatar-cache/
essential/cosmetic-cache/
essential/loader/
essential/screenshot-cache/
essential/lwjgl3-natives/
essential/screenshot-checksum-caches.json
essential/Essential (forge_1.12.2).jar
essential/mappings/
mods/preview_OptiFine_1.12.2_HD_U_G6_pre1.jar
vintagefix/transformerCache/jarDiscoverer.cache
mods/memory_repo/*
config/mod-director/file-director_requisites.bundle.json
shaderpacks/ComplementaryUnbound_r5.0.1.zip
config/normalasm/methods-stable_39.csv
/config/spark
mods/hitindication-1.12.2-2.0.jar
/classOut
config/acronym/saved/material_parts_contenttweaker-original.json
config/acronym/saved/material_parts_contenttweaker.json
config/acronym/saved/saved_sub_blocks_contenttweaker-original.json
config/acronym/saved/saved_sub_blocks_contenttweaker.json
patchouli_data.json
config/fancymenu/user_variables.db
/mods/1.12.2
