# Configuration file

general {
    # Show the debug info
    B:ShowDebugInfo=true

    # Show an overlay for the name of the current GUI
    B:ShowGUIName=false

    # If ShowDebugInfo is set to true, but you only want to see the song name
    B:ShowJustCurSong=false

    # Only silence blocked music when there is music from Music Triggers already playing
    B:SilenceIsBad=false

    # List of mod ids to remove the music from so there is not any overlap
    S:blockedmods <
     >

    # Allows you to set variable names for songs to avoid needing multiple copies of the same song (see redirect.txt)
    # Usage: customname,songname
    # Note - All names used in the main config will still generate music discs if that option is turned on
    B:enableRedirect=true
}


