# Configuration file

general {

    ##########################################################################################################
    # registry
    #--------------------------------------------------------------------------------------------------------#
    # Registry
    ##########################################################################################################

    registry {
        # Client Side Only
        # The following will not work: Structure trigger on servers, Mob Trigger targetting parameter
        B:clientSideOnly=false

        # Music Discs
        B:registerDiscs=true
    }

}


