# Configuration file

general {
    # Image Cards
    # Format: Image Title,event1,event2,event3,etc...
    # Note: The Image must be located in [config/MusicTriggers/songs/assets/musictriggers/textures] and be a png
    # Look above to the title cards to see the list of events
    # Example: nightimg,night
    # Example 2: imgtitle,dimension-50,deepUnder,light
    S:ImageCards <
     >

    # Image Card Horizontal
    # Negative numbers will move the image cards to the left while positive numbers will move them to the right
    # A value of 0 means the image will be centered
    # This value must be an integer
    I:ImageH=0

    # Image Card Size
    # This act as a percentage for how big the image cards are.
    # 1.00 = 100%
    # This value must be a float
    D:ImageSize=1.0

    # Image Card Vertical
    # Negative numbers will move the image cards upwards while positive numbers will move them downwards
    # A value of 0 means the image will be right above where the title cards show up, given the image size is still set to 1.0
    # This value must be an integer
    I:ImageV=0

    # Title Cards
    # Format: Title,subtitle,event1,event2,event3,etc...
    # Example 1: The Underground,The only light is your own,underground
    # Example 2: Twilit Rain,A more ominous rain than usual,raining,dimension7
    # List of event names: menu, generic, day, night, sunrise, sunset, light, 
    # underground, deepUnder, raining, storming, snowing, lowHP, dead, inVoid, 
    # spectator, creative, riding, pet, high, 
    # dimension(id) - Ex: dimension7, biomename - Ex: minecraft:swamp, 
    # structure:(name) - Ex: structure:Fortress, mobName - Ex: Zombie, 
    # stageName(true/false) - Ex: stageOnetrue
    S:TitleCards <
     >
}


