# Configuration file

general {

    config {
        S:dsl <
            
            ┌ v1.0
            │
            ├ min_level: 0
            ├ max_level: 50
            └
            
            ┌ COOLDOWN (
            │     shape: flat
            │     min: 38s
            │     max: 22s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   30s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   28s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ RANGE (
            │     shape: none
            │     value: 24b
            └ )
            
            ┌ SIZE (
            │     shape: flat
            │     min: 1b
            │     max: 3b
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   1.5b
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   2b
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ AMOUNT (
            │     shape: flat
            │     min: 5
            │     max: 8
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   6b
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   7b
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DAMAGE (
            │     shape: flat
            │     min: 0.5h
            │     max: 2h
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   1h
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   1.5h
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ XP (
            │     shape: flat
            │     min: 0
            │     max: infinite
            │
            │     {0} [
            │         shape: none
            │         return: 600
            │     ]
            │
            │     {1 to 50} [
            │         shape: multiply 8
            │     ]
            └ )
            
         >
    }

}


