# Configuration file

general {

    config {
        S:dsl <
            
            ┌ v1.0
            │
            ├ min_level: 0
            ├ max_level: 50
            └
            
            ┌ COOLDOWN (
            │     shape: flat
            │     min: 72s
            │     max: 22s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   34s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   24s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ RANGE (
            │     shape: flat
            │     min: 24b
            │     max: 42b
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   36b
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   40b
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ SIZE (
            │     shape: flat
            │     min: 4b
            │     max: 8b
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   5b
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   6b
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DURATION (
            │     shape: none
            │     value: 1s
            └ )
            
            ┌ DAMAGE (
            │     shape: flat
            │     min: 2h
            │     max: 7h
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   4h
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   6h
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DOT (
            │     shape: flat
            │     min: 4h
            │     max: 8h
            │
            │     {0 to 50} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   7h
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            │ DOT_DURATION (
            │     shape: none
            │     value: 8s
            └ )
            
            ┌ XP (
            │     shape: flat
            │     min: 0
            │     max: infinite
            │
            │     {0} [
            │         shape: none
            │         return: 600
            │     ]
            │
            │     {1 to 50} [
            │         shape: multiply 8
            │     ]
            └ )
            
         >
    }

}


