# Configuration file

general {

    config {
        S:dsl <
            
            ┌ v1.0
            │
            ├ min_level: 0
            ├ max_level: 50
            └
            
            ┌ COOLDOWN (
            │     shape: flat
            │     min: 48s
            │     max: 16s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   26s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   22s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ RANGE (
            │     shape: flat
            │     min: 24b
            │     max: 42b
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   36b
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   40b
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DAMAGE (
            │     shape: flat
            │     min: 1h
            │     max: 3h
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   1.5h
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   2h
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DOT (
            │     shape: flat
            │     min: 4h
            │     max: 8h
            │
            │     {0 to 50} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   7h
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            │ DOT_DURATION (
            │     shape: none
            │     value: 8s
            └ )
            
            ┌ XP (
            │     shape: flat
            │     min: 0
            │     max: infinite
            │
            │     {0} [
            │         shape: none
            │         return: 300
            │     ]
            │
            │     {1 to 50} [
            │         shape: multiply 6
            │     ]
            └ )
            
         >
    }

}


