# Configuration file

general {

    config {
        S:dsl <
            
            ┌ v1.0
            │
            ├ min_level: 0
            ├ max_level: 50
            └
            
            ┌ COOLDOWN (
            │     shape: flat
            │     min: 42s
            │     max: 16s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   26s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   22s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ RANGE (
            │     shape: none
            │     value: 4b
            └ )
            
            ┌ DURATION (
            │     shape: none
            │     value: 0.5s
            └ )
            
            ┌ DAMAGE (
            │     shape: flat
            │     min: 3h
            │     max: 8h
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   4h
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   6h
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DOT (
            │     shape: flat
            │     min: 0.5h
            │     max: 2h
            │
            │     {0 to 50} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   1h
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            │ DOT_DURATION (
            │     shape: none
            │     value: 1s
            └ )
            
            ┌ XP (
            │     shape: flat
            │     min: 0
            │     max: infinite
            │
            │     {0} [
            │         shape: none
            │         return: 300
            │     ]
            │
            │     {1 to 50} [
            │         shape: multiply 6
            │     ]
            └ )
            
         >
    }

}


