# Configuration file

##########################################################################################################
# acute radiation syndrome
#--------------------------------------------------------------------------------------------------------#
# 
# [CURRENTLY INDEV DO NOT ACTIVATE UNLESS YOU KNOW WHAT YOU ARE DOING!]
# 
# The ARS system simulates Radiation Poisoning on players exposed to the Nyral Wyrms. This is not like Fallout Rads mechanics and managing ARS requires you to know how ARS works in real life, as this system aims to *accurately* simulate the effects of ARS.
# 
# 
# Instead of going off of ONLY the collective dosage like what HBM, NC, and TG does, this goes off of an active dosage, which then determines up to how many stages of ARS a player can go through, and the chances of ARS turning untreatable and fatal instead of something that can recover on its own.
# 
# However, this does NOT grant the player absolute immunity from crazy high dosages. A dosage of above 30 Gy is INSTANTLY fatal.
# 
# 
# 
# The ARS System goes off of Gy, or Grays, a unit of radiation dosage in the SI. By default, the ARS system aims to be as scientifically accurate as possible; factory presets only change how much is emitted from Wyrms and Creeped. ARS progression times are slightly changed for gameplay purposes but still reflect the real science.
# 
##########################################################################################################

"acute radiation syndrome" {
    # If left untreated, this is how much time they have until death. Treatment will only buy time. Default: 2
    I:"Deadly Dosage Days Until Death"=2

    # The maximum Gy a player can be exposed to and experience Stage 3 of ARS and have no recovery chance without dying on the spot. Any values beyond this is instant, unquestionable death. Treatment only buys time left before inevitable death. This is Stage 4 of ARS. Default: 30.0
    D:"Deadly Dosage Limit"=30.0

    # The maximum number of days a player can extend their lifespan during Stage 4 of ARS through treatment. Death with occur within this many days + base Days Until Death. Default: 14
    I:"Deadly Dosage Maximum Buyable Time"=14

    # Enable or disable the ARS system. Default: true
    B:Enabled=true

    # If the player does not recover from Stage 1 ARS, either due to bad luck or too many stacks of it, this is how much time they have until death. Default: 30
    I:"Mild Dosage Days Until Death"=30

    # The maximum Gy a player can be exposed to and only feel the most mild of effects of ARS. The player is somewhat likely to recover from this, but can die at an extremely slow rate if left completely untreated over prolonged exposure. This is Stage 1 of ARS. Default: 2.0
    D:"Mild Dosage Limit"=2.0

    # The number of minutes until the second wave of symptoms. Default: 6
    I:"Minutes Until Onset"=6

    # If the player does not recover from Stage 2 ARS, either due to bad luck, failure to treat, or too many stacks of it, this is how much time they have until death. Default: 16
    I:"Moderate Dosage Days Until Death"=16

    # The maximum Gy a player can be exposed to and experience the more considerable effects of ARS. Treatment is required at this level of exposure to avoid death and symptoms, and outcomes start to look bleak, even with treatment, as recovery rates average around 55.5%. This is Stage 2 of ARS. Default: 6.0
    D:"Moderate Dosage Limit"=6.0

    # The maximum Gy a player can be exposed to and never feel the effects of ARS. They player will always recover from this. This is Stage 0 of ARS. Default: 0.7
    D:"Safe Dosage Limit"=0.7

    # How many seconds does the player build up Grays before it becomes a dosage, after which acquired Gy will reset to 0. Default: 95
    I:"Seconds Until Dosage"=95

    # If the player does not recover from Stage 3 ARS, either due failure to treat it or bad luck, this is how much time they have until death. Default: 8
    I:"Severe Dosage Days Until Death"=8

    # The maximum Gy a player can be exposed to and experience ALL effects of ARS. Even with treatment, recovery rates are extremely low. This is Stage 3 of ARS. Default: 8.0
    D:"Severe Dosage Limit"=8.0

    # The number of days when 1 point of a player's ARS stacks gets taken off. Default: 1
    I:"Stage Stack Days Until Decay"=1

    # The number of ARS stacks that will increase general ARS severity. Stacks are added when the active ARS stage is above Stage 1. Stages of ARS will add more stacks over time based on the dosage. This value * 4 also defines the fatal limit in stacks. Stacks will not cause an effect but will affect survival chances. It will decay over time. Default: 5
    I:"Stage Stack Severity Steps"=5
}


