# Configuration file

##########################################################################################################
# follies
#--------------------------------------------------------------------------------------------------------#
# 
# [CURRENTLY UNUSED] Wyrmfolly will pollute the chunk they are residing within with every kill they make. When enough follyflesh exists in the area, new follies can be made, and follies in this area get extra bonuses. This is not a biome, but rather a world mechanic.
# 
##########################################################################################################

follies {
    # Folly blocks don't stop normal mobs from spawning on them by default. Disable this if you think that wyrmfollies are getting extremely powerful due to them killing mobs spawning in their territory. Default: true
    B:"Blocks don't prevent mob spawns"=true
}


##########################################################################################################
# general world
#--------------------------------------------------------------------------------------------------------#
# 
# Details and expectations of the world and time mechanics
# 
##########################################################################################################

"general world" {
    # How long a day is supposed to be. Do not change this unless if another mod installed changes the day length or you configured another mod to increase or decrease the amount of ticks there is to an Overworld day! This affects many mechanics in Wyrms of Nyrus and must be handled with care! Default: 24000
    I:"Ticks in a day"=24000
}


##########################################################################################################
# hive biome
#--------------------------------------------------------------------------------------------------------#
# 
# [CURRENTLY UNUSED] After creep blocks infect a certain number of blocks in the chunk, they turn the chunk they're in to a special biome.
# 
##########################################################################################################

"hive biome" {
    # If mobs should still try to spawn on Creeped blocks. Default: true
    B:"Blocks don't prevent mob spawns"=true

    # If you are playing with Just Enough IDs or Roughly Enough IDs, you may not have patches for the new biome spread code, which can cause some severe breakage, especially between the server and client parity. Disabling this does disable the biome from being created, but can resolve the incompatibility for the time being. Default: True
    B:"Creeped Lands Enabled"=true

    # How densely should the Creeped Land be populated with structures? Default: 0.0009714
    D:"Creeped Lands Structure Density"=9.714000043459237E-4

    # How many Creeped are allowed to spawn before they are denied to spawn; this is an aggressive cap. Lower this if you are a server. Default: 60
    I:"Creeped Mob Cap"=60

    # 1 in X chance to grow some form of hivecreep growth on top of hivecreep blocks, but not hive blocks. Default: 60
    I:"Hivecreep decoration density"=60

    # Hive creep will occasionally grow plants on top of it. Default: true
    B:"Hivecreep decoration enabled"=true

    # When Hive Creep decays into Hivestone, there is a chance for it to create a hivesteel ore block instead of hivestone. 
    # Range: 5 - 2560000 | Default: 60
    I:"Hivesteel ore generation chance"=60

    # How many Primal Wyrms are allowed to spawn before they are denied to spawn; this is an aggressive cap. Lower this if you are a server. Default: 30
    I:"Primal Wyrm Mob Cap"=30

    # Age until Corium decays into Inert Corium. Leave this number small so that corium can't spread too far and cause lag. Maximum: 10 ; Default: 6
    I:"Vile creep decay"=6

    # Only activated if Scape and Run: Parasites is present. Enables corium, which eats up the world once hive creep touches parastic infestation. Developer in-joke, disable if the destruction is too much. Default: true
    B:"Vile creep enabled"=true
}


