# Configuration file

general {

    render_config {

        skillgroup {
            B:inverse=false

            # Valid values:
            # VERTICAL
            # HORIZONTAL
            S:orientation=VERTICAL
            I:posX=5
            I:posY=50
            B:renderControls=true
            B:renderOverlay=true
            B:renderUnowned=false
            D:scale=1.0
            I:step=17
        }

        endurance {
            # Valid values:
            # PINK
            # BLUE
            # RED
            # GREEN
            # YELLOW
            # PURPLE
            # WHITE
            S:color=BLUE

            # Valid values:
            # VERTICAL
            # HORIZONTAL
            S:orientation=HORIZONTAL

            # Valid values:
            # PROGRESS
            # NOTCHED_6
            # NOTCHED_10
            # NOTCHED_12
            # NOTCHED_20
            S:overlay=PROGRESS
            I:posX=5
            I:posY=5
            B:renderOverlay=true
            D:scale=1.0
            I:size=182
        }

        rendering {
            # Check this if even the vanilla renders are killing your fps
            B:helpMyFramesAreDying=false

            # Check this if shaders are broken to turn them off
            B:helpMyShadersAreDying=false

            # Particle Spawning Chance
            # Min: 0.0
            # Max: 1.0
            D:particleSpawning=1.0

            # Use vanilla render effects on the more fancy renders (for low end graphics cards)
            B:vanilla=true
        }

    }

}


