# Configuration file

general {

    config {
        # Syncs config reloads to all players in the server upon connecting or reloading server config files, if you are a dedicated server owner you might want this turned off
        B:syncValuesToClient=true

        skill {
            # Disallows abilities to target passive mobs
            B:defaultAnimalTeam=false

            # Disallows abilities to target humans
            B:defaultHumanTeam=true

            # Disallows abilities from breaking blocks
            B:destroyBlocks=false

            # Modifies positive effects of all abilities (used for balancing heals)
            D:globalNegativeEffect=1.0

            # Modifies negative effects of all abilities (used for balancing damage)
            D:globalPositiveEffect=1.0

            # Disallows DoT abilities from knockback
            B:preventAbilityDoTKnockback=true
        }

        advancement {
            I:maxResetUnlocks=2
            B:oneTreePerClass=true

            xp {
                # Cost increment when switching trees
                D:costIncrement=0.5

                # Cost increment of all advancements
                D:globalCostMultiplier=1.0

                # Percentage of all xp spent that is returned on reset
                D:retryXPReturn=0.8

                # Percentage of xp stored
                D:xpStoreTariff=1.0

                # Percentage of xp taken
                D:xpTakeTariff=0.8
            }

            levels {
                I:defaultLevel=1
                S:function <
                    (0+){0}
                    (1+){1}
                    (2+){x/2}
                    (3+){x/4}
                    (4+){x/6}
                    (5+){x/8}
                    (6+){x/10}
                    (7+){x/12}
                    (8+){x/14}
                    (9+){x/(2 ^ x) * 0.1}
                 >
            }

        }

        worldgen {
            # Max number of dust dropped?
            # Min: 0
            # Max: 2147483647
            I:enderOreItemDropsMax=4

            # Min number of dust dropped?
            # Min: 0
            # Max: 2147483647
            I:enderOreItemDropsMin=1

            # How many ore per spawn?
            # Min: 0
            # Max: 2147483647
            I:enderOreQuantity=4

            # How rare the ore is 0 to 1
            # Min: 0.0
            # Max: 1.0
            D:enderOreSpawnChance=1.0

            # Max spawn height?
            # Min: 0
            # Max: 2147483647
            I:enderOreSpawnDimensions <
                0
             >

            # Max spawn height?
            # Min: 0
            # Max: 2147483647
            I:enderOreSpawnHeightMax=32

            # Min spawn height?
            # Min: 0
            # Max: 2147483647
            I:enderOreSpawnHeightMin=0

            # How many ore veins per chunk?
            # Min: 0
            # Max: 2147483647
            I:enderOreSpawnRate=11
        }

    }

}


