# Configuration file

general {

    config {
        S:dsl <
            
            ┌ v1.0
            │
            ├ min_level: 0
            ├ max_level: 50
            └
            
            ┌ COOLDOWN (
            │     shape: flat
            │     min: 30s
            │     max: 12s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   20s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   16s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DURATION (
            │     shape: flat
            │     min: 4s
            │     max: 8s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   6s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   7s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ RANGE (
            │     shape: flat
            │     min: 3b
            │     max: 9b
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   4b
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   6b
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ PULL (
            │     shape: flat
            │     min: 1b
            │     max: 2b
            │
            │     {0} [
            │         shape: none
            │         return: {min}
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ SLOW (
            │     shape: none
            │     value: 50%
            └ )
            
            ┌ STUN (
            │     shape: none
            │     value: 3s
            └ )
            
            ┌ XP (
            │     shape: flat
            │     min: 0
            │     max: infinite
            │
            │     {0} [
            │         shape: none
            │         return: 300
            │     ]
            │
            │     {1 to 50} [
            │         shape: multiply 6
            │     ]
            └ )
            
         >
    }

}


