# Configuration file

general {

    config {
        S:dsl <
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀
            ⠀min_level: 0
            ⠀max_level: 50
            ⠀
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀COOLDOWN (
            ⠀    curve: flat
            ⠀    start: 16s
            ⠀    end:   2s
            ⠀
            ⠀    {0 to 25} [
            ⠀        curve: ramp -50% 50%
            ⠀        start: {start}
            ⠀        end: 8s
            ⠀    ]
            ⠀
            ⠀    {25 to 49} [
            ⠀        curve: ramp 50% 50%
            ⠀        start: {0 to 25}
            ⠀        end: 6s
            ⠀    ]
            ⠀
            ⠀    {50} [
            ⠀        curve: none
            ⠀        value: {end}
            ⠀    ]
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀RANGE (
            ⠀    curve: flat
            ⠀    start: 2b
            ⠀    end:   5b
            ⠀
            ⠀    {0 to 25} [
            ⠀        curve: none
            ⠀        start: {start}
            ⠀        end: 3b
            ⠀    ]
            ⠀
            ⠀    {25 to 49} [
            ⠀        curve: none
            ⠀        start: {0 to 25}
            ⠀        end: 4b
            ⠀    ]
            ⠀
            ⠀    {50} [
            ⠀        curve: none
            ⠀        value: {end}
            ⠀    ]
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀STUN (
            ⠀    curve: none
            ⠀    value: 5s
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀SLOW (
            ⠀    curve: none
            ⠀    value: 50%
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀XP (
            ⠀    curve: flat
            ⠀    start: 170
            ⠀    end:   infinite
            ⠀
            ⠀    {0} [
            ⠀        curve: none
            ⠀        value: {start}
            ⠀    ]
            ⠀
            ⠀    {1 to 49} [
            ⠀        curve: multiply 4
            ⠀    ]
            ⠀
            ⠀    {50} [
            ⠀        curve: f(x, y) -> 4 * x + 4 * x * 0.1
            ⠀    ]
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
         >
    }

}


