# Configuration file

general {

    config {
        S:dsl <
            
            ┌ v1.0
            │
            ├ min_level: 0
            ├ max_level: 50
            └
            
            ┌ COOLDOWN (
            │     shape: flat
            │     min: 120s
            │     max: 80s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   90s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   85s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DURATION (
            │     shape: flat
            │     min: 20s
            │     max: 40s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   15s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   17s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DAMAGE (
            │     shape: flat
            │     min: 2h
            │     max: 7h
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   2.5h
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   5h
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DAMAGE_MIRROR (
            │     shape: flat
            │     min: 5%
            │     max: 100%
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   20%
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   75%
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ HEALTH (
            │     shape: flat
            │     min: 20h
            │     max: 60h
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   30h
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   50h
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ STUN (
            │     shape: flat
            │     min: 0.25s
            │     max: 1.5s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   0.75s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   1s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ XP (
            │     shape: flat
            │     min: 0
            │     max: infinite
            │
            │     {0} [
            │         shape: none
            │         return: 900
            │     ]
            │
            │     {1 to 50} [
            │         shape: multiply 10
            │     ]
            └ )
            
         >
    }

}


