# Configuration file

general {

    config {
        S:dsl <
            
            ┌ v1.0
            │
            ├ min_level: 0
            ├ max_level: 50
            └
            
            ┌ COOLDOWN (
            │     shape: flat
            │     min: 35s
            │     max: 16s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   23s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   17s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ RANGE (
            │     shape: flat
            │     min: 10b
            │     max: 20b
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   17b
            │     ]
            │
            │     {25 to 50} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   {max}
            │     ]
            └ )
            
            ┌ DURATION (
            │     shape: flat
            │     min: 8s
            │     max: 13s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   10.5s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   12s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ HEIGHT (
            │     shape: none
            │     value: 5b
            └ )
            
            ┌ WIDTH (
            │     shape: none
            │     value: 5b
            └ )
            
            ┌ FORCE (
            │     shape: flat
            │     min: 2b
            │     max: 20b
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   14b
            │     ]
            │
            │     {25} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   {max}
            │     ]
            └ )
            
            ┌ XP (
            │     shape: flat
            │     min: 0
            │     max: infinite
            │
            │     {0} [
            │         shape: none
            │         return: 300
            │     ]
            │
            │     {1 to 50} [
            │         shape: multiply 6
            │     ]
            └ )
            
         >
    }

}


