# Configuration file

general {
    # Change the chance of the Regeneration being given with the Ancient Wyrks armor, higher means better chance at higher health
    I:"Ancient Wyrk Armor Ability Chance"=7

    # Change the staff cooldown for the frost bullet attack, this scales the alternative attack additionally
    I:"Ancient Wyrk Staff Cooldown"=3

    # Change the Ancient Wyrk staff frost bullet damage
    D:"Ancient Wyrk Staff Frost Bullet damage"=6.0

    # change the Ancient Wyrk staff's max lazer damage, this scales with how long the staff has been charged
    I:"Ancient Wyrk Staff Lazer Damage"=18

    # This setting makes it so that if bosses killed all players around them, they will reset back into a key block with a chest above with the respective key. Allowing players to recover there loot more easily and try again. default: true
    B:"Boss Reset Enabled/Disabled"=true

    # A timer before boss reset occurs in seconds, basically if any players are not within the bosses follow radius (sight is not needed) and the boss has engaged any player in the past. This timer will countdown till reset
    I:"Boss Reset Timer"=25

    # Change the scaling added per player of attack damage to bosses, not counting one player
    D:"Boss Scaling Attack Damage"=0.1

    # Change the scaling added per player of health added to bosses, not counting one player
    D:"Boss Scaling Health"=0.4

    # Should Items listed as Crafting Material state that is a crafting material. False will disable the tool tip
    B:"Crafting Material ToolTip"=false

    # Change the chance of the Strength being given with the Frostborn's armor, higher means better chance at higher health
    I:"Frostborn Armor Ability Chance"=7

    # Change the damage scaling the champion axe can do. Higher the number, the more damage it does the lower the health of the player
    D:"Frostborn Champion Axe Chance"=4.0

    # Change the damage factor of the Frostborn Champion Axe
    D:"Frostborn Champion Axe Damage"=9.0

    # Change the damage factor of the Frostborn Sword
    D:"Frostborn Sword Damage"=6.5

    # Change how far the Frozen Soul Star and Locate command searches for a Frozen Castle. In chunks not blocks!
    I:"Frozen Castle Search Radius"=175

    # Change the damage factor
    D:"Greatsword Of Ambition Damage"=6.0

    # Change the cooldown time for the Sword Of Ambition in seconds
    I:"Greatsword of Ambition Ability Cooldown"=15

    # Change how far the Soul Star and Locate command searches for a Night Lich's Tower. In chunks not blocks!
    I:"Night Lich Tower Search Radius"=100

    # Change the damage done by Poison Darts, used by Mini Blossoms and the Void Dagger
    D:"Poison Dart Damage"=7.0

    # Change the cooldown of the Soul Spears ability in seconds Both types!
    I:"Soul Spear Ability Cooldown"=10

    # Change the damage of the Soul Spear
    D:"Soul Spear Damage"=6.0

    # Change the damage of the Soul Spear RED
    D:"Soul Spear RED Damange"=7.0

    # Change to false to disable advancement requirements for Soul Stars to drop
    B:"Soul Star Advancement Requirement Enable/Disable"=true

    # Do Soul Star Altar blocks disappear when all are activated, set to false to disable
    B:"Soul Star Block Deletion"=true

    # Change the drop chance of Soul Star from anything that extends off of EntityMob, Like Zombies, Skeletons, and so on
    # Min: 0
    # Max: 100
    I:"Soul Star Drop Chance"=1

    # What advancements are required for players to use and unlock Soul Stars dropping from Mobs
    S:"Soul Star Drops Advancement Requirements" <
        da:kill_kobf
     >

    # Change if the Soul Star should drop from anything that extends from EntityMob, setting to true will enable this setting
    B:"Soul Star Drops everywhere"=false

    # Change the damage factor of the Stormvier Rapier
    D:"Stormvier Rapier Damage"=5.5

    # At what radius must any structure locating item will reset and find another one. Like getting close to a current Lich Tower in x blocks, will reset the item and find another one
    I:"Structure Location Resetting"=60

    # Change how far the Void Lily and Locate command searches for a Void Blossoms Cave. In chunks not blocks!
    I:"Void Blossom Cave Search Radius"=100

    # Change the cool down of the Void Dagger
    I:"Void Dagger Cooldown"=7

    # Change the damage factor of the Void Dagger
    D:"Void Dagger Damage"=5.0
}


