# Configuration file

general {
    # Change the armor value of the Ancient Wyrk
    D:"Ancient Wyrk Armor"=18.0

    # Change the armor toughness of the Ancient Wyrk
    D:"Ancient Wyrk Armor Toughness"=7.0

    # Change the attack damage of the Ancient Wyrk
    D:"Ancient Wyrk Attack Damage"=30.0

    # Change the cooldown of the Ancient Wyrk, in seconds
    I:"Ancient Wyrk Cooldown"=5

    # Change the health of the Ancient Wyrk
    D:"Ancient Wyrk Health"=250.0

    # When the friendly Wyrk collects souls, it will heal itself this amount when it's health reaches a 95% threshold
    D:"Friendly Wyrk Heal Amount"=5.0

    # Change the Attack Daamge of the Frostborn Draugr
    D:"Frostborn Draugr Attack Damage"=16.0

    # Change the armor value of the Frostborn Draugr Champion
    D:"Frostborn Draugr Champion Armor"=18.0

    # Change the armor toughness value of the Frostborn Draugr Champion
    D:"Frostborn Draugr Champion Armor Toughness"=4.0

    # Change the attack damage of the Frostborn Draugr Champion
    D:"Frostborn Draugr Champion Attack Damage"=22.0

    # Change the health of the Frostborn Draugr Champion
    D:"Frostborn Draugr Champion Health"=175.0

    # Change the Health of the Frostborn Draugr
    D:"Frostborn Draugr Health"=25.0

    # How much damage is dealt by the magma blocks popping out of the ground
    D:"Knight of Burning Flame AOE Damage"=5.0

    # Change the armor value of the this boss (Knight of Burning Flame)
    D:"Knight of Burning Flame Armor"=16.0

    # Change the armor toughness value of this boss (Knight of Burning Flame)
    D:"Knight of Burning Flame Armor Toughness"=8.0

    # Change the Cooldown of the Burning Knight of Flame for when in a aggrivated state, in ticks (20 ticks = 1 second
    I:"Knight of Burning Flame Attack Cooldown Aggrivation State"=20

    # Change the Cooldown of the Burning Knight of Flame when from a longer distance not in a aggrivated state, in ticks (20 ticks = 1 second)
    I:"Knight of Burning Flame Attack Cooldown Long Distance"=100

    # Change the Cooldown of the Burning of Flame when from a short distance not in a aggrivated state, in ticks (20 ticks = 1 second
    I:"Knight of Burning Flame Attack Cooldown Short Distance"=30

    # Change the attack damage of this boss (Knight of Burning Flame)
    D:"Knight of Burning Flame Attack Damage"=3.0

    # Change the timer that the Knight of Burning Flame can block attacks, take not this is only fired between cool downs of each attack in seconds
    D:"Knight of Burning Flame Block Cooldown"=3.5

    # Take in mind, this boss drops x number of experience 16 times, you can change the value of the given orb summoned below
    I:"Knight of Burning Flame Experience Drop"=10

    # Change if the Knight of Burning Flame can use healing potions, default: true
    B:"Knight of Burning Flame Heal Action"=true

    # Change the health of this boss (Knight of Burning Flame)
    D:"Knight of Burning Flame Health"=100.0

    # Change the amount of health healed when the Knight of Burning Flame uses a health potion. this is measured in X / Maxhealth. so .07 would be 7% of it's max health
    D:"Knight of Burning Flame Health Potion Amount"=0.20

    # Change the cooldown before the Knight of Burning Flame can use another Health Potion in seconds, take note! This boss is limited in how many potions it can use. Only using one per 25% Health if it gets a chance to use one
    I:"Knight of Burning Flame Health Potion Cooldown"=15

    # Do the Projectiles the nether knight shoots set ablaze when exploding
    B:"Knight of Burning Flame Let the world Burn"=false

    # Change the attack damage of Mini Void Blossom
    D:"Mini Void Blossom Attack Damage"=8.0

    # Change the health of the Mini Void Blossom
    D:"Mini Void Blossom Health"=40.0

    # Change the attack damage of the Nether Abberrant
    D:"Nether Abberrant Attack Damage"=2.5

    # Change the health of the Nether Abberrant
    D:"Nether Abberrant Health"=20.0

    # Change the active mob count the Night Lich can have, try to do it in multiples of 4
    I:"Night Lich Active Mob Count"=12

    # Change the distance from the Lich for that mob too not be counted as an active mob
    I:"Night Lich Active Mob Count Distance"=70

    # Per player not including one, the Night Lich can have x additional mobs in active mob count. This does not affect the progressive cooldown when it reaches cap. Change to 0 to disable
    I:"Night Lich Active Mob Count Multiplayer"=4

    # Night Lich has a resistance to all damage while in melee state, you can change that value here
    D:"Night Lich Angered State Damage Reduction"=0.6

    # Change the armor value of the Night Lich
    D:"Night Lich Armor"=12.0

    # Change the Night Lich Armor Toughness
    D:"Night Lich Armor Toughness"=2.0

    # Change the Attack Damage of the Night Lich
    D:"Night Lich Attack Damage"=26.0

    # This value basically is another static, however it only adds onto the cooldown of certain attacks in areas, mostly between switching melee mode and ranged mode to give breathing room in seconds
    I:"Night Lich Cooldown Additive"=3

    # In ticks change the progressive cooldown of the Night Lich, this basically increases the cooldown for each mob that is active and summoned by the Lich. EX: 2 active mobs * x = x * 2 + static cooldown. CAPS at active mob count
    I:"Night Lich Cooldown Progressive"=5

    # Change the static cooldown of the Night Lich inbetween attacks, this is an unchanged cooldown in ticks (20 ticks = 1 second)
    I:"Night Lich Cooldown static"=15

    # When enabled, the Night Lich will disappear and essentially be gone. Usually only occurs when it's daylight. This also disables the Night Lich forcing night time
    B:"Night Lich Enable Disappearance"=true

    # When enabled, Zombies or anything that extends off of zombies will be given gear such as an Iron Sword and Helmet
    B:"Night Lich Enable Mob Gear"=true

    # Change the evening time for when the Night Lich can be summoned, take note that official day time is at 0
    I:"Night Lich Evening Disappearance Evening"=12000

    # Change the Experience dropped by the Night Lich
    I:"Night Lich Experience Value"=225

    # Change the Night Lich's speed when in the air and not doing a spell or attack, this value might seem small but trust me its fast
    D:"Night Lich Flying Speed"=0.1

    # Change the Night Lich's speed when doing certain attacks in the air, this will make the boss slower so its easier to hit
    D:"Night Lich Flying Speed Combat"=0.055

    # Change the Health of the Night Lich
    D:"Night Lich Health"=450.0

    # Change the speed of the Magic Fireball Projectiles used by the Night Lich
    D:"Night Lich Magic Fireball Speed"=1.4

    # Change the speed of the Magic Missile Projectile used by the Night Lich
    D:"Night Lich Magic Missile Speed"=1.6

    # Add or remove possible mob spawns that the Night Lich can summon, must be ModID:entity_name
    S:"Night Lich Mob Spawn List One" <
        da:frost_draugr
        da:frost_draugr_ranger
        minecraft:spider
     >

    # Add or remove possible mob spawns that the Night Lich can summon, this list only takes effect when below 50% Health. Must be ModID:entity_name
    S:"Night Lich Mob Spawn List Two" <
        da:frost_draugr
        da:frost_draugr_ranger
        minecraft:cave_spider
        minecraft:blaze
     >

    # Change the damage done by the Red Dash attack, used by baseAttackDamage * x
    D:"Night Lich Red Dash Damage Multiplier"=1.4

    # Change the damage done by the Lich's staffs in the AOE attacks, used by baseAttackDamage * x
    D:"Night Lich Staff AOE Damage Multiplier"=1.25

    # Change how often the Night Lich can attempt to teleport away from projectiles while not in a melee state, and not casting a spell. In Seconds
    I:"Night Lich Teleport Cooldown Timer"=12

    # Change the Armor value of the Stormvier Fallen
    D:"Stormvier Fallen Armor"=10.0

    # Change the Cooldown value of the Stormvier Fallen in ticks (20 tick = 1 second)
    I:"Stormvier Fallen Attack Cooldown"=50

    # Change the Attack Damage of the Stormvier Fallen
    D:"Stormvier Fallen Attack Damage"=10.0

    # Change the health of the Stormvier Fallen
    D:"Stormvier Fallen Health"=180.0

    # Change the Armor of the Stormvier/Galvonizer
    D:"Stormvier/Galvonizer Armor"=6.0

    # Change the Attack Damage of the Stormvier/Galvonizer
    D:"Stormvier/Galvonizer Attack Damage"=7.0

    # Change the Health of the Stormvier/Galvonizer
    D:"Stormvier/Galvonizer Health"=30.0

    # Change the armor value of the Void Blossom
    D:"Void Blossom Armor"=4.0

    # Change the attack cooldown of the Void Blossom in seconds with it having above 50% health
    I:"Void Blossom Attack Cooldown One"=6

    # Change the attack cooldown of the Void Blossom in seconds with it having below 50% health
    I:"Void Blossom Attack Cooldown Two"=5

    # Change the Attack Damage of the Void Blossom
    D:"Void Blossom Attack Damage"=12.0

    # Change the cooldown degradation per player not counting the first one. This basically makes the cooldown faster when there are more players around, in ticks
    I:"Void Blossom Cooldown Multiplayer"=8

    # Change the health of the Void Blossom boss
    D:"Void Blossom Health"=350.0

    # For those that don't want minions to spawn during the fight, when set to false minions will not spawn from the void blossom
    B:"Void Blossom New Attacks Enable/Disalbe"=true

    # When enabled, the Void spikes will only spawn within 20 blocks of all players, to help reduce lag when being spawned
    B:"Void Blossom Spikes Lag Reducer"=false

    # Change the Attack damage of the Mini Wyrks
    D:"Wyrk Attack Damage"=14.0

    # Change the Health of the Mini Wyrks
    D:"Wyrk Health"=35.0

    # Change the amount of souls the Mini Wyrk can start with for summoning Draugr, take in the mind the system is set up so that every Draugr that dies nearby, the Wyrk can re-summon them. Default : 0
    I:"Wyrk Starter Souls"=0
}


