# Configuration file

configuration_general {
    # Additional weakness (Everything that is not Mob or Item) for the revenants. [default: ]
    S:"Damage Additional Weakness Else" <
     >

    # Additional weakness (Only Items) for the revenants. [default: ]
    S:"Damage Additional Weakness Items" <
     >

    # Additional weakness (Only Mobs) for the revenants. [default: ]
    S:"Damage Additional Weakness Mobs" <
     >

    # Damage (Everything that is not Mob or Item) that will ignore damage cap [default: ]
    S:"Damage Cap BlackList Else" <
     >

    # Set to true if you want to use the list as a WhiteList. [default: false]
    B:"Damage Cap BlackList Inverted"=false

    # Damage (Only Items) that will ignore damage cap [default: ]
    S:"Damage Cap BlackList Items" <
     >

    # Damage (Only Mobs) that will ignore damage cap [default: ]
    S:"Damage Cap BlackList Mobs" <
     >

    # Global armor multiplier for all the Revenants. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Global Armor Multiplier"=1.0

    # Global damage multiplier for all the Revenants. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Global Damage Multiplier"=1.0

    # Global health multiplier for all the Revenants. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Global Health Multiplier"=1.0

    # Set to true so that the damage bonus (low player level) affect the mobs. [default: true]
    B:"Level Affecting Mobs"=true

    # Set to false if you want the revenants to only target the player. [default: true]
    B:"Mob Attacking"=false

    # List of mobs that the revenants will no longer attack if "Mob Attacking" is true, Ex: "minecraft:zombie" or just "minecraft" for a whole mod [default: [minecraft:creeper]]
    S:"Mob Attacking blacklist" <
        minecraft:creeper
     >

    # Set to true if you want to use the list as a WhiteList. [default: false]
    B:"Mob Attacking blacklist Inverted"=false

    # Revenants will not spawn if local number is greater than this. This option is ignores if Dissolution is used [range: 0 ~ 50000, default: 40]
    I:"Mob Cap"=40

    # Each Player will increase the mob cap by this value. [range: 0 ~ 50000, default: 1]
    I:"Mob Cap Per Player"=1

    # Revenants can't spawn in these dimensions. This list is ignored if Dissolution is used
    I:"Mobs Blacklisted Dimensions" <
        10
     >

    # Set to true if you want to use the list as a WhiteList. [default: false]
    B:"Mobs Blacklisted Dimensions Inverted"=true

    # Number of ticks required for the mobs to spawn. [range: 0 ~ 2147483640, default: 0]
    I:"Mobs ticks required"=0

    # Mobs that will avoid the revenants. Ex: "minecraft:zombie" or just "minecraft" for a whole mod. [default: [minecraft:villager]]
    S:"Mobs with new avoid task" <
        minecraft:villager
     >

    # Set to true if you want to use the list as a BlackList. [default: false]
    B:"Mobs with new avoid task Inverted"=false

    # Mobs that will target the revenants. Ex: "minecraft:zombie" or just "minecraft" for a whole mod. [default: [minecraft:villager_golem]]
    S:"Mobs with new target task" <
        minecraft:villager_golem
     >

    # Set to true if you want to use the list as a BlackList. [default: false]
    B:"Mobs with new target task Inverted"=false
}


revenant_properties_forgotten {
    # Alpha value (rendering). [range: 0.0 ~ 100.0, default: 0.3]
    S:"Version Forgotten Alpha Value"=0.3

    # Special alpha value (rendering). [range: 0.0 ~ 100.0, default: 0.03]
    S:"Version Forgotten Alpha Value Special"=0.03

    # Damage Cap. [range: 0 ~ 100, default: 3]
    I:"Version Forgotten Damage Cap"=3

    # Number of debuffs a single projectile can have. [range: 0 ~ 100, default: 1]
    I:"Version Forgotten Debuff Cap"=1

    # List of effects Forgotten versions will apply. (duration/potionEffect/amplifier) [default: [140;srrevenants:freeze;0], [140;minecraft:mining_fatigue;0], [140;minecraft:hunger;0], [140;srrevenants:tredam;0], [140;srrevenants:nonhos;0]]
    S:"Version Forgotten Effects" <
        140;srrevenants:freeze;0
        140;minecraft:mining_fatigue;2
        140;srparasites:fear;0
        140;srrevenants:tredam;0
        140;srrevenants:nonhos;0
     >

    # Follow Range. [range: 0.0 ~ 100.0, default: 24.0]
    S:"Version Forgotten Follow Range"=24.0

    # If player is below this level, attacks from this are going to be more effective. [range: 0 ~ 100, default: 7]
    I:"Version Forgotten Level Penalty"=7

    # Multiplier of attacks. [range: 0.0 ~ 100.0, default: 2.0]
    S:"Version Forgotten Level Penalty Multiplier"=2.0

    # Minimum Damage. [range: 0.0 ~ 100.0, default: 1.0]
    S:"Version Forgotten Minimum Damage"=1.0

    # Experience this will drop. [range: 0 ~ 100, default: 21]
    I:"Version Forgotten XP"=21
}


