# Configuration file

##########################################################################################################
# revenant_dissolution_levels
#--------------------------------------------------------------------------------------------------------#
# Dissolution Levels
##########################################################################################################

revenant_dissolution_levels {
    # Default initial level value for dimensions. [range: 0 ~ 1, default: 0]
    I:"Default Level Start"=1

    # Default initial points for dimensions. [range: -2147483640 ~ 2147483640, default: 0]
    I:"Default Points Start"=0

    # Set to false if you want to use Vanilla Spawner (Revenant mob cap will not work if set to false). [default: true]
    B:"Dissolution Custom Spawner"=false

    # Set to false if you dont want to use dissolution levels. [default: true]
    B:"Dissolution Levels"=false

    # List of dimensions that will start at a specific Dissolution level. Ex. "1;8;10" [default: ]
    S:"Dissolution Levels Dimension Starting Level List" <
     >

    # Number of Points gained when an entity (not UNDEAD) dies. [range: 0 ~ 1000000, default: 1]
    I:"Value for kills"=1
}


revenant_dissolution_levels_0 {
    # Maximum Amplifier Value. [range: 1 ~ 100, default: 0]
    I:"Level 0 Anathema Amp Max Value"=0

    # Base Amplifier Value. [range: 1 ~ 100, default: 0]
    I:"Level 0 Anathema Base Value"=0

    # Chance (1=100%) for a mob to spawn with this effect. [range: 0.0 ~ 1.0, default: 0.0]
    S:"Level 0 Anathema Chance"=0.0

    # If a Revenant ID is equal to or greater than this number, the Revenant will not spawn. [range: 0 ~ 100, default: 5]
    I:"Level 0 Maximum Revenant ID"=5

    # If a Revenant ID is equal to or less than this number, the Revenant will not spawn. [range: 0 ~ 100, default: 0]
    I:"Level 0 Minimum Revenant ID"=0

    # MobCap for this level. [range: 0 ~ 100, default: 0]
    I:"Level 0 MobCap"=0

    # Entity List that will spawn at level 0. Ex. "minecraft:zombie;1;3;90;0"  Where: 
    #  "minecraft:zombie" is the entity, 
    #  "1" is the minimum group count. 
    #  "3" is the maximum group count. 
    #  "90" is spawn weight. 
    #  [default: ]
    S:"Level 0 Spawn Entity List" <
     >

    # Message sent to all players in the current world when Revenants reach this Level [default: -]
    S:"Level 0 Warning Message"=-
}


revenant_dissolution_levels_1 {
    # Maximum Amplifier Value. [range: 1 ~ 100, default: 10]
    I:"Level 1 Anathema Amp Max Value"=10

    # Base Amplifier Value. [range: 1 ~ 100, default: 1]
    I:"Level 1 Anathema Base Value"=1

    # Chance (1=100%) for a mob to spawn with this effect. [range: 0.0 ~ 1.0, default: 0.02]
    S:"Level 1 Anathema Chance"=0.02

    # If a Revenant ID is equal to or greater than this number, the Revenant will not spawn. [range: 0 ~ 100, default: 5]
    I:"Level 1 Maximum Revenant ID"=5

    # If a Revenant ID is equal to or less than this number, the Revenant will not spawn. [range: 0 ~ 100, default: 0]
    I:"Level 1 Minimum Revenant ID"=0

    # MobCap for this level. [range: 0 ~ 2147483640, default: 3]
    I:"Level 1 MobCap"=3

    # Number of Points required to reach Level 1. [range: 0 ~ 2147483640, default: 70]
    I:"Level 1 Points"=70

    # Entity List that will spawn at level 1. Ex. "minecraft:zombie;1;3;90;0"  Where: 
    #  "minecraft:zombie" is the entity, 
    #  "1" is the minimum group count. 
    #  "3" is the maximum group count. 
    #  "90" is spawn weight. 
    #  [default: [srrevenants:for_bear;1;2;3], [srrevenants:for_cow;1;2;3], [srrevenants:for_horse;1;2;3], [srrevenants:for_human;1;2;3], [srrevenants:for_pig;1;2;3], [srrevenants:for_sheep;1;2;3]]
    S:"Level 1 Spawn Entity List" <
        srrevenants:for_bear;1;2;3
        srrevenants:for_cow;1;2;3
        srrevenants:for_horse;1;2;3
        srrevenants:for_human;10;20;100
        srrevenants:for_pig;1;2;3
        srrevenants:for_sheep;1;2;3
     >

    # Message sent to all players in the current world when Revenants reach this Level [default: .]
    S:"Level 1 Warning Message"=.
}


##########################################################################################################
# status_effects
#--------------------------------------------------------------------------------------------------------#
# Status Effects
##########################################################################################################

status_effects {
    # Chance to change damage to ignore armor, affected by amplifier (*). [range: 0.0 ~ 100.0, default: 0.07]
    S:"Bane Value"=0.07

    # How much damage you will not be doing under this effect, affected by amplifier (*). [range: 0.0 ~ 100.0, default: 0.07]
    S:"Rotten Value"=0.07

    # Exp this effect will remove from you when killing mobs, affected by amplifier (*). [range: 0 ~ 100, default: 3]
    I:"Vampyri Value"=3
}


