# Configuration file

##########################################################################################################
# srrevenants:for_bear
#--------------------------------------------------------------------------------------------------------#
# Forgotten Bear 
#  Base Health: 40.0 
#  Base Damage: 21.0 
#  Base Armor: 5.0 
#  Base Projectile Damage: 18.0
##########################################################################################################

"srrevenants:for_bear" {
    # Armor multiplier for Forgotten Bear. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Forgotten Bear Armor Multiplier"=1.0

    # Damage multiplier for Forgotten Bear. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Forgotten Bear Damage Multiplier"=1.0

    # Set to false if you want to disable Forgotten Bear. [default: true]
    B:"Forgotten Bear Enabled"=false

    # Health multiplier for Forgotten Bear. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Forgotten Bear Health Multiplier"=1.0

    # Items you want the Forgotten Bear to drop. Ex. "minecraft:nether_star;100;5;true" Where: 
    #  "minecraft:nether_star" is the item, 
    #  "100" is the chance to drop, 
    #  "5" is the max number of items, 
    #  "true" is for the item to always roll, if false the item will be unique and only 1 will be choosen. 
    #  [default: ]
    S:"Forgotten Bear Loot Table" <
     >

    # Spawn rate for Forgotten Bear (This value is ignored if Evolution Phases are enabled, it has its own option). [range: 0 ~ 100, default: 2]
    I:"Forgotten Bear SpawnWeight"=2
}


##########################################################################################################
# srrevenants:for_cow
#--------------------------------------------------------------------------------------------------------#
# Forgotten Cow 
#  Base Health: 13.0 
#  Base Damage: 10.0 
#  Base Armor: 5.0 
#  Base Projectile Damage: 10.0
##########################################################################################################

"srrevenants:for_cow" {
    # Armor multiplier for Forgotten Cow. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Forgotten Cow Armor Multiplier"=1.0

    # Damage multiplier for Forgotten Cow. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Forgotten Cow Damage Multiplier"=1.0

    # Set to false if you want to disable Forgotten Cow. [default: true]
    B:"Forgotten Cow Enabled"=false

    # Health multiplier for Forgotten Cow. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Forgotten Cow Health Multiplier"=1.0

    # Items you want the Forgotten Cow to drop. Ex. "minecraft:nether_star;100;5;true" Where: 
    #  "minecraft:nether_star" is the item, 
    #  "100" is the chance to drop, 
    #  "5" is the max number of items, 
    #  "true" is for the item to always roll, if false the item will be unique and only 1 will be choosen. 
    #  [default: ]
    S:"Forgotten Cow Loot Table" <
     >

    # Spawn rate for Forgotten Cow (This value is ignored if Evolution Phases are enabled, it has its own option). [range: 0 ~ 100, default: 2]
    I:"Forgotten Cow SpawnWeight"=2
}


##########################################################################################################
# srrevenants:for_horse
#--------------------------------------------------------------------------------------------------------#
# Forgotten Horse 
#  Base Health: 20.0 
#  Base Damage: 13.0 
#  Base Armor: 3.0 
#  Base Projectile Damage: 13.0
##########################################################################################################

"srrevenants:for_horse" {
    # Armor multiplier for Forgotten Horse. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Forgotten Horse Armor Multiplier"=1.0

    # Damage multiplier for Forgotten Horse. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Forgotten Horse Damage Multiplier"=1.0

    # Set to false if you want to disable Forgotten Horse. [default: true]
    B:"Forgotten Horse Enabled"=false

    # Health multiplier for Forgotten Horse. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Forgotten Horse Health Multiplier"=1.0

    # Items you want the Forgotten Horse to drop. Ex. "minecraft:nether_star;100;5;true" Where: 
    #  "minecraft:nether_star" is the item, 
    #  "100" is the chance to drop, 
    #  "5" is the max number of items, 
    #  "true" is for the item to always roll, if false the item will be unique and only 1 will be choosen. 
    #  [default: ]
    S:"Forgotten Horse Loot Table" <
     >

    # Spawn rate for Forgotten Horse (This value is ignored if Evolution Phases are enabled, it has its own option). [range: 0 ~ 100, default: 2]
    I:"Forgotten Horse SpawnWeight"=2
}


##########################################################################################################
# srrevenants:for_human
#--------------------------------------------------------------------------------------------------------#
# Forgotten Human 
#  Base Health: 27.0 
#  Base Damage: 15.0 
#  Base Armor: 2.0 
#  Base Projectile Damage: 9.0
##########################################################################################################

"srrevenants:for_human" {
    # Armor multiplier for Forgotten Human. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Forgotten Human Armor Multiplier"=1.0

    # Damage multiplier for Forgotten Human. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Forgotten Human Damage Multiplier"=1.0

    # Set to false if you want to disable Forgotten Human. [default: true]
    B:"Forgotten Human Enabled"=true

    # Health multiplier for Forgotten Human. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Forgotten Human Health Multiplier"=2.0

    # Items you want the Forgotten Human to drop. Ex. "minecraft:nether_star;100;5;true" Where: 
    #  "minecraft:nether_star" is the item, 
    #  "100" is the chance to drop, 
    #  "5" is the max number of items, 
    #  "true" is for the item to always roll, if false the item will be unique and only 1 will be choosen. 
    #  [default: ]
    S:"Forgotten Human Loot Table" <
     >

    # Spawn rate for Forgotten Human (This value is ignored if Evolution Phases are enabled, it has its own option). [range: 0 ~ 100, default: 2]
    I:"Forgotten Human SpawnWeight"=2
}


##########################################################################################################
# srrevenants:for_pig
#--------------------------------------------------------------------------------------------------------#
# Forgotten Pig 
#  Base Health: 13.0 
#  Base Damage: 9.0 
#  Base Armor: 4.0 
#  Base Projectile Damage: 9.0
##########################################################################################################

"srrevenants:for_pig" {
    # Armor multiplier for Forgotten Pig. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Forgotten Pig Armor Multiplier"=1.0

    # Damage multiplier for Forgotten Pig. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Forgotten Pig Damage Multiplier"=1.0

    # Set to false if you want to disable Forgotten Pig. [default: true]
    B:"Forgotten Pig Enabled"=false

    # Health multiplier for Forgotten Pig. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Forgotten Pig Health Multiplier"=1.0

    # Items you want the Forgotten Pig to drop. Ex. "minecraft:nether_star;100;5;true" Where: 
    #  "minecraft:nether_star" is the item, 
    #  "100" is the chance to drop, 
    #  "5" is the max number of items, 
    #  "true" is for the item to always roll, if false the item will be unique and only 1 will be choosen. 
    #  [default: ]
    S:"Forgotten Pig Loot Table" <
     >

    # Spawn rate for Forgotten Pig (This value is ignored if Evolution Phases are enabled, it has its own option). [range: 0 ~ 100, default: 2]
    I:"Forgotten Pig SpawnWeight"=2
}


##########################################################################################################
# srrevenants:for_sheep
#--------------------------------------------------------------------------------------------------------#
# Forgotten Sheep 
#  Base Health: 11.0 
#  Base Damage: 11.0 
#  Base Armor: 1.0 
#  Base Projectile Damage: 11.0
##########################################################################################################

"srrevenants:for_sheep" {
    # Armor multiplier for Forgotten Sheep. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Forgotten Sheep Armor Multiplier"=1.0

    # Damage multiplier for Forgotten Sheep. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Forgotten Sheep Damage Multiplier"=1.0

    # Set to false if you want to disable Forgotten Sheep. [default: true]
    B:"Forgotten Sheep Enabled"=false

    # Health multiplier for Forgotten Sheep. [range: 0.01 ~ 100.0, default: 1.0]
    S:"Forgotten Sheep Health Multiplier"=1.0

    # Items you want the Forgotten Sheep to drop. Ex. "minecraft:nether_star;100;5;true" Where: 
    #  "minecraft:nether_star" is the item, 
    #  "100" is the chance to drop, 
    #  "5" is the max number of items, 
    #  "true" is for the item to always roll, if false the item will be unique and only 1 will be choosen. 
    #  [default: ]
    S:"Forgotten Sheep Loot Table" <
     >

    # Spawn rate for Forgotten Sheep (This value is ignored if Evolution Phases are enabled, it has its own option). [range: 0 ~ 100, default: 2]
    I:"Forgotten Sheep SpawnWeight"=2
}


