# Configuration file

general {

    config {
        S:dsl <
            
            ┌ v1.0
            │
            ├ min_level: 0
            ├ max_level: 50
            └
            
            ┌ COOLDOWN (
            │     shape: flat
            │     min: 90s
            │     max: 28s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   34s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   32s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ RANGE (
            │     shape: flat
            │     min: 18b
            │     max: 32b
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   24b
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   28b
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ SIZE (
            │     shape: flat
            │     min: 8b
            │     max: 14b
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   10b
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   12b
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DURATION (
            │     shape: flat
            │     min: 8s
            │     max: 18s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   14s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   16s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DAMAGE (
            │     shape: none
            │     value: 4h
            └ )
            
            ┌ DOT (
            │     shape: flat
            │     min: 1h
            │     max: 2h
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   1.5h
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   1.5h
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            │ DOT_DURATION (
            │     shape: none
            │     value: 3s
            └ )
            
            ┌ XP (
            │     shape: flat
            │     min: 0
            │     max: infinite
            │
            │     {0} [
            │         shape: none
            │         return: 900
            │     ]
            │
            │     {1 to 50} [
            │         shape: multiply 10
            │     ]
            └ )
            
         >
    }

}


