# Configuration file

general {

    config {
        S:dsl <
            
            ┌ v1.0
            │
            ├ min_level: 0
            ├ max_level: infinite
            └
            
            ┌ DAMAGE (
            │     shape: none
            │     value: 8h
            └ )
            
            ┌ RANGE (
            │     shape: none
            │     value: 2b
            └ )
            
         >
    }

}


