# Configuration file

##########################################################################################################
# manifest
#--------------------------------------------------------------------------------------------------------#
# 
# Meta information. DO NOT TOUCH!
# 
##########################################################################################################

manifest {
    # Used by the configuration system to compare and see if the preset was updated in the next version of Wyrms of Nyrus.
    I:"Configuration version"=44
}


