# Configuration file

~CONFIG_VERSION: 0.4.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Advanced config options to change the way JEI functions.
##########################################################################################################

advanced {
    # Add new bookmarks to the front of the bookmark list instead of the end. [default: true]
    B:addBookmarksToFront=false

    # Move the JEI search bar to the bottom center of the screen. [default: false]
    B:centerSearchBarEnabled=false
    B:debugModeEnabled=false

    # Choose if JEI should give ingredients directly to the inventory or pick them up with the mouse.
    # [Default: mouse_pickup]
    # [Valid: [inventory, mouse_pickup]]
    S:giveMode=inventory

    # The maximum width of the ingredient and bookmark list overlays. [range: 4 ~ 100, default: 100]
    I:maxColumns=100

    # The maximum height of the recipe GUI. [range: 175 ~ 5000, default: 350]
    I:maxRecipeGuiHeight=350

    # Formatting for the mod names in tooltips for JEI GUIs. Leave blank to disable. [Default: blue italic] [Valid: [black, dark_blue, dark_green, dark_aqua, dark_red, dark_purple, gold, gray, dark_gray, blue, green, aqua, red, light_purple, yellow, white, obfuscated, bold, strikethrough, underline, italic]]
    S:modNameFormat=

    # Enable JEI memory usage optimizations. [default: true]
    B:optimizeMemoryUsage=true
}


##########################################################################################################
# search
#--------------------------------------------------------------------------------------------------------#
# Options related to the search bar.
##########################################################################################################

search {
    # Search mode for colors (prefix: ^).
    # [Default: disabled]
    # [Valid: [enabled, require_prefix, disabled]]
    S:colorSearchMode=DISABLED

    # Search mode for creative mode tab names (prefix: %).
    # [Default: disabled]
    # [Valid: [enabled, require_prefix, disabled]]
    S:creativeTabSearchMode=DISABLED

    # Search mode for mod names (prefix: @).
    # [Default: require_prefix]
    # [Valid: [enabled, require_prefix, disabled]]
    S:modNameSearchMode=REQUIRE_PREFIX

    # Search mode for Ore Dictionary names (prefix: $).
    # [Default: disabled]
    # [Valid: [enabled, require_prefix, disabled]]
    S:oreDictSearchMode=enabled

    # Search mode for resource IDs (prefix: &).
    # [Default: disabled]
    # [Valid: [enabled, require_prefix, disabled]]
    S:resourceIdSearchMode=DISABLED

    # Search mode for tooltips (prefix: #).
    # [Default: enabled]
    # [Valid: [enabled, require_prefix, disabled]]
    S:tooltipSearchMode=ENABLED
}


searchadvancedtooltips {
    # config.jei.searchAdvancedTooltips.search.comment [default: false]
    B:search=false
}


