# Configuration file

general {

    config {
        S:dsl <
            
            ┌ v1.0
            │
            ├ min_level: 0
            ├ max_level: 50
            └
            
            ┌ COOLDOWN (
            │     shape: flat
            │     min: 16s
            │     max: 2s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   8s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   6s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ INTERVAL (
            │     shape: none
            │     value: 2s
            └ )
            
            ┌ RANGE (
            │     shape: none
            │     value: 4b
            └ )
            
            ┌ DAMAGE (
            │     shape: none
            │     value: 2h
            └ )
            
            ┌ XP (
            │     shape: flat
            │     min: 0
            │     max: infinite
            │
            │     {0} [
            │         shape: none
            │         return: 170
            │     ]
            │
            │     {1 to 50} [
            │         shape: multiply 4
            │     ]
            └ )
            
         >
    }

}


