# Configuration file

general {

    config {
        S:dsl <
            
            ┌ v1.0
            │
            ├ min_level: 0
            ├ max_level: 50
            └
            
            ┌ COOLDOWN (
            │     shape: flat
            │     min: 140s
            │     max: 90s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   110s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   100s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DURATION (
            │     shape: flat
            │     min: 4s
            │     max: 10s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   6s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   8s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ RANGE (
            │     shape: none
            │     value: 8b
            └ )
            
            │ PULSE_RANGE (
            │     shape: none
            │     value: 4b
            └ )
            
            │ PULSE_INTERVAL (
            │     shape: none
            │     value: 2s
            └ )
            
            │ PULSE_DAMAGE (
            │     shape: flat
            │     min: 6h
            │     max: 10h
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   8h
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   9h
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            │ PULSE_DOT (
            │     shape: flat
            │     min: 2h
            │     max: 8h
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   4h
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   6h
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            │ PULSE_DOT_DURATION (
            │     shape: none
            │     value: 4s
            └ )
            
            ┌ XP (
            │     shape: flat
            │     min: 0
            │     max: infinite
            │
            │     {0} [
            │         shape: none
            │         return: 900
            │     ]
            │
            │     {1 to 50} [
            │         shape: multiply 10
            │     ]
            └ )
            
         >
    }

}


