# Configuration file

general {

    config {
        # Valid values:
        # MULTIPLICATION
        # ADDITION
        S:applyAs=MULTIPLICATION
        S:dsl <
            
            ┌ v1.0
            │
            ├ min_level: 0
            ├ max_level: 50
            └
            
            ┌ COOLDOWN (
            │     shape: flat
            │     min: 75s
            │     max: 25s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   45s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   30s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DAMAGE (
            │     shape: flat
            │     min: 25%
            │     max: 75%
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   30%
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   65%
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DURATION (
            │     shape: flat
            │     min: 6s
            │     max: 24s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   10s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   12s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ XP (
            │     shape: flat
            │     min: 0
            │     max: infinite
            │
            │     {0} [
            │         shape: none
            │         return: 600
            │     ]
            │
            │     {1 to 50} [
            │         shape: multiply 8
            │     ]
            └ )
            
         >
    }

}


