# Configuration file

##########################################################################################################
# crash_info
#--------------------------------------------------------------------------------------------------------#
# Add additional modpack information to the crash report.
##########################################################################################################

crash_info {
    # Enable the Crash Info feature. This adds additional information to the crash report.
    # It tries to read the information from the manifest file of the modpack.
    # Alternatively, you can provide the information in the config file.
    B:"[01] Enable Crash Info"=true

    # Read the information from the manifest file of the modpack.
    # This will override the config values.
    B:"[02] Read from Manifest"=true
}


##########################################################################################################
# modpack
#--------------------------------------------------------------------------------------------------------#
# Made with <3 by Ender-Development
##########################################################################################################

modpack {
    # The name of the modpack.
    S:"[01] Modpack Name"=TREPIDATION

    # The version of the modpack.
    S:"[02] Modpack Version"=0.5.8.2

    # The author of the modpack.
    S:"[03] Modpack Author"=CalaMariGold
}


##########################################################################################################
# options_menu_buttons
#--------------------------------------------------------------------------------------------------------#
# Link everything related to the modpack in the options and main menu.
##########################################################################################################

options_menu_buttons {
    # Enable the Options Menu Buttons feature. This adds additional buttons to the options menu.
    B:"[01] Enable Options Menu Buttons"=false

    # Show the buttons on Custom Main Menu menus.
    B:"[02] Custom Main Menu Integration"=false

    changelog_button {
        B:"[01] Enable Button"=false
        S:"[02] Button Text"=Changelog
        S:"[03] Button URL"=
    }

    donation_button {
        B:"[01] Enable Button"=false
        S:"[02] Button Text"=Donation
        S:"[03] Button URL"=
    }

    github_button {
        B:"[01] Enable Button"=false
        S:"[02] Button Text"=GitHub
        S:"[03] Button URL"=
    }

    discord_button {
        B:"[01] Enable Button"=false
        S:"[02] Button Text"=Discord
        S:"[03] Button URL"=
    }

    twitch_button {
        B:"[01] Enable Button"=false
        S:"[02] Button Text"=Twitch
        S:"[03] Button URL"=
    }

    youtube_button {
        B:"[01] Enable Button"=false
        S:"[02] Button Text"=Youtube
        S:"[03] Button URL"=
    }

}


##########################################################################################################
# server message
#--------------------------------------------------------------------------------------------------------#
# Similar to something that Nomifactory came up with.
##########################################################################################################

"server message" {
    # Enable the Server Message feature. This adds a message to the server console when the server starts.
    B:"[01] Enable Server Message"=true

    # The name of the server. Only used if 'Enable Server Message' is enabled.
    S:"[02] Server Name"=TREPIDATION
}


