# Configuration file

general {
    # Mobs that are exempt from AI modifications [default: [minecraft:villager_golem]]
    S:"AI Blacklist" <
        minecraft:villager
        minecraft:bat
        minecraft:squid
        mowziesmobs:ferrous_wroughtnaut
        quark:stoneling
        primitivemobs:chameleon
        primitivemobs:grovesprite
        minecraft:sheep
        minecraft:pig
        minecraft:wolf
        minecraft:cow
        minecraft:chicken
        minecraft:parrot
        grue:entitygrue
        srparasites:sim_bigspider
        srparasites:sim_human
        srparasites:sim_cow
        srparasites:sim_sheep
        srparasites:sim_wolf
        srparasites:sim_pig
        srparasites:sim_villager
        srparasites:sim_adventurer
        srparasites:sim_horse
        srparasites:sim_sheephead
        srparasites:sim_wolfhead
        srparasites:sim_cowhead
        srparasites:sim_pighead
        srparasites:sim_villagerhead
        srparasites:sim_horsehead
        srparasites:sim_humanhead
        srparasites:incompleteform_small
        srparasites:incompleteform_medium
        srparasites:carrier_heavy
        srparasites:buglin
        srparasites:carrier_flying
        srparasites:rupter
        srparasites:beckon_si
        srparasites:beckon_sii
        srparasites:beckon_siii
        srparasites:beckon_siv
        srparasites:kyphosis
        srparasites:sentry
        srparasites:movingflesh
        srparasites:worker
        srparasites:pri_longarms
        srparasites:pri_manducater
        srparasites:pri_reeker
        srparasites:pri_yelloweye
        srparasites:pri_summoner
        srparasites:pri_bolster
        srparasites:pri_arachnida
        srparasites:ada_longarms
        srparasites:ada_manducater
        srparasites:ada_reeker
        srparasites:ada_yelloweye
        srparasites:ada_summoner
        srparasites:ada_bolster
        srparasites:ada_arachnida
        srparasites:overseer
        srparasites:vigilante
        srparasites:warden
        srparasites:bomber_light
        srparasites:anc_dreadnaut
        srparasites:anc_overlord
        srparasites:anc_pod
        srparasites:anc_dreadnaut_ten
        srparasites:webball
        srparasites:spineball
        srparasites:salivaball
        srparasites:ballball
        srparasites:ancientball
        srparasites:homming
        srparasites:antiinfestedblock
        minecraft:wither
     >

    # Prevents players skipping the night through sleep [default: false]
    B:"Allow Sleep"=false
    B:"Chaos Mode"=false

    # The interval in which 'hard' days will occur where mob spawning is increased and lighting is ignored (0 = off, default = 8/full moon) [range: 0 ~ 2147483647, default: 8]
    I:"Hardcore Day Cycle"=0
    B:"Hide Updates"=true

    # Maximum number of attackers per target [range: 0 ~ 128, default: 16]
    I:"Pathing Cap"=20

    # Temporary invulnerability in ticks when respawning and teleporting [range: 0 ~ 2147483647, default: 200]
    I:"Resistance Cooldown"=100
}


other {
    # Can fix some issues with long distance navigation pathing through unloaded chunks [default: true]
    B:"Alt Chunk Caching"=true

    # The factor by which mob health and damage multipliers will be increased when bosses are killed [range: 0.0 ~ 3.4028235E38, default: 0.1]
    S:"Boss Kill Modifier"=0.0

    # The upper limit of the Boss Kill Modifier [range: 0.0 ~ 3.4028235E38, default: 3.0]
    S:"Boss Modifier Cap"=3.0
    S:"Pillaring Block"=minecraft:dirt
}


