# Configuration file

finderGems {
    S:targets <
        atum:lapis_ore, 0xff1541c8, lapis
        atum:diamond_ore, 0xff5be7f0, diamond
        atum:emerald_ore, 0xff17d960, emerald
        atum:relic_ore, 0xff87683f, relic
     >
}


finderMetals {
    S:targets <
        atum:gold_ore, 0xfff7e94a, gold
        atum:iron_ore, 0xffd4aa90, iron
     >
}


finderMinerals {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Unit name will be automatically converted to ore dictionary name with reverse word order (example: oreIronBlack).
    # Use '*' char as meta value to specify all possible values.
    # To define multiple block states, you can use block properties instead of meta. The format is <modId:blockName:[prop1=value1, prop2=value2]>
    # Also you may use just ore dictionary name as full id.
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    #  [default: [atum:coal_ore, 0xff363636, coal], [atum:redstone_ore, 0xfffa0000, redstone], [atum:bone_ore, 0xff847158, bone]]
    S:targets <
        atum:coal_ore, 0xff363636, coal
        atum:redstone_ore, 0xfffa0000, redstone
        atum:bone_ore, 0xff847158, bone
     >
}


