# Configuration file

finderGems {
    S:targets <
        geolosys:ore_vanilla:3, 0xff0000ff, lapis
        geolosys:ore_vanilla:4, 0xffaebcdc, quartz
        geolosys:ore_vanilla:5, 0xffcfcfcf, kimberlite
        geolosys:ore_vanilla:6, 0xff00faa3, beryl
        geolosys:ore:2, 0xff3c9b71, malachite
        geolosys:ore:3, 0xff253e6e, azurite
     >
}


finderMetals {
    S:targets <
        geolosys:ore, 0xff692e1c, hematite
        geolosys:ore:1, 0xffc29d5a, limonite
        geolosys:ore_vanilla:1, 0xff8b1a0c, cinnabar
        geolosys:ore_vanilla:2, 0xffffd700, gold
        geolosys:ore:4, 0xffd2caa5, cassiterite
        geolosys:ore:5, 0xffb9a190, teallite
        geolosys:ore:6, 0xff504f5e, galena
        geolosys:ore:7, 0xffad754e, bauxite
        geolosys:ore:8, 0xff84899d, platinum
        geolosys:ore:9, 0xffb9dc10, autunite
        geolosys:ore:10, 0xff493d5e, sphalerite
     >
}


finderMinerals {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Unit name will be automatically converted to ore dictionary name with reverse word order (example: oreIronBlack).
    # Use '*' char as meta value to specify all possible values.
    # To define multiple block states, you can use block properties instead of meta. The format is <modId:blockName:[prop1=value1, prop2=value2]>
    # Also you may use just ore dictionary name as full id.
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    #  [default: [geolosys:ore_vanilla, 0xff000000, coal]]
    S:targets <
        geolosys:ore_vanilla, 0xff000000, coal
     >
}


