# Configuration file

finderGems {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Unit name will be automatically converted to ore dictionary name with reverse word order (example: oreIronBlack).
    # Use '*' char as meta value to specify all possible values.
    # To define multiple block states, you can use block properties instead of meta. The format is <modId:blockName:[prop1=value1, prop2=value2]>
    # Also you may use just ore dictionary name as full id.
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    #  [default: ]
    S:targets <
     >
}


finderMetals {
    S:targets <
        lucraftcore:ore_osmium, 0xffa4b6b6, osmium
        lucraftcore:ore_copper, 0xffc77f25, copper
        lucraftcore:ore_silver, 0xffbfc5c4, silver
        lucraftcore:ore_dwarf_star_alloy, 0xff58696d, dwarf_star_alloy
        lucraftcore:ore_uru, 0xff91a19e, uru
        lucraftcore:ore_iridium, 0xffb7c4c8, iridium
        lucraftcore:ore_palladium, 0xffe2e2e2, palladium
        lucraftcore:ore_nickel, 0xffa5a58e, nickel
        lucraftcore:ore_tin, 0xffb69a81, tin
        lucraftcore:ore_titanium, 0xff464646, titanium
        lucraftcore:ore_uranium, 0xff71c543, uranium
        lucraftcore:ore_vibranium, 0xff8fddf8, vibranium
        lucraftcore:ore_lead, 0xff6d8491, lead
     >
}


finderMinerals {
    S:targets <
     >
}


