# Configuration file

finderGems {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Unit name will be automatically converted to ore dictionary name with reverse word order (example: oreIronBlack).
    # Use '*' char as meta value to specify all possible values.
    # To define multiple block states, you can use block properties instead of meta. The format is <modId:blockName:[prop1=value1, prop2=value2]>
    # Also you may use just ore dictionary name as full id.
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    #  [default: ]
    S:targets <
     >
}


finderMetals {
    S:targets <
        metallurgy:adamantine_ore, 0xffe53838, adamantine
        metallurgy:alduorite_ore, 0xff87e7e7, alduorite
        metallurgy:atlarus_ore, 0xffefba19, atlarus
        metallurgy:carmot_ore, 0xfffad38c, carmot
        metallurgy:ceruclase_ore, 0xff5aace0, ceruclase
        metallurgy:eximite_ore, 0xffbba3f8, eximite
        metallurgy:ignatius_ore, 0xfffafa2c, ignatius
        metallurgy:infuscolium_ore, 0xffd079a0, infuscolium
        metallurgy:kalendrite_ore, 0xffdc67df, kalendrite
        metallurgy:lemurite_ore, 0xfffafafa, lemurite
        metallurgy:meutoite_ore, 0xff493f50, meutoite
        metallurgy:midasium_ore, 0xfffa7a2d, midasium
        metallurgy:mithril_ore, 0xff29c0df, mithril
        metallurgy:orichalcum_ore, 0xff519d3a, orichalcum
        metallurgy:oureclase_ore, 0xffdf612d, oureclase
        metallurgy:prometheum_ore, 0xff4f6f4d, prometheum
        metallurgy:rubracium_ore, 0xff913434, rubracium
        metallurgy:sanguinite_ore, 0xfffa4517, sanguinite
        metallurgy:vulcanite_ore, 0xfffa2715, vulcanite
        metallurgy:vyroxeres_ore, 0xff29ea15, vyroxeres
        metallurgy:astral_silver_ore, 0xffacc0ba, silver
        metallurgy:deep_iron_ore, 0xff181d20, iron
        metallurgy:shadow_iron_ore, 0xff25201d, iron
        metallurgy:copper_ore, 0xffb5613b, copper
        metallurgy:manganese_ore, 0xff956b6b, manganese
        metallurgy:platinum_ore, 0xff4f7bec, platinum
        metallurgy:silver_ore, 0xff8db2b2, silver
        metallurgy:tin_ore, 0xff6a645a, tin
        metallurgy:zinc_ore, 0xffc9c97e, zinc
     >
}


finderMinerals {
    S:targets <
        metallurgy:sulfur_ore, 0xffc2b718, sulfur
        metallurgy:phosphorite_ore, 0xff4a2829, phosphorite
        metallurgy:bitumen_ore, 0xff0a0a0a, bitumen
        metallurgy:potash_ore, 0xffca5320, potash
     >
}


