# Configuration file

finderGems {
    S:targets <
        netherendingores:ore_other_1, 0xffdddbd2, quartz
        netherendingores:ore_other_1:1, 0xffdddbd2, quartz
        netherendingores:ore_nether_modded_1:9, 0xffd5d9ec, quartz
        netherendingores:ore_end_modded_1:9, 0xffd5d9ec, quartz
        netherendingores:ore_nether_modded_1:10, 0xffd5d9ec, quartz
        netherendingores:ore_end_modded_1:10, 0xffd5d9ec, quartz
        netherendingores:ore_nether_vanilla:1, 0xff5be7f0, diamond
        netherendingores:ore_end_vanilla:1, 0xff5be7f0, diamond
        netherendingores:ore_nether_vanilla:2, 0xff17d960, emerald
        netherendingores:ore_end_vanilla:2, 0xff17d960, emerald
        netherendingores:ore_nether_vanilla:5, 0xff1a42aa, lapis
        netherendingores:ore_end_vanilla:5, 0xff1a42aa, lapis
     >
}


finderMetals {
    S:targets <
        netherendingores:ore_other_1:2, 0xffc5a236, ardite
        netherendingores:ore_other_1:3, 0xffc5a236, ardite
        netherendingores:ore_other_1:4, 0xff1b59bd, cobalt
        netherendingores:ore_other_1:5, 0xff1b59bd, cobalt
        netherendingores:ore_nether_modded_1, 0xffa4a4aa, aluminum
        netherendingores:ore_end_modded_1, 0xffa4a4aa, aluminum
        netherendingores:ore_nether_modded_1:1, 0xfffa6b11, copper
        netherendingores:ore_end_modded_1:1, 0xfffa6b11, copper
        netherendingores:ore_nether_modded_1:2, 0xffb0b1cb, iridium
        netherendingores:ore_end_modded_1:2, 0xffb0b1cb, iridium
        netherendingores:ore_nether_modded_1:3, 0xff7484b9, lead
        netherendingores:ore_end_modded_1:3, 0xff7484b9, lead
        netherendingores:ore_nether_modded_1:4, 0xff80f5fa, mythril
        netherendingores:ore_end_modded_1:4, 0xff80f5fa, mythril
        netherendingores:ore_nether_modded_1:5, 0xff959f73, nickel
        netherendingores:ore_end_modded_1:5, 0xff959f73, nickel
        netherendingores:ore_nether_modded_1:6, 0xff2ab5fa, platinum
        netherendingores:ore_end_modded_1:6, 0xff2ab5fa, platinum
        netherendingores:ore_nether_modded_1:7, 0xffe2f1f8, silver
        netherendingores:ore_end_modded_1:7, 0xffe2f1f8, silver
        netherendingores:ore_nether_modded_1:8, 0xff95b6d8, tin
        netherendingores:ore_end_modded_1:8, 0xff95b6d8, tin
        netherendingores:ore_nether_modded_1:11, 0xffabb2c5, osmium
        netherendingores:ore_end_modded_1:11, 0xffabb2c5, osmium
        netherendingores:ore_nether_modded_1:12, 0xff42e119, uranium
        netherendingores:ore_end_modded_1:12, 0xff42e119, uranium
        netherendingores:ore_nether_modded_1:13, 0xffb9b900, yellorite
        netherendingores:ore_end_modded_1:13, 0xffb9b900, yellorite
        netherendingores:ore_nether_modded_1:14, 0xff8cd2d2, dilithium
        netherendingores:ore_end_modded_1:14, 0xff8cd2d2, dilithium
        netherendingores:ore_nether_modded_1:15, 0xff3d4f52, tritanium
        netherendingores:ore_end_modded_1:15, 0xff3d4f52, tritanium
        netherendingores:ore_nether_modded_2, 0xffab9fa3, zinc
        netherendingores:ore_end_modded_2, 0xffab9fa3, zinc
        netherendingores:ore_nether_vanilla:3, 0xfff7e94a, gold
        netherendingores:ore_end_vanilla:3, 0xfff7e94a, gold
        netherendingores:ore_nether_vanilla:4, 0xffd4ab90, iron
        netherendingores:ore_end_vanilla:4, 0xffd4ab90, iron
     >
}


finderMinerals {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Unit name will be automatically converted to ore dictionary name with reverse word order (example: oreIronBlack).
    # Use '*' char as meta value to specify all possible values.
    # To define multiple block states, you can use block properties instead of meta. The format is <modId:blockName:[prop1=value1, prop2=value2]>
    # Also you may use just ore dictionary name as full id.
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    #  [default: [netherendingores:ore_nether_vanilla, 0xff363636, coal], [netherendingores:ore_end_vanilla, 0xff363636, coal], [netherendingores:ore_nether_vanilla:6, 0xfffa0000, redstone], [netherendingores:ore_end_vanilla:6, 0xfffa0000, redstone]]
    S:targets <
        netherendingores:ore_nether_vanilla, 0xff363636, coal
        netherendingores:ore_end_vanilla, 0xff363636, coal
        netherendingores:ore_nether_vanilla:6, 0xfffa0000, redstone
        netherendingores:ore_end_vanilla:6, 0xfffa0000, redstone
     >
}


