# Configuration file

finderGems {
    S:targets <
        osv:diamond_ore:*, 0xff4aedd1, diamond
        osv:diamond_ore_1:*, 0xff4aedd1, diamond
        osv:diamond_ore_3:*, 0xff4aedd1, diamond
        osv:diamond_ore_5:*, 0xff4aedd1, diamond
        osv:lapis_ore:*, 0xff0000ff, lapis
        osv:lapis_ore_1:*, 0xff0000ff, lapis
        osv:lapis_ore_3:*, 0xff0000ff, lapis
        osv:lapis_ore_5:*, 0xff0000ff, lapis
        osv:emerald_ore:*, 0xff00b038, emerald
        osv:emerald_ore_1:*, 0xff00b038, emerald
        osv:emerald_ore_3:*, 0xff00b038, emerald
        osv:emerald_ore_5:*, 0xff00b038, emerald
     >
}


finderMetals {
    S:targets <
        osv:iron_ore:*, 0xffdeb887, iron
        osv:iron_ore_1:*, 0xffdeb887, iron
        osv:iron_ore_3:*, 0xffdeb887, iron
        osv:iron_ore_5:*, 0xffdeb887, iron
        osv:gold_ore:*, 0xffffd700, gold
        osv:gold_ore_1:*, 0xffffd700, gold
        osv:gold_ore_3:*, 0xffffd700, gold
        osv:gold_ore_5:*, 0xffffd700, gold
        osv:nickel_ore:*, 0xffa09d87, nickel
        osv:nickel_ore_1:*, 0xffa09d87, nickel
        osv:nickel_ore_3:*, 0xffa09d87, nickel
        osv:nickel_ore_5:*, 0xffa09d87, nickel
     >
}


finderMinerals {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Unit name will be automatically converted to ore dictionary name with reverse word order (example: oreIronBlack).
    # Use '*' char as meta value to specify all possible values.
    # To define multiple block states, you can use block properties instead of meta. The format is <modId:blockName:[prop1=value1, prop2=value2]>
    # Also you may use just ore dictionary name as full id.
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    #  [default: [osv:coal_ore:*, 0xff000000, coal], [osv:coal_ore_1:*, 0xff000000, coal], [osv:coal_ore_3:*, 0xff000000, coal], [osv:coal_ore_5:*, 0xff000000, coal], [osv:redstone_ore:*, 0xffff0000, redstone], [osv:redstone_ore_1:*, 0xffff0000, redstone], [osv:redstone_ore_3:*, 0xffff0000, redstone], [osv:redstone_ore_5:*, 0xffff0000, redstone]]
    S:targets <
        osv:coal_ore:*, 0xff000000, coal
        osv:coal_ore_1:*, 0xff000000, coal
        osv:coal_ore_3:*, 0xff000000, coal
        osv:coal_ore_5:*, 0xff000000, coal
        osv:redstone_ore:*, 0xffff0000, redstone
        osv:redstone_ore_1:*, 0xffff0000, redstone
        osv:redstone_ore_3:*, 0xffff0000, redstone
        osv:redstone_ore_5:*, 0xffff0000, redstone
     >
}


