# Configuration file

finderGems {
    S:targets <
        pixelmon:thunder_stone_ore, 0xffb0b302, thunder
        pixelmon:leaf_stone_ore, 0xff384430, leaf
        pixelmon:water_stone_ore, 0xff40486f, water
        pixelmon:fire_stone_ore, 0xff9e6329, fire
        pixelmon:sun_stone_ore, 0xff91512e, sun
        pixelmon:dawn_dusk_ore:*, 0xff5d768a, dawn_dusk
        pixelmon:ruby_ore, 0xff700e1d, ruby
        pixelmon:sapphire_ore, 0xff1e3578, sapphire
        pixelmon:amethyst_ore, 0xff44215b, amethyst
        pixelmon:crystal_ore, 0xff6c9cb2, crystal
        pixelmon:silicon_ore, 0xff9391b6, silicon
     >
}


finderMetals {
    S:targets <
        pixelmon:bauxite_ore, 0xff947f62, bauxite
     >
}


finderMinerals {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Unit name will be automatically converted to ore dictionary name with reverse word order (example: oreIronBlack).
    # Use '*' char as meta value to specify all possible values.
    # To define multiple block states, you can use block properties instead of meta. The format is <modId:blockName:[prop1=value1, prop2=value2]>
    # Also you may use just ore dictionary name as full id.
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    #  [default: [pixelmon:fossil, 0xff443c2f, fossil]]
    S:targets <
        pixelmon:fossil, 0xff443c2f, fossil
     >
}


