# Configuration file

finderGems {
    S:targets <
        silentgems:essenceore, 0xffb3a39d, chaos
        silentgems:essenceore:1, 0xff50e0c1, ender
        silentgems:multi_gem_ore_classic, 0xffffffff, multi-gem
        silentgems:multi_gem_ore_dark, 0xffffffff, multi-gem
        silentgems:multi_gem_ore_light, 0xffffffff, multi-gem
        silentgems:gemore, 0xffd91f17, ruby
        silentgems:gemorelight, 0xffd91f17, ruby
        silentgems:gemoredark, 0xffd91f17, ruby
        silentgems:gemore:1, 0xffd95017, garnet
        silentgems:gemorelight:1, 0xffd95017, garnet
        silentgems:gemoredark:1, 0xffd95017, garnet
        silentgems:gemore:2, 0xffd97117, topaz
        silentgems:gemorelight:2, 0xffd97117, topaz
        silentgems:gemoredark:2, 0xffd97117, topaz
        silentgems:gemore:3, 0xffd9a117, amber
        silentgems:gemorelight:3, 0xffd9a117, amber
        silentgems:gemoredark:3, 0xffd9a117, amber
        silentgems:gemore:4, 0xffd9c117, heliodor
        silentgems:gemorelight:4, 0xffd9c117, heliodor
        silentgems:gemoredark:4, 0xffd9c117, heliodor
        silentgems:gemore:5, 0xff8fd917, peridot
        silentgems:gemorelight:5, 0xff8fd917, peridot
        silentgems:gemoredark:5, 0xff8fd917, peridot
        silentgems:gemore:6, 0xff17d91f, beryl
        silentgems:gemorelight:6, 0xff17d91f, beryl
        silentgems:gemoredark:6, 0xff17d91f, beryl
        silentgems:gemore:7, 0xff17d980, indicolite
        silentgems:gemorelight:7, 0xff17d980, indicolite
        silentgems:gemoredark:7, 0xff17d980, indicolite
        silentgems:gemore:8, 0xff1791aa, aquamarine
        silentgems:gemorelight:8, 0xff1791aa, aquamarine
        silentgems:gemoredark:8, 0xff1791aa, aquamarine
        silentgems:gemore:9, 0xff1d15db, sapphire
        silentgems:gemorelight:9, 0xff1d15db, sapphire
        silentgems:gemoredark:9, 0xff1d15db, sapphire
        silentgems:gemore:10, 0xff6017d9, iolite
        silentgems:gemorelight:10, 0xff6017d9, iolite
        silentgems:gemoredark:10, 0xff6017d9, iolite
        silentgems:gemore:11, 0xffa317db, amethyst
        silentgems:gemorelight:11, 0xffa317db, amethyst
        silentgems:gemoredark:11, 0xffa317db, amethyst
        silentgems:gemore:12, 0xffd917d0, agate
        silentgems:gemorelight:12, 0xffd917d0, agate
        silentgems:gemoredark:12, 0xffd917d0, agate
        silentgems:gemore:13, 0xfffa53cc, morganite
        silentgems:gemorelight:13, 0xfffa53cc, morganite
        silentgems:gemoredark:13, 0xfffa53cc, morganite
        silentgems:gemore:14, 0xff000000, onyx
        silentgems:gemorelight:14, 0xff000000, onyx
        silentgems:gemoredark:14, 0xff000000, onyx
        silentgems:gemore:15, 0xffb7b7b7, opal
        silentgems:gemorelight:15, 0xffb7b7b7, opal
        silentgems:gemoredark:15, 0xffb7b7b7, opal
     >
}


finderMetals {
    S:targets <
     >
}


finderMinerals {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Unit name will be automatically converted to ore dictionary name with reverse word order (example: oreIronBlack).
    # Use '*' char as meta value to specify all possible values.
    # To define multiple block states, you can use block properties instead of meta. The format is <modId:blockName:[prop1=value1, prop2=value2]>
    # Also you may use just ore dictionary name as full id.
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    #  [default: ]
    S:targets <
     >
}


