# Configuration file

general {
    B:endJungleChorusPlants=false
    B:endJungleEndCity=false
    I:endJungleWeight=100
    B:endVolcanoChorusPlants=false
    B:endVolcanoEndCity=false
    I:endVolcanoWeight=100
    B:wideEnderCanopyGen=false
}


