# Configuration file

arrowharvest {
    # Destroy these like a tool [default: [minecraft:cocoa]]
    S:willDestroyBlock <
        minecraft:cocoa
     >

    # Drop these as an itemstack [default: [minecraft:chorus_flower], [minecraft:pumpkin], [minecraft:melon_block], [minecraft:web]]
    S:willDropAsBlock <
        minecraft:chorus_flower
        minecraft:pumpkin
        minecraft:melon_block
        minecraft:web
     >
}


