# Configuration file

general {
    # Whether to only merge items in the hotbar, instead of full inventory? [default: false]
    B:hotbarOnly=false

    # Which mode to merge items? 1) same item, 2) same tool type [range: 1 ~ 2, default: 1]
    I:itemMatch=1

    # Whether to merge items in armour slots? Ignores hotbarOnly [default: true]
    B:mergeArmorSlots=true

    # Whether to merge items in the offhand? Ignores hotbarOnly [default: true]
    B:mergeOffhand=true

    # Which mode to merge items? 1) match equivalent nbt, 2) merge nbt tags, 3), ignore nbt, 4) remove nbt [range: 1 ~ 4, default: 1]
    I:nbtMatch=3
}


