# Configuration file

general {
    # Disable will return the attack to the no attack cooldown in version 1.8.
    B:attackCooldown=true

    # When enabled, attacks when not fully prepared will deal less damage than vanilla.
    B:comboCorrection=false

    # The effect of the health value recovered by consuming hunger value will be increased additionally. If you fill in 5, you will recover an additional 5 points of health, for a total of 6 points.
    # Min: 0.0
    # Max: 1.7976931348623157E308
    D:extraHungerHeal=0.0

    # Increases the health effect of consuming hunger and recovers additionally. If it is set to 0.05, an additional 5% of the maximum health will be recovered.
    # Min: 0.0
    # Max: 1.7976931348623157E308
    D:extraHungerPercentageHeal=0.0

    # Adjust the base maximum health of the entity, if it is 1, the base health is doubled, and -0.5, the base health is reduced by 50%.
    # Min: -0.9900000095367432
    # Max: 1.7976931348623157E308
    D:extraMaxHealth=0.0

    # The effect of the health value recovered by consuming hunger value will be increased additionally. If you fill in 5, you will recover an additional 5 points of health, for a total of 6 points.
    # Min: 0.0
    # Max: 1.7976931348623157E308
    D:extraSaturationHeal=0.0

    # Increases the health effect of consuming saturation and recovers additionally. If it is set to 0.05, an additional 5% of the maximum health will be recovered.
    # Min: 0.0
    # Max: 1.7976931348623157E308
    D:extraSaturationPercentageHeal=0.0

    # Set the duration of the creature's invulnerability. For example, 0.5 is 50% of the original time, and 0 is equivalent to disabling the invincibility time.
    # Min: 0.0
    # Max: 1.7976931348623157E308
    D:hurtTimeEntity=1.0

    # Set the duration of the player invulnerability. For example, 0.5 is 50% of the original time, and 0 is equivalent to disabling the invincibility time.
    # Min: 0.0
    # Max: 1.7976931348623157E308
    D:hurtTimePlayer=1.0

    # Globally adjusted the damage of player magic attacks.
    # Min: 0.0
    # Max: 1.7976931348623157E308
    D:playerMagicAttack=1.0

    # Globally adjusted the damage of player melee attacks.
    # Min: 0.0
    # Max: 1.7976931348623157E308
    D:playerMeleeAttack=1.0

    # Globally adjusted the damage of player remote attacks.
    # Min: 0.0
    # Max: 1.7976931348623157E308
    D:playerRemoteAttack=1.0

    # Global adjustment of damage to players from magic attacks.
    # Min: 0.0
    # Max: 1.7976931348623157E308
    D:playerSuffersMagic=1.0

    # Global adjustment of damage to players from melee attacks.
    # Min: 0.0
    # Max: 1.7976931348623157E308
    D:playerSuffersMelee=1.0

    # Global adjustment of damage to players from remote attacks.
    # Min: 0.0
    # Max: 1.7976931348623157E308
    D:playerSuffersRemote=1.0

    # Set the player pvp damage multiplier, adjust this value will affect the final damage, such as 0.5 will be 50% of the original damage, if 0 is equivalent to prohibit pvp.
    # Min: 0.0
    # Max: 1.7976931348623157E308
    D:pvp=1.0

    # Set the player pvp damage multiplier, adjust this value will affect the final damage, such as 0.5 will be 50% of the original damage, if 0 is equivalent to prohibit pvp.
    # Min: 0.0
    # Max: 1.7976931348623157E308
    D:pvpHurtItself=1.0
}


