# Configuration file

algae {
    I:biomes <
        0
        7
        10
        11
        24
     >
    B:enabled=true
    D:hOffset=0.1
    D:heightMax=1.0
    D:heightMin=0.5
    I:population=48
    B:shaderWind=true
    D:size=1.0
}


blocks {
    S:cactusBlacklist <
     >
    S:cactusWhitelist <
        net.minecraft.block.BlockCactus
        com.bioxx.tfc.Blocks.Vanilla.BlockCustomCactus
     >
    S:cropsBlacklist <
        net.minecraft.block.BlockReed
        net.minecraft.block.BlockDoublePlant
        net.minecraft.block.BlockCarrot
        net.minecraft.block.BlockPotato
        snownee.cuisine.blocks.BlockDoubleCrops
     >
    S:cropsWhitelist <
        net.minecraft.block.BlockTallGrass
        net.minecraft.block.BlockCrops
        biomesoplenty.common.block.BlockBOPFlower
        biomesoplenty.common.block.BlockBOPTurnip
        biomesoplenty.common.block.BlockBOPPlant
        tconstruct.blocks.slime.SlimeTallGrass
        plantmegapack.block.PMPBlockBerrybush
        plantmegapack.block.PMPBlockCrops
        plantmegapack.block.PMPBlockDesert
        plantmegapack.block.PMPBlockFern
        plantmegapack.block.PMPBlockFlowerMulti
        plantmegapack.block.PMPBlockFlowerSingle
        plantmegapack.block.PMPBlockForest
        plantmegapack.block.PMPBlockGrass
        plantmegapack.block.PMPBlockJungle
        plantmegapack.block.PMPBlockMountain
        plantmegapack.block.PMPBlockSavanna
        plantmegapack.block.PMPBlockShrub
        plantmegapack.block.PMPBlockWetlands
        com.pam.harvestcraft.BlockPamCrop
        com.pam.harvestcraft.BlockPamDesertGarden
        com.pam.harvestcraft.BlockPamNormalGarden
        com.pam.harvestcraft.BlockPamWaterGarden
        shadows.plants2.block.BlockEnumCrop
        snownee.cuisine.blocks.BlockCuisineCrops
     >
    S:dirtBlacklist <
     >
    S:dirtWhitelist <
        net.minecraft.block.BlockDirt
        biomesoplenty.common.block.BlockBOPDirt
        enhancedbiomes.blocks.BlockSoilEB
        com.bioxx.tfc.Blocks.Terrain.BlockDirt
        net.aetherteam.aether.blocks.natural.BlockAetherDirt
        com.gildedgames.aether.common.blocks.natural.BlockAetherDirt
        slimeknights.tconstruct.world.block.BlockSlimeDirt
     >
    S:grassClassesBlacklist <
     >
    S:grassClassesWhitelist <
        net.minecraft.block.BlockGrass
        biomesoplenty.common.block.BlockBOPGrass
        tconstruct.blocks.slime.SlimeGrass
        enhancedbiomes.blocks.BlockGrassEB
        com.bioxx.tfc.Blocks.Terrain.BlockGrass
        com.shinoow.abyssalcraft.common.blocks.BlockDreadGrass
        com.shinoow.abyssalcraft.common.blocks.BlockDarklandsgrass
     >
    S:grassModels <
        block/grass,top
        block/cube_bottom_top,top
        block/soil/grass_master,top
     >
    S:leavesClassesBlacklist <
     >
    S:leavesClassesWhitelist <
        net.minecraft.block.BlockLeaves
        biomesoplenty.common.block.BlockBOPLeaves
        com.gildedgames.aether.common.blocks.natural.BlockAetherLeaves
        shadows.plants2.block.BlockEnumLeaves
        shadows.plants2.block.BlockEnumNetherLeaves
        snownee.cuisine.blocks.BlockModLeaves
        snownee.cuisine.blocks.BlockShearedLeaves
     >
    S:leavesModels <
        minecraft:block/leaves,all
        minecraft:block/cube_all,all
        biomesoplenty:block/leaves_overlay,under
     >
    S:lilypadBlacklist <
     >
    S:lilypadWhitelist <
        net.minecraft.block.BlockLilyPad
        biomesoplenty.common.block.BlockBOPLilypad
        com.bioxx.tfc.Blocks.Vanilla.BlockCustomLilyPad
     >
    S:logClassesBlacklist <
        extrabiomes.blocks.BlockMiniLog
     >
    S:logClassesWhitelist <
        net.minecraft.block.BlockLog
        biomesoplenty.common.block.BlockBOPLog
        com.progwml6.natura.common.block.BlockEnumLog
        thaumcraft.common.blocks.world.plants.BlockLogsTC
        forestry.arboriculture.gadgets.BlockLog
        com.bioxx.tfc.Blocks.Flora.BlockLogVert
        com.bioxx.tfc.Blocks.Flora.BlockLogNatural
        CookingPlus.blocks.CookingPlusPalmLog
        CookingPlus.blocks.CookingPlusTangleLog
        CookingPlus.blocks.CookingPlusTangleHeart
        ic2.core.block.BlockRubWood
        techreborn.blocks.BlockRubberLog
        betterwithmods.blocks.BlockStump
        shadows.plants2.block.BlockEnumLog
        shadows.plants2.block.BlockEnumNetherLog
     >
    S:logModels <
        block/column_side,end,end,side
        block/cube_column,end,end,side
        block/cube_all,all,all,all
        agriculturalrevolution:block/palmlog,top,top,texture
        block/column_top,end,end,side_a,side_b
        block/column_side_x,end,end,side_a,side_b
        block/column_side_z,end,end,side_a,side_b
     >
    S:myceliumBlacklist <
     >
    S:myceliumWhitelist <
        net.minecraft.block.BlockMycelium
        nex.block.BlockMycelium
     >
    S:netherrackBlacklist <
     >
    S:netherrackWhitelist <
        net.minecraft.block.BlockNetherrack
        nex.block.BlockNetherrack
     >
    S:packedIceBlacklist <
     >
    S:packedIceWhitelist <
        net.minecraft.block.BlockPackedIce
     >
    S:sandBlacklist <
     >
    S:sandWhitelist <
        net.minecraft.block.BlockSand
        com.bioxx.tfc.Blocks.Terrain.BlockSand
     >
}


cactus {
    B:enabled=true
    D:hOffset=0.1
    D:size=0.8
    D:sizeVariation=0.1
}


connectedgrass {
    B:enabled=true
    B:snowEnabled=false
}


coral {
    I:biomes <
        0
        7
        10
        11
        16
        24
        25
        26
     >
    I:chance=32
    D:crustSize=1.4
    B:enabled=true
    D:hOffset=0.2
    I:population=48
    B:shallowWater=false
    D:size=0.7
    D:vOffset=0.1
}


fallingleaves {
    D:chance=0.05
    B:enabled=true
    D:lifetime=5.0
    B:opacityHack=true
    D:perturb=0.25
    D:size=0.75
    D:speed=0.05
    D:stormStrength=0.8
    D:windStrength=0.5
}


general {

    algae {
        S:Biomes <
            river
            ocean
         >
        B:Enabled=true

        # Min: 0.1
        # Max: 1.5
        D:"Height Max"=1.0

        # Min: 0.1
        # Max: 1.5
        D:"Height Min"=0.5

        # Min: 4.9E-324
        # Max: 0.25
        D:"Horizontal Offset"=0.1

        # Min: -2147483648
        # Max: 64
        I:Population=48
        B:"Shader Wind"=true

        # Min: 0.5
        # Max: 1.5
        D:Size=1.0
    }

    "block types" {
        S:"Cactus Classes Blacklist" <
         >
        S:"Cactus Classes Whitelist" <
            net.minecraft.block.BlockCactus
            com.bioxx.tfc.Blocks.Vanilla.BlockCustomCactus
         >
        S:"Cactus Models" <
            minecraft:block/cactus,top,bottom,side
         >
        S:"Crops Classes Blacklist" <
            net.minecraft.block.BlockReed
            net.minecraft.block.BlockDoublePlant
            net.minecraft.block.BlockCarrot
            net.minecraft.block.BlockPotato
            snownee.cuisine.blocks.BlockDoubleCrops
         >
        S:"Crops Classes Whitelist" <
            net.minecraft.block.BlockTallGrass
            net.minecraft.block.BlockCrops
            biomesoplenty.common.block.BlockBOPFlower
            biomesoplenty.common.block.BlockBOPTurnip
            biomesoplenty.common.block.BlockBOPPlant
            tconstruct.blocks.slime.SlimeTallGrass
            plantmegapack.block.PMPBlockBerrybush
            plantmegapack.block.PMPBlockCrops
            plantmegapack.block.PMPBlockDesert
            plantmegapack.block.PMPBlockFern
            plantmegapack.block.PMPBlockFlowerMulti
            plantmegapack.block.PMPBlockFlowerSingle
            plantmegapack.block.PMPBlockForest
            plantmegapack.block.PMPBlockGrass
            plantmegapack.block.PMPBlockJungle
            plantmegapack.block.PMPBlockMountain
            plantmegapack.block.PMPBlockSavanna
            plantmegapack.block.PMPBlockShrub
            plantmegapack.block.PMPBlockWetlands
            com.pam.harvestcraft.BlockPamCrop
            com.pam.harvestcraft.BlockPamDesertGarden
            com.pam.harvestcraft.BlockPamNormalGarden
            com.pam.harvestcraft.BlockPamWaterGarden
            shadows.plants2.block.BlockEnumCrop
            snownee.cuisine.blocks.BlockCuisineCrops
         >
        S:"Dirt Classes Blacklist" <
         >
        S:"Dirt Classes Whitelist" <
            net.minecraft.block.BlockDirt
            biomesoplenty.common.block.BlockBOPDirt
            enhancedbiomes.blocks.BlockSoilEB
            com.bioxx.tfc.Blocks.Terrain.BlockDirt
            net.aetherteam.aether.blocks.natural.BlockAetherDirt
            com.gildedgames.aether.common.blocks.natural.BlockAetherDirt
            slimeknights.tconstruct.world.block.BlockSlimeDirt
         >
        S:"Grass Classes Blacklist" <
         >
        S:"Grass Classes Whitelist" <
            net.minecraft.block.BlockGrass
            biomesoplenty.common.block.BlockBOPGrass
            tconstruct.blocks.slime.SlimeGrass
            enhancedbiomes.blocks.BlockGrassEB
            com.bioxx.tfc.Blocks.Terrain.BlockGrass
            com.shinoow.abyssalcraft.common.blocks.BlockDreadGrass
            com.shinoow.abyssalcraft.common.blocks.BlockDarklandsgrass
         >
        S:"Grass Models" <
            block/grass,top,bottom
            block/cube_bottom_top,top,bottom
            block/soil/grass_master,top,bottom
         >
        S:"Leaves Classes Blacklist" <
         >
        S:"Leaves Classes Whitelist" <
            net.minecraft.block.BlockLeaves
            biomesoplenty.common.block.BlockBOPLeaves
            com.gildedgames.aether.common.blocks.natural.BlockAetherLeaves
            shadows.plants2.block.BlockEnumLeaves
            shadows.plants2.block.BlockEnumNetherLeaves
            snownee.cuisine.blocks.BlockModLeaves
            snownee.cuisine.blocks.BlockShearedLeaves
         >
        S:"Leaves Models" <
            minecraft:block/leaves,all
            minecraft:block/cube_all,all
            biomesoplenty:block/leaves_overlay,under
         >
        S:"Lilypad Classes Blacklist" <
         >
        S:"Lilypad Classes Whitelist" <
            net.minecraft.block.BlockLilyPad
            biomesoplenty.common.block.BlockBOPLilypad
            com.bioxx.tfc.Blocks.Vanilla.BlockCustomLilyPad
         >
        S:"Mycelium Classes Blacklist" <
         >
        S:"Mycelium Classes Whitelist" <
            net.minecraft.block.BlockMycelium
            nex.block.BlockMycelium
         >
        S:"Netherrack Classes Blacklist" <
         >
        S:"Netherrack Classes Whitelist" <
            net.minecraft.block.BlockNetherrack
            nex.block.BlockNetherrack
         >
        S:"PackedIce Classes Blacklist" <
         >
        S:"PackedIce Classes Whitelist" <
            net.minecraft.block.BlockPackedIce
         >
        S:"Sand Classes Blacklist" <
         >
        S:"Sand Classes Whitelist" <
            net.minecraft.block.BlockSand
            com.bioxx.tfc.Blocks.Terrain.BlockSand
         >
    }

    cactus {
        B:Enabled=true

        # Min: 4.9E-324
        # Max: 0.5
        D:"Horizontal Offset"=0.1

        # Min: 0.5
        # Max: 1.5
        D:Size=0.8

        # Min: 4.9E-324
        # Max: 0.5
        D:"Size Variation"=0.1
    }

    "connected grass" {
        B:Enabled=true
        B:"Longer Sides"=true
        B:"Snow Enabled"=true
    }

    coral {
        S:Biomes <
            river
            ocean
            beach
         >

        # Min: -2147483648
        # Max: 64
        I:Chance=32

        # Min: 0.5
        # Max: 1.5
        D:"Crust Size"=1.4
        B:Enabled=true

        # Min: 4.9E-324
        # Max: 0.4
        D:"Horizontal Offset"=0.2

        # Min: -2147483648
        # Max: 64
        I:Population=48
        B:"Shallow Water"=false

        # Min: 0.5
        # Max: 1.5
        D:Size=0.7

        # Min: 4.9E-324
        # Max: 0.4
        D:"Vertical Offset"=0.1
    }

    "falling leaves" {
        # Min: 0.001
        # Max: 1.0
        D:Chance=0.05
        B:Enabled=true
        B:"Fade Out"=true

        # Min: 1.0
        # Max: 15.0
        D:Lifetime=10.0
        B:"Modernized Leaves"=false
        B:"Opacity Hack"=false

        # Min: 0.01
        # Max: 1.0
        D:Perturb=0.25

        # Min: 0.25
        # Max: 1.5
        D:Size=0.75

        # Min: 0.01
        # Max: 0.15
        D:Speed=0.05

        # Min: 0.1
        # Max: 2.0
        D:"Storm Strength"=2.0

        # Min: 0.1
        # Max: 2.0
        D:"Wind Strength"=0.5
    }

    global {
        B:"Enable Forestry Compat"=true
        B:"Enable Mod"=true
        B:"Log Render Error to Chat"=false

        # Adds a patch for MC-114265 created by jonathan2520 at https://bugs-legacy.mojang.com/browse/MC-114265
        # Fixes improper mipmap generation causing transparent pixels to merge into black pixels, as well as increases performance
        # Created by and all credit goes to jonathan2520
        B:"Mipmap Generation Patch (MC-114265)"=true

        # Converts PooledMutableBlockPos to use a ThreadLocal pool rather than a synchronized pool to avoid thread contention
        # This causes a very slight increase in memory usage however should improve render performance
        # This patch is less needed when using Optifine as it has its own similar patches (But shouldn't conflict)
        B:"PooledMutableBlockPos Thread Contention Patch"=true

        # Adjusts block layer rendering to render cutout textures using mipmaps if enabled (Better visually)
        # Can be disabled if other mods cause issues rendering cutout mipmaps, if disabled it will prefer non-mipmap cutout rendering
        B:"Render Layer Adjustments"=false
    }

    leaves {
        B:Dense=false
        B:Enabled=true
        B:"Hide Internal"=true

        # Min: 4.9E-324
        # Max: 0.4
        D:"Horizontal Offset"=0.2
        B:"Shader Wind"=true

        # Min: 0.75
        # Max: 2.5
        D:Size=1.4
        B:"Snow Enabled"=true

        # Min: 4.9E-324
        # Max: 0.4
        D:"Vertical Offset"=0.1
    }

    lilypad {
        B:Enabled=true

        # Min: 0
        # Max: 64
        I:"Flower Chance"=16

        # Min: 4.9E-324
        # Max: 0.25
        D:"Horizontal Offset"=0.1
        B:"Shader Wind"=true
    }

    netherrack {
        B:Enabled=true

        # Min: 0.1
        # Max: 1.5
        D:"Height Max"=0.8

        # Min: 0.1
        # Max: 1.5
        D:"Height Min"=0.6

        # Min: 4.9E-324
        # Max: 0.4
        D:"Horizontal Offset"=0.2

        # Min: -2147483648
        # Max: 64
        I:Population=64

        # Min: 0.5
        # Max: 1.5
        D:Size=1.0
    }

    "packed ice" {
        B:Enabled=true

        # Min: 0.1
        # Max: 1.5
        D:"Height Max"=1.5

        # Min: 0.1
        # Max: 1.5
        D:"Height Min"=1.0

        # Min: 4.9E-324
        # Max: 0.4
        D:"Horizontal Offset"=0.1

        # Min: -2147483648
        # Max: 64
        I:Population=16
    }

    reed {
        S:Biomes <
            0
            1
            2
            4
            5
            6
            7
            8
            9
            10
            11
            12
            13
            14
            15
            16
            17
            18
            19
            21
            22
            23
            24
            27
            28
            29
            30
            31
            32
            33
            35
            36
            37
            38
            39
            127
            129
            130
            132
            133
            134
            140
            149
            151
            155
            156
            157
            158
            160
            161
            163
            164
            165
            166
            167
         >
        B:Enabled=true

        # Min: 1.5
        # Max: 3.5
        D:"Height Max"=2.2

        # Min: 1.5
        # Max: 3.5
        D:"Height Min"=1.7

        # Min: 4.9E-324
        # Max: 0.4
        D:"Horizontal Offset"=0.2

        # Min: -2147483648
        # Max: 64
        I:Population=32
        B:"Shader Wind"=true
    }

    "rising soul" {
        # Min: 0.001
        # Max: 1.0
        D:Chance=0.02
        B:Enabled=true

        # Min: 0.25
        # Max: 1.5
        D:"Head Size"=1.0

        # Min: 1.0
        # Max: 15.0
        D:Lifetime=4.0

        # Min: 0.05
        # Max: 1.0
        D:Opacity=0.5

        # Min: 0.5
        # Max: 1.0
        D:"Opacity Decay"=0.97

        # Min: 0.01
        # Max: 0.25
        D:Perturb=0.05

        # Min: 0.5
        # Max: 1.0
        D:"Size Decay"=0.97

        # Min: 0.01
        # Max: 0.15
        D:Speed=0.1

        # Min: 1
        # Max: 16
        I:"Trail Density"=3

        # Min: 2
        # Max: 128
        I:"Trail Length"=48

        # Min: 0.25
        # Max: 1.5
        D:"Trail Size"=0.75
    }

    shaders {
        # Min: 1
        # Max: 65535
        I:"Grass Block ID"=31

        # Min: 1
        # Max: 65535
        I:"Leaves Block ID"=18
    }

    "short grass" {
        B:Enabled=true

        # Min: -2147483648
        # Max: 64
        I:"Grass Population"=64

        # Min: 0.1
        # Max: 2.5
        D:"Height Max"=0.8

        # Min: 0.1
        # Max: 2.5
        D:"Height Min"=0.6

        # Min: 4.9E-324
        # Max: 0.4
        D:"Horizontal Offset"=0.2
        B:"Longer Grass"=true
        B:"Mycelium Enabled"=true

        # Min: -2147483648
        # Max: 64
        I:"Mycelium Population"=64
        D:"Saturation Threshold"=0.1
        B:"Shader Wind"=true

        # Min: 0.5
        # Max: 1.5
        D:Size=1.0
        B:"Snow Enabled"=true
        B:"Use Generated"=false
    }

}


global {
    B:enabled=true
    B:logRenderErrorToChat=false
    B:nVidia=false
}


leaves {
    B:dense=false
    B:enabled=true
    D:hOffset=0.2
    B:hideInternal=true
    D:size=1.4
    B:snowEnabled=true
    D:vOffset=0.1
}


lilypad {
    B:enabled=true
    I:flowerChance=16
    D:hOffset=0.1
}


netherrack {
    B:enabled=true
    D:hOffset=0.2
    D:heightMax=0.8
    D:heightMin=0.6
    D:size=1.0
}


packedice {
    B:enabled=true
    D:hOffset=0.1
    D:heightMax=1.5
    D:heightMin=1.0
    I:population=16
}


reed {
    I:biomes <
        0
        1
        4
        6
        7
        9
        14
        15
        16
        18
        21
        22
        23
        24
        27
        28
        29
        127
        129
        132
        134
        149
        151
        155
        156
        157
     >
    B:enabled=true
    D:hOffset=0.2
    D:heightMax=2.2
    D:heightMin=1.7
    I:population=32
    B:shaderWind=true
}


risingsoul {
    D:chance=0.02
    B:enabled=true
    D:headSize=1.0
    D:lifetime=4.0
    D:opacity=0.5
    D:opacityDecay=0.97
    D:perturb=0.05
    D:sizeDecay=0.97
    I:trailDensity=3
    I:trailLength=48
    D:trailSize=0.75
}


shaders {
    I:grassId=31
    I:leavesId=18
}


shortgrass {
    B:grassEnabled=true
    D:hOffset=0.2
    D:heightMax=0.8
    D:heightMin=0.6
    B:myceliumEnabled=true
    I:population=64
    D:saturationThreshold=0.1
    B:shaderWind=true
    D:size=1.0
    B:snowEnabled=true
    B:useGenerated=false
}


