# Configuration file

general {
    # Which ores shouldn't have variants generated for them?
    S:blacklist <
        Copper
        Tin
        Mithril
        Mythril
        Adamantium
        Adamantine
        Adamantite
     >

    # Can ores be fortuned to drop more raw ores?
    B:canFortune=true

    # Names of ores and a colour (either in an integer format e.g. or a hex format e.g. 0xD83FFF, if not specified the colour will be white) separated by "-", e.g. Chalcopyrite-0x967025 or Cinnabar-8850958
    S:customOres <
     >

    # Ore dictionary names that are used to refer to dense ores and the drop multiplier separated by "-", e.g. Dense-2 will make ores with "Dense" in their ore dictionarry drop twice as much raw ore
    S:denseOres <
        Dense-2
        Nether-2
        End-2
     >

    # Which types of material are detected?, (by default, just ingots)
    S:detectedMaterials <
        ingot
     >

    # Words to be ignored in oredictionaries to match variants (e.g. making nether and end variants drop their corresponding ore)?
    S:ignoredWords <
        Endstone
        Netherrack
     >

    # Whether the blacklist should instead be read as a whitelist, only generating ores for the given names.
    B:invertBlacklist=false

    # Ores that are counted as the same types as each other separated by "-", e.g Magnetite-Iron will make ores with the name oreMagnetite be treated as oreIron for the purposes of raw ore generation and dropping.
    S:otherNames <
     >
}


