# Configuration file

general {

    client {

        controls {
            # How many system ticks you have between double tapping (these are faster than Minecraft ticks).
            # Min: 1
            # Max: 2147483647
            I:"Double Tap Ticks"=200

            # Enable to make dodging left, right or backwards require a double tap, and forwards require a tap of a movement key.
            B:"Enable Double Tap"=false

            # Enable to make dodging forwards require a double tap of a movement key. 'Enable Double Tap' must be enabled.
            B:"Forwards Double Tap"=false
        }

        hud {
            # Whether to enable compatibility mode for the HUD. If it isn't working as expected, try this.
            B:"Compatibility HUD"=true

            # Whether the GUI fades out when it is inactive.
            B:"Fadeout Inactive HUD"=true

            # Whether to show the feathers in the UI.
            B:"Show HUD"=true

            # Whether to show armor weight tooltips. If Quark is installed, please restart the game after disabling or enabling 'Quark Settings -> Client -> Visual Stat Display'.
            B:"Show Tooltips"=true

            # Whether to show the tutorial on joining a new world.
            B:"Show Tutorial"=true

            # Whether the feather bar will flash when the player attempts to dodge without the required feathers or too high a weight.
            B:"Visual Dodge Failure"=true

            # The X-Offset of the Feather Bar.
            # Min: -2147483648
            # Max: 2147483647
            I:"X Offset"=0

            # The Y-Offset of the Feather Bar.
            # Min: -2147483648
            # Max: 2147483647
            I:"Y Offset"=0
        }

    }

    common {

        balance {
            # Whether the player can dodge whilst airborne.
            B:"Enable whilst Airborne"=true

            # Whether the player can dodge whilst blocking.
            B:"Enable whilst Blocking"=true

            # Whether the player can dodge whilst sneaking.
            B:"Enable whilst Sneaking"=false

            # How much exhaustion is added when dodging. For reference, sprinting adds 0.01 exhaustion per meter, and the Hunger effect adds 0.1 per second.
            # Min: 0.0
            # Max: 40.0
            D:Exhaustion=0.1

            # The force of the player's dodge before any multipliers have been applied. This value is very sensitive.
            # Min: 0.0
            # Max: 1.7976931348623157E308
            D:Force=0.6

            # How many half drumsticks the player needs to dodge. The default six is the same as sprinting.
            # Min: -1
            # Max: 20
            I:"Hunger Requirement"=6

            # How many in-game ticks of invincibility the player has after dodging. 20 ticks is 1 second.
            # Min: 0
            # Max: 100
            I:"Invincibility Ticks"=10

            # Potions that prevent the player from dodging. Insert values in the format modid:potion. Idea Credit: SandwichHorror
            S:"Potion Blacklist" <
             >

            # How high the player is pushed from the ground when dodging. This value is proportional distance dodged due to friction.
            # Min: 0.0
            # Max: 1.7976931348623157E308
            D:Verticality=0.25
        }

        feathers {
            # How many half feathers dodging midair requires. [Dodge Whilst Airborne must be Enabled]
            # Min: 0
            # Max: 20
            I:"Airborne Cost"=1

            # How many half feathers dodging requires.
            # Min: 0
            # Max: 20
            I:Cost=1

            # Whether to enable 'Half Feathers'. Instead of weight values rounding down, they will instead show as a half feather. These can be used if the 'Cost' value is set to an odd number.
            B:"Half Feathers"=true

            # The amount of ticks required to regenerate half a feather. Please only change this when you have full feathers.
            # Min: 1
            # Max: 2147483647
            I:"Regeneration Rate"=80
        }

        weights {
            # The weight of each item of Armor. This overrides the default generated values. Each 'Steel Feather' is equivalent to a weight of 2. Insert values as such: modid:itemname=value. Any item with a weight over 24 will not show its weight as a tooltip. Idea Credit: SandwichHorror
            S:"Weights Override" <
                nethercraft:neridium_helmet=1
                nethercraft:neridium_chestplate=1
                nethercraft:neridium_leggings=1
                nethercraft:neridium_boots=1
                minecraft:leather_boots=1
                minecraft:leather_leggings=1
                minecraft:leather_chestplate=1
                minecraft:leather_helmet=1
                minecraft:iron_boots=1
                minecraft:iron_leggings=1
                minecraft:iron_chestplate=1
                minecraft:iron_helmet=1
                minecraft:diamond_boots=1
                minecraft:diamond_leggings=1
                minecraft:diamond_chestplate=1
                minecraft:diamond_helmet=1
                minecraft:golden_boots=1
                minecraft:golden_leggings=1
                minecraft:golden_chestplate=1
                minecraft:golden_helmet=1
                minecraft:chainmail_boots=1
                minecraft:chainmail_leggings=1
                minecraft:chainmail_chestplate=1
                minecraft:chainmail_helmet=1
                minecraft:elytra=0
                atop:amethyst_helmet=1
                atop:amethyst_chestplate=1
                atop:amethyst_leggings=1
                atop:amethyst_boots=1
                atop:mud_helmet=1
                atop:mud_chestplate=1
                atop:mud_leggings=1
                atop:mud_boots=1
                atop:peridot_helmet=1
                atop:peridot_chestplate=1
                atop:peridot_leggings=1
                atop:peridot_boots=1
                atop:ruby_helmet=1
                atop:ruby_chestplate=1
                atop:ruby_leggings=1
                atop:ruby_boots=1
                atop:sapphire_helmet=1
                atop:sapphire_chestplate=1
                atop:sapphire_leggings=1
                atop:sapphire_boots=1
                quark:archaeologist_hat=0.25
                quark:pirate_hat=0.25
                quark:witch_hat=0.25
                mod_lavacow:felarmor_helmet=1
                mod_lavacow:felarmor_chestplate=1
                mod_lavacow:felarmor_leggings=1
                mod_lavacow:felarmor_boots=1
                mod_lavacow:swinemask=0.25
                mod_lavacow:swinearmor_chestplate=1
                mod_lavacow:swinearmor_leggings=1
                mod_lavacow:swinearmor_boots=1
                mod_lavacow:faminearmor_helmet=1
                mod_lavacow:faminearmor_chestplate=1
                mod_lavacow:faminearmor_leggings=1
                mod_lavacow:faminearmor_boots=1
                iceandfire:armor_silver_metal_helmet=1
                iceandfire:armor_silver_metal_chestplate=1
                iceandfire:armor_silver_metal_leggings=1
                iceandfire:armor_silver_metal_boots=1
                iceandfire:deathworm_yellow_helmet=1
                iceandfire:deathworm_yellow_chestplate=1
                iceandfire:deathworm_yellow_leggings=1
                iceandfire:deathworm_yellow_boots=1
                iceandfire:deathworm_white_helmet=1
                iceandfire:deathworm_white_chestplate=1
                iceandfire:deathworm_white_leggings=1
                iceandfire:deathworm_white_boots=1
                iceandfire:deathworm_red_helmet=1
                iceandfire:deathworm_red_chestplate=1
                iceandfire:deathworm_red_leggings=1
                iceandfire:deathworm_red_boots=1
                iceandfire:myrmex_desert_helmet=1
                iceandfire:myrmex_desert_chestplate=1
                iceandfire:myrmex_desert_leggings=1
                iceandfire:myrmex_desert_boots=1
                iceandfire:myrmex_jungle_helmet=1
                iceandfire:myrmex_jungle_chestplate=1
                iceandfire:myrmex_jungle_leggings=1
                iceandfire:myrmex_jungle_boots=1
                iceandfire:dragonsteel_fire_helmet=1
                iceandfire:dragonsteel_fire_chestplate=1
                iceandfire:dragonsteel_fire_leggings=1
                iceandfire:dragonsteel_fire_boots=1
                iceandfire:dragonsteel_ice_helmet=1
                iceandfire:dragonsteel_ice_chestplate=1
                iceandfire:dragonsteel_ice_leggings=1
                iceandfire:dragonsteel_ice_boots=1
                iceandfire:armor_red_helmet=1
                iceandfire:armor_red_chestplate=1
                iceandfire:armor_red_leggings=1
                iceandfire:armor_red_boots=1
                iceandfire:armor_bronze_helmet=1
                iceandfire:armor_bronze_chestplate=1
                iceandfire:armor_bronze_leggings=1
                iceandfire:armor_bronze_boots=1
                iceandfire:armor_green_helmet=1
                iceandfire:armor_green_chestplate=1
                iceandfire:armor_green_leggings=1
                iceandfire:armor_green_boots=1
                iceandfire:armor_gray_helmet=1
                iceandfire:armor_gray_chestplate=1
                iceandfire:armor_gray_leggings=1
                iceandfire:armor_gray_boots=1
                iceandfire:armor_blue_helmet=1
                iceandfire:armor_blue_chestplate=1
                iceandfire:armor_blue_leggings=1
                iceandfire:armor_blue_boots=1
                iceandfire:armor_white_helmet=1
                iceandfire:armor_white_chestplate=1
                iceandfire:armor_white_leggings=1
                iceandfire:armor_white_boots=1
                iceandfire:armor_sapphire_helmet=1
                iceandfire:armor_sapphire_chestplate=1
                iceandfire:armor_sapphire_leggings=1
                iceandfire:armor_sapphire_boots=1
                iceandfire:armor_silver_helmet=1
                iceandfire:armor_silver_chestplate=1
                iceandfire:armor_silver_leggings=1
                iceandfire:armor_silver_boots=1
                iceandfire:tide_blue_helmet=1
                iceandfire:tide_blue_chestplate=1
                iceandfire:tide_blue_leggings=1
                iceandfire:tide_blue_boots=1
                iceandfire:tide_bronze_helmet=1
                iceandfire:tide_bronze_chestplate=1
                iceandfire:tide_bronze_leggings=1
                iceandfire:tide_bronze_boots=1
                iceandfire:tide_deepblue_helmet=1
                iceandfire:tide_deepblue_chestplate=1
                iceandfire:tide_deepblue_leggings=1
                iceandfire:tide_deepblue_boots=1
                iceandfire:tide_green_helmet=1
                iceandfire:tide_green_chestplate=1
                iceandfire:tide_green_leggings=1
                iceandfire:tide_green_boots=1
                iceandfire:tide_purple_helmet=1
                iceandfire:tide_purple_chestplate=1
                iceandfire:tide_purple_leggings=1
                iceandfire:tide_purple_boots=1
                iceandfire:tide_red_helmet=1
                iceandfire:tide_red_chestplate=1
                iceandfire:tide_red_leggings=1
                iceandfire:tide_red_boots=1
                iceandfire:tide_teal_helmet=1
                iceandfire:tide_teal_chestplate=1
                iceandfire:tide_teal_leggings=1
                iceandfire:tide_teal_boots=1
                iceandfire:forest_troll_leather_helmet=1
                iceandfire:forest_troll_leather_chestplate=1
                iceandfire:forest_troll_leather_leggings=1
                iceandfire:forest_troll_leather_boots=1
                iceandfire:frost_troll_leather_helmet=1
                iceandfire:frost_troll_leather_chestplate=1
                iceandfire:frost_troll_leather_leggings=1
                iceandfire:frost_troll_leather_boots=1
                iceandfire:mountain_troll_leather_helmet=1
                iceandfire:mountain_troll_leather_chestplate=1
                iceandfire:mountain_troll_leather_leggings=1
                iceandfire:mountain_troll_leather_boots=1
                iceandfire:sheep_helmet=1
                iceandfire:sheep_chestplate=1
                iceandfire:sheep_leggings=1
                iceandfire:sheep_boots=1
                mowziesmobs:wrought_helmet=1
                mowziesmobs:barako_mask=1
                mowziesmobs:barakoa_mask_fury=1
                mowziesmobs:barakoa_mask_fear=1
                mowziesmobs:barakoa_mask_rage=1
                mowziesmobs:barakoa_mask_misery=1
                primitivemobs:camouflage_helmet=1
                primitivemobs:camouflage_chestplate=1
                primitivemobs:camouflage_boots=1
                primitivemobs:camouflage_leggings=1
                simpleores:mythril_helmet=1
                simpleores:mythril_chestplate=1
                simpleores:mythril_leggings=1
                simpleores:mythril_boots=1
                simpleores:adamantium_helmet=1
                simpleores:adamantium_chestplate=1
                simpleores:adamantium_leggings=1
                simpleores:adamantium_boots=1
                simpleores:onyx_helmet=1
                simpleores:onyx_chestplate=1
                simpleores:onyx_leggings=1
                simpleores:onyx_boots=1
                aether_legacy:zanite_helmet=1
                aether_legacy:zanite_chestplate=1
                aether_legacy:zanite_leggings=1
                aether_legacy:zanite_boots=1
                aether_legacy:gravitite_helmet=1
                aether_legacy:gravitite_chestplate=1
                aether_legacy:gravitite_leggings=1
                aether_legacy:gravitite_boots=1
                aether_legacy:neptune_helmet=1
                aether_legacy:neptune_chestplate=1
                aether_legacy:neptune_leggings=1
                aether_legacy:neptune_boots=1
                aether_legacy:phoenix_helmet=1
                aether_legacy:phoenix_chestplate=1
                aether_legacy:phoenix_leggings=1
                aether_legacy:phoenix_boots=1
                aether_legacy:valkyrie_helmet=1
                aether_legacy:valkyrie_chestplate=1
                aether_legacy:valkyrie_leggings=1
                aether_legacy:valkyrie_boots=1
                aether_legacy:sentry_boots=1
             >
        }

        misc {
            # Whether the Player's dodge creates a puff of smoke.
            B:"Enable Particles"=true

            # Whether the Player dodge is weaker in the End.
            B:"End Dodge"=true

            # Whether the Player dodges further in the Nether.
            B:"Nether Dodge"=true

            # Whether the Player is notified when the Endurance Effect is overpowered by the Heavy Effect.
            B:"Overwhelmed Message"=true
        }

        integration {

            toughasnails {
                # Whether to enable Tough as Nails support
                B:Enabled=false

                # How much exhaustion (thirstiness) is added when the player regenerates a dodge feather.
                # Min: 0.0
                # Max: 40.0
                D:Exhaustion=6.0
            }

        }

    }

}


