# Configuration file

general {
    # If the whitelist is not used, this list contains biomes excluded from the list of all biomes.
    S:BiomeBlacklist <
        minecraft:void
     >

    # If not empty, this list of biomes will be used instead of all biomes. The blacklist will not take effect.
    S:BiomeWhitelist <
     >

    # If false, the eyes entity will not spawn naturally during the night-
    B:EnableNaturalSpawn=true

    # While set to true, the eyes entity will ignore the artificial light level and will jumpscare even if it's lit. Daylight will still disable it's AI.
    B:EyesCanAttackWhileLit=true

    # Set to false to disable the jumpscare system.
    B:Jumpscare=true

    # Set to a number > 0 to cause the jumpscare to apply poison the player. A value of 5 will take around half of the health. 
    # Min: 0
    # Max: 6
    I:JumpscareHurtLevel=1

    # Min: 1
    # Max: 2147483647
    I:MaximumPackSize=2

    # Min: 1
    # Max: 2147483647
    I:MinimumPackSize=1

    # If -1, the default spawn weight will be used.
    I:OverrideWeight=-1
}


