# Configuration file

general {

    general {
        # Blacklist of Entity Registry Names to blacklist from gibbing
        S:"Entity Gib Blacklist" <
            minecraft:slime
            minecraft:magma_cube
            minecraft:ender_dragon
            iceandfire:firedragon
            iceandfire:icedragon
            iceandfire:lightningdragon
            iceandfire:shivaxi_dragon
            iceandfire:black_frost
            iceandfire:dread_queen
            iceandfire:dread_lich
            iceandfire:dread_knight
            iceandfire:dread_thrall
            iceandfire:ghost
            iceandfire:gorgon
            iceandfire:if_hydra
            lycanitesmobs:amalgalich
            lycanitesmobs:asmodeus
            lycanitesmobs:rahovart
            lycanitesmobs:sylph
            lycanitesmobs:wisp
            lycanitesmobs:jengu
            lycanitesmobs:cinder
            lycanitesmobs:reiver
            lycanitesmobs:wraith
            lycanitesmobs:zephyr
            lycanitesmobs:djinn
            lycanitesmobs:grue
            lycanitesmobs:spectre
            defiledlands:the_destroyer
            defiledlands:the_mourner
            defiledlands:slime_defiled
            betternether:firefly
            charm:spectre
            srparasites:*
         >

        # Sets the Entity Gib Blacklist to instead act as a whitelist
        B:"Entity Gib Blacklist is Whitelist"=false

        # Chance on death for an entity to be gibbed
        # Min: 0.0
        # Max: 1.0
        D:"Entity Gib Chance"=1.0

        # If death by explosion should override gib chance and always gib
        B:"Explosions Always Gib"=true

        # If death by explosion should override per gib spawn chance and spawn all gibs
        B:"Explosions Spawn All Gibs"=true

        # Maximum amount of dying entities allowed to be queued at one time
        I:"Maximum Queued Gibbed Entities"=20

        # Chance per gib to be spawned when an entity is already being gibbed (Minimum 1 gib will always spawn)
        # Min: 0.0
        # Max: 1.0
        D:"Per Gib Spawn Chance"=1.0

        # Chance on death for a player to be gibbed
        # Player gibbing is unaffected by explosion config due to MC/Forge handling of clientside player entities
        # Min: 0.0
        # Max: 1.0
        D:"Player Gib Chance"=1.0
    }

    physics {
        # If other entities should be able to push gibs on the ground
        B:"Entities Push Gibs"=false

        # Multiplier to apply to gib collision box width to reduce collisions/size
        # Min: 0.0
        # Max: 1.0
        D:"Gib Collision Width Multiplier"=0.9

        # Lifetime of gibs in ticks once on idle on the ground
        # Min: 20
        # Max: 2000
        I:"Gib Ground Lifetime"=120

        # Total lifetime of gibs in ticks
        # Min: 20
        # Max: 2000
        I:"Gib Lifetime"=320

        # If gibs should be able to push gibs on the ground
        B:"Gibs Push Gibs"=false

        # If players should be able to push gibs on the ground
        B:"Players Push Gibs"=true
    }

    models {
        # Affects models constructed with proper branching (Finger on Hand, Hand on Arm, etc.)
        # Allows for overriding Max Branch Size Ratio and Max Branches Ratio per Entity Registry Name
        # Format: Entity Registry Name, Max Branch Size Ratio, Max Branches Ratio
        # Example: minecraft:witch,0.4,0.8
        S:"Model Branch Ratio Overrides" <
            iceandfire:dread_scuttler,0.2,1.0
            iceandfire:if_cockatrice,0.2,1.0
            iceandfire:stymphalianbird,0.1,1.0
            iceandfire:deathworm,0.1,1.0
            iceandfire:hippocampus,0.2,1.0
            iceandfire:amphithere,0.05,1.0
            iceandfire:seaserpent,0.11,1.0
         >

        # Affects models constructed with proper branching (Finger on Hand, Hand on Arm, etc.)
        # Limits the largest model branch size by area ratio to total model area that can be retained as a single gib
        # Lower values will result in more separated gibs, setting to 0 will result in a gib for each model box
        # Min: 0.0
        # Max: 1.0
        D:"Model Max Branch Size Ratio"=0.3

        # Affects models constructed with proper branching (Finger on Hand, Hand on Arm, etc.)
        # Limits the combined model branch sizes by area ratio to total model area
        # Lower values will limit how many branches can be retained resulting in more separated gibs, setting to 0 will result in a gib for each model box
        # Min: 0.0
        # Max: 1.0
        D:"Model Max Branches Ratio"=1.0

        # Will only gib entities that have had their rendering context captured
        # Rendering context includes specific scaling of parts and status of optionally rendered parts such as saddles
        # If disabled, entities that use a custom renderer may be able to be gibbed, however with some visual oddities
        B:"Only Gib Context Captured Entities"=true
    }

    textures {
        # Blacklist of Entity Registry Names to blacklist from applying captured layer overlay textures to gibs
        S:"Entity Layered Texture Blacklist" <
            minecraft:mooshroom
         >

        # Sets the Entity Layered Texture Blacklist to instead act as a whitelist
        B:"Entity Layered Texture Blacklist is Whitelist"=false

        # Instead of rendering gibs using the original entity textures, a custom gore texture will be applied
        B:"Use Gore Textures"=false
    }

    sounds {
        # Pitch to use when playing a sound from a gib hitting the ground
        D:"Gib Land Sound Pitch"=0.9

        # Volume to use when playing a sound from a gib hitting the ground
        D:"Gib Land Sound Volume"=1.0

        # Pitch to use when playing a sound from an entity being gibbed
        D:"Gibbed Sound Pitch"=0.9

        # Volume to use when playing a sound from an entity being gibbed
        D:"Gibbed Sound Volume"=1.0

        # A custom sound will be played when a gib hits the ground
        B:"Play Sound On Gib Land"=true

        # A custom sound will be played when an entity is gibbed
        B:"Play Sound On Gibbed"=true
    }

    particles {
        # Scales the amount of particles attempted to be created based on the entities max health and amount of gibs created
        # If BallisticBlood is loaded, BallisticBlood config values can affect the amount of particles actually created based on the computed value
        D:"Particle Amount Scale"=1.0

        # Spawns basic blood particles from gibs when they hit the ground
        # If BallisticBlood is loaded, fancier BallisticBlood particles will be used
        B:"Spawn Particles On Gib Land"=true

        # Spawns basic blood particles from gibs when an entity is gibbed
        # If BallisticBlood is loaded, fancier BallisticBlood particles will be used
        B:"Spawn Particles On Gibbed"=true

        # Forces particles to use the generic BallisticBlood blood type rather than being based on the entity being gibbed
        # Only affects BallisticBlood particles
        B:"Use Generic Blood Type"=false
    }

}


