# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# CONFIG ALL THE THINGS! Any changes take effect immediately (unless you're on a server, then the server has to restart).
##########################################################################################################

general {
    # Add biome IDs to this list if you want the darkness to damage players here. The list won't be used if it's empty.
    # Format: modid:name
    S:"Biome Whitelist" <
     >

    # The amount of damage (half hearts) you take from the darkness. [range: 2 ~ 20, default: 2]
    I:"Damage Amount"=2

    # The amount of time (in seconds) you have to spend in darkness before you begin to receive damage. [range: 1 ~ 60, default: 10]
    I:"Damage Delay"=1

    # The amount of time (in seconds) between each hit when the darkness damages you. [range: 1 ~ 10, default: 5]
    I:"Damage Frequency"=5

    # The y-level where the you're considered safe from the darkness regardless of light level. Going below this y-level will make the darkness damage you again. [range: 0 ~ 256, default: 256]
    I:"Damage Height"=256

    # Add dimension IDs to this list if you want the darkness to damage players here.
    I:"Dimension Whitelist" <
        10
     >

    # Values added to this list will allow you to define dimension-specific configurations that override any of the corresponding global ones defined in the other options. 
    # Format: dim_id:damage_frequency:damage:delay:light_level:total_darkness:height
    # Every value except dim_id can be substituted with def, which'll set the value to whatever the global config uses.
    # Example: '0:10:def:60:4:-1:128'
    S:"Dimension-specific Configuration" <
     >

    # If Game Stages is installed, this list can be used to specify stages where the darkness hurt you. Format is stage:priority, where stage is the stage name and the priority is an integer that determines if this takes effect over the non-hurting stages (higher number = higher priority).
    S:"Hurting Stages" <
     >

    # The light level where it's considered dark enough that you begin to receive damage. [range: 0 ~ 15, default: 4]
    I:"Light Level"=4

    # If Game Stages is installed, this list can be used to specify stages where the darkness doesn't hurt you. Format is stage:priority, where stage is the stage name and the priority is an integer that determines if this takes effect over the hurting stages (higher number = higher priority).
    S:"Non-hurting Stages" <
     >

    # The light level that's considered total darkness. Being in this light level halves the time it takes before you start to receive damage, while also doubling the damage receieved. Disable by setting it to -1. [range: -1 ~ 15, default: 0]
    I:"Total Darkness Light Level"=0

    # Toggles whether or not Dynamic Light behaves as if the player is fully lit up, rather than adding to the light level. Faking full brightness is what the old behavior did.
    B:"Unrealistic Light"=false

    # Toggles whether or not to use the biome whitelist as a blacklist instead.
    B:"Use Biome Blacklist"=false

    # Toggles whether or not to use the dimension whitelist as a blacklist instead.
    B:"Use Blacklist"=false
}


