# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General config
##########################################################################################################

general {
    # Set to false to make armor and baubles drop on death. [default: true]
    B:keepArmor=false

    # You can enter registry names of other items here to prevent them from dropping on death. [default: ]
    S:keepCustom <
        enderskills:book
        quark:soul_compass
     >

    # Set to false to make tools drop on death. [default: true]
    B:keepTools=false

    # Set to false to make swords, bows, arrows, and TechGuns guns drop on death. [default: true]
    B:keepWeapons=false
}


