# Configuration file

##########################################################################################################
# changer
#--------------------------------------------------------------------------------------------------------#
# This section allows you to change attributes of items. Each "change" takes 1 line with the following format:
# property;item;value
# 
# property: The property you want to change. Allowed properties: ARMOR_PROTECTION, ARMOR_TOUGHNESS, ATTACK_DAMAGE, ATTACK_SPEED, DURABILITY, EFFICIENCY, ENCHANTABILITY, HARVEST_LEVEL, STACKSIZE
# item: The id of the item. This is usually the mod id (or "minecraft" for vanilla) followed by a colon followed by the item name. e.g. minecraft:iron_sword
# value: The new value for the property.
# 
# Keep in mind that changing the enchantability or harvest level affects the whole tool material, which means that you technically only need to change it for one tool.
# Unfortunately this also means that changing those attributes for one item also applies the change to every item with the same tool material (example below).
# Also, you can't change the attack speed of swords at the moment. Sorry!
# 
# Examples:
# 
# ATTACK_DAMAGE;minecraft:iron_axe;12
# (Increases the attack damage of every iron axe to 12)
# 
# DURABILITY;minecraft:diamond_sword;500
# DURABILITY;minecraft:diamond_pickaxe;500
# DURABILITY;minecraft:diamond_axe;500
# DURABILITY;minecraft:diamond_shovel;500
# DURABILITY;minecraft:diamond_hoe;500
# (Decreases the durability of every vanilla diamond tool to 500)
# 
# DURABILITY;minecraft:flint_and_steel;-1
# (Makes flint and steel unbreakable)
# 
# STACKSIZE;minecraft:snowball;64
# (Increases the stacksize of snowballs to 64)
# 
# HARVEST_LEVEL;minecraft:diamond_pickaxe;0
# (Decreases the harvest level of diamond pickaxes to 0. They can't even mine iron ore now)
# 
# ARMOR_PROTECTION;minecraft:leather_helmet;3
# ARMOR_PROTECTION;minecraft:leather_chestplate;8
# ARMOR_PROTECTION;minecraft:leather_leggings;6
# ARMOR_PROTECTION;minecraft:leather_boots;3
# ARMOR_TOUGHNESS;minecraft:leather_helmet;2
# ARMOR_TOUGHNESS;minecraft:leather_chestplate;2
# ARMOR_TOUGHNESS;minecraft:leather_leggings;2
# ARMOR_TOUGHNESS;minecraft:leather_boots;2
# (Makes leather armor as protective as diamond armor)
# 
# ARMOR_PROTECTION;minecraft:golden_helmet;2
# ARMOR_PROTECTION;minecraft:golden_chestplate;6
# ARMOR_PROTECTION;minecraft:golden_leggings;5
# ARMOR_PROTECTION;minecraft:golden_boots;2
# ARMOR_TOUGHNESS;minecraft:golden_helmet;3
# ARMOR_TOUGHNESS;minecraft:golden_chestplate;3
# ARMOR_TOUGHNESS;minecraft:golden_leggings;3
# ARMOR_TOUGHNESS;minecraft:golden_boots;3
# ATTACK_DAMAGE;minecraft:golden_sword;6.5
# ATTACK_DAMAGE;minecraft:golden_pickaxe;4.5
# ATTACK_DAMAGE;minecraft:golden_axe;9
# ATTACK_DAMAGE;minecraft:golden_shovel;5
# ATTACK_SPEED;minecraft:golden_axe;0.95
# ATTACK_SPEED;minecraft:golden_hoe;3.5
# DURABILITY;minecraft:golden_helmet;212
# DURABILITY;minecraft:golden_chestplate;308
# DURABILITY;minecraft:golden_leggings;289
# DURABILITY;minecraft:golden_boots;250
# DURABILITY;minecraft:golden_sword;420
# DURABILITY;minecraft:golden_pickaxe;420
# DURABILITY;minecraft:golden_axe;420
# DURABILITY;minecraft:golden_shovel;420
# DURABILITY;minecraft:golden_hoe;420
# EFFICIENCY;minecraft:golden_pickaxe;7
# EFFICIENCY;minecraft:golden_axe;7
# EFFICIENCY;minecraft:golden_shovel;7
# HARVEST_LEVEL;minecraft:golden_pickaxe;2
# ENCHANTABILITY;minecraft:golden_pickaxe;16
# ENCHANTABILITY;minecraft:golden_helmet;19
# (Better Gold: Changes golden tools, swords and armor properties completley. As you can see, I only changed the enchantability for one tool and one armor item since it affects the whole gold material)
##########################################################################################################

changer {
    #  [default: ]
    S:changer <
        DURABILITY;cyclicmagic:charm_speed;10
        DURABILITY;cyclicmagic:charm_fire;20
        
        ATTACK_SPEED;nethercraft:glowood_axe;0.4
        ATTACK_SPEED;nethercraft:netherrack_axe;0.4
        ATTACK_SPEED;nethercraft:neridium_axe;0.4
        ATTACK_SPEED;nethercraft:pyridium_axe;0.6
        ATTACK_SPEED;minecraft:wooden_axe;0.4
        ATTACK_SPEED;minecraft:stone_axe;0.4
        ATTACK_SPEED;minecraft:iron_axe;0.4
        ATTACK_SPEED;minecraft:diamond_axe;0.4
        ATTACK_SPEED;erebus:jade_axe;0.4
        ATTACK_SPEED;simpleores:copper_axe;0.4
        ATTACK_SPEED;simpleores:tin_axe;0.4
        ATTACK_SPEED;simpleores:mythril_axe;0.4
        ATTACK_SPEED;simpleores:adamantium_axe;0.4
        ATTACK_SPEED;simpleores:onyx_axe;0.4
        
        ATTACK_DAMAGE;nethercraft:glowood_sword;3
        ATTACK_DAMAGE;nethercraft:netherrack_sword;4
        ATTACK_DAMAGE;nethercraft:neridium_sword;5
        ATTACK_DAMAGE;nethercraft:pyridium_sword;6
        
        HARVEST_LEVEL;nethercraft:pyridium_pickaxe;3
        
        HARVEST_LEVEL;simpleores:copper_pickaxe;4
        EFFICIENCY;simpleores:copper_pickaxe;9
        ATTACK_DAMAGE;simpleores:copper_pickaxe;6
        DURABILITY;simpleores:copper_pickaxe;4000
        
        HARVEST_LEVEL;erebus:jade_pickaxe;5
        EFFICIENCY;erebus:jade_pickaxe;9.5
        ATTACK_DAMAGE;erebus:jade_pickaxe;6.5
        DURABILITY;erebus:jade_pickaxe;5000
        
        HARVEST_LEVEL;minecraft:diamond_pickaxe;6
        EFFICIENCY;minecraft:diamond_pickaxe;10
        ATTACK_DAMAGE;minecraft:diamond_pickaxe;7
        DURABILITY;minecraft:diamond_pickaxe;10000
        
        
        
        EFFICIENCY;simpleores:copper_axe;9
        ATTACK_DAMAGE;simpleores:copper_axe;10
        DURABILITY;simpleores:copper_axe;4000
        
        EFFICIENCY;erebus:jade_axe;9.5
        ATTACK_DAMAGE;erebus:jade_axe;10.5
        DURABILITY;erebus:jade_axe;5000
        
        EFFICIENCY;minecraft:diamond_axe;10
        ATTACK_DAMAGE;minecraft:diamond_axe;15.5
        DURABILITY;minecraft:diamond_axe;10000
        
        
        
        EFFICIENCY;simpleores:copper_shovel;9
        ATTACK_DAMAGE;simpleores:copper_shovel;6.5
        DURABILITY;simpleores:copper_shovel;4000
        
        EFFICIENCY;erebus:jade_shovel;9.5
        ATTACK_DAMAGE;erebus:jade_shovel;7
        DURABILITY;erebus:jade_shovel;5000
        
        EFFICIENCY;minecraft:diamond_shovel;10
        ATTACK_DAMAGE;minecraft:diamond_shovel;7.5
        DURABILITY;minecraft:diamond_shovel;10000
        
        
        
        ATTACK_DAMAGE;simpleores:copper_sword;9
        DURABILITY;simpleores:copper_sword;4000
        
        ATTACK_DAMAGE;erebus:jade_sword;10
        DURABILITY;erebus:jade_sword;5000
        
        ATTACK_DAMAGE;minecraft:diamond_sword;15
        DURABILITY;minecraft:diamond_sword;10000
        
        
        
        ARMOR_PROTECTION;simpleores:copper_helmet;3
        ARMOR_TOUGHNESS;simpleores:copper_helmet;1
        ARMOR_PROTECTION;simpleores:copper_chestplate;7
        ARMOR_TOUGHNESS;simpleores:copper_chestplate;1
        ARMOR_PROTECTION;simpleores:copper_leggings;6
        ARMOR_TOUGHNESS;simpleores:copper_leggings;1
        ARMOR_PROTECTION;simpleores:copper_boots;3
        ARMOR_TOUGHNESS;simpleores:copper_boots;1
        DURABILITY;simpleores:copper_helmet;600
        DURABILITY;simpleores:copper_chestplate;600
        DURABILITY;simpleores:copper_leggings;600
        DURABILITY;simpleores:copper_boots;600
        
        ARMOR_PROTECTION;erebus:jade_helmet;4
        ARMOR_TOUGHNESS;erebus:jade_helmet;2
        ARMOR_PROTECTION;erebus:jade_chestplate;8
        ARMOR_TOUGHNESS;erebus:jade_chestplate;2
        ARMOR_PROTECTION;erebus:jade_leggings;7
        ARMOR_TOUGHNESS;erebus:jade_leggings;2
        ARMOR_PROTECTION;erebus:jade_boots;4
        ARMOR_TOUGHNESS;erebus:jade_boots;2
        DURABILITY;erebus:jade_helmet;1200
        DURABILITY;erebus:jade_chestplate;1200
        DURABILITY;erebus:jade_leggings;1200
        DURABILITY;erebus:jade_boots;1200
        
        
        ARMOR_PROTECTION;minecraft:diamond_helmet;6
        ARMOR_TOUGHNESS;minecraft:diamond_helmet;4
        ARMOR_PROTECTION;minecraft:diamond_chestplate;10
        ARMOR_TOUGHNESS;minecraft:diamond_chestplate;4
        ARMOR_PROTECTION;minecraft:diamond_leggings;9
        ARMOR_TOUGHNESS;minecraft:diamond_leggings;4
        ARMOR_PROTECTION;minecraft:diamond_boots;6
        ARMOR_TOUGHNESS;minecraft:diamond_boots;4
        DURABILITY;minecraft:diamond_helmet;3000
        DURABILITY;minecraft:diamond_chestplate;3000
        DURABILITY;minecraft:diamond_leggings;3000
        DURABILITY;minecraft:diamond_boots;3000
        
     >
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General settings
##########################################################################################################

general {
}


