# Configuration file

general {

    common {

        mowziesstaffs {

            pathstaff {
                I:cooldown=32
                I:durability=128
                I:featherConsumption=1
                I:length=10
                I:lifetime=256
            }

            iceballstaff {
                I:cooldown=32
                I:durability=128
                I:featherConsumption=0
                D:velocity=1.600000023841858
            }

            sunstrikestaff {
                I:amount=4
                I:cooldown=32
                I:delay=6
                I:durability=64
                I:featherConsumption=0
                I:radius=2
                I:reachMultiplier=40
            }

            solarbeamstaff {
                I:cooldown=110
                I:durability=64
                I:featherConsumption=0
                I:slowness=1
            }

        }

        invisibilitystaff {
            I:cooldown=1800
            I:durability=128
            I:duration=600
            I:featherConsumption=0
        }

        healstaff {
            I:cooldown=120
            I:durability=256
            I:featherConsumption=2
            I:range=16
            I:strength=1
            I:strengthCaster=1
        }

        firestaff {
            I:cooldown=40
            I:durability=256
            I:featherConsumption=0
            B:ignitePlayers=false
            I:range=16
        }

        windstaff {
            I:cooldown=20
            I:durability=1024
            I:featherConsumption=4
            D:forwardStrength=4.450000047683716
            D:upwardStrength=0.20000000149011612
        }

        flightstaff {
            I:cooldown=850
            I:durability=256
            I:featherConsumption=4
            D:forwardStrength=0.10000000149011612
            D:upwardStrength=3.5999999046325684
        }

        glowstaff {
            I:cooldown=2000
            I:durability=256
            I:duration=1200
            I:featherConsumption=0
            I:range=40
        }

    }

}


