# Configuration file

general {
    # Stop what is considered log spam but may still be useful when working with OptiFine features (Shaders, Resourcepacks, etc...), see README.md for a list.
    B:"Stop Log Spam"=true
}


