# Configuration file

"mod pack information" {
    # The current version of your mod pack. [default: UNKNOWN]
    S:"Mod pack current version"=0.2.8

    # The name of your mod pack. [default: UNKNOWN]
    S:"Mod pack name"=TREPIDATION

    # The URL of your mod pack downloads (most likely CurseForge). [default: UNKNOWN]
    S:"URL to your modpack's CurseForge page"=https://www.curseforge.com/minecraft/modpacks/trepidation

    # The URL of where your version JSON is located. [default: UNKNOWN]
    S:"URL to your version JSON"=https://raw.githubusercontent.com/CalaMariGold/TREPIDATION/master/pack_version_number.json
}


"update checker" {
    # This determines whether or not the mod will check for updates. [default: true]
    B:"Check for updates"=true
}


