# Configuration file

debug {
    B:"Enable Debug"=false
}


patchoulibooks {

    debug {
        # Enable debug mode.
        B:"Enable Debug"=false
    }

    general {
        # Add default recipes for Patchouli Books books.
        B:"[1] Enable Recipes"=false

        # Enable Pamphlets for all books if there is only one category, which has less than 15 entries.
        # You can still create pamphlets manually by adding the 'pamphlet' tag to a book.json.
        B:"[2] Enable Pamphlets for everyone"=false

        # Improve recipe lookup by checking for output instead of recipe id.
        # This is untested with books added by other mods. User added books work fine.
        B:"[3] Improve Recipe Lookup"=false

        # If true, mark all entries of PatchouliBooks books as read.
        # Because who wants to click through all entries?
        B:"[4] Pre-read Books"=true
    }

    "just enough items / had enough items" {
        B:"Open JEI from Books"=true
        B:"Open Patchouli Book from JEI"=true
    }

    "inventory button" {
        B:"[1] Enable Inventory Button"=false
        B:"[2] Add unique inventory button"=false
        S:"[3] Button Anchor"=TOP_LEFT
        I:"[4] Button Offset X"=134
        I:"[5] Button Offset Y"=61
    }

    jei_hei {
        # Prevent books from showing up in JEI.
        S:"Book Blacklist" <
            patchoulibooks:patchoulibooks
         >

        # Enable opening JEI for items in Patchouli books.
        B:"Open JEI from Books"=true

        # Enable opening Patchouli books from JEI.
        # Each book with a matching item will be displayed next to the recipe.
        # If there is more than one book, the books will be displayed in a grid.
        B:"Open Patchouli Book from JEI"=true
    }

    inventory_button {
        # Time in seconds, whenever the toast should be displayed,
        # while the inventory is open.
        I:"[10] Annoy Toast Delay"=10

        # Enable the inventory button for Patchouli books.
        # On click it will open a list of all loaded books.
        # The button will be displayed only if the is no book specified in the patchouli config and 'addUniqueInventoryButton' is set to false.
        B:"[1] Enable Inventory Button"=false

        # Instead of overriding the patchouli inventory button, add a new button.
        # This requires the inventory button to be enabled.
        B:"[2] Add unique inventory button"=true

        # Anchor position of the inventory button.
        # Valid values:
        # TOP
        # RIGHT
        # BOTTOM
        # LEFT
        # TOP_LEFT
        # TOP_RIGHT
        # BOTTOM_LEFT
        # BOTTOM_RIGHT
        # CENTER
        S:"[3] Button Anchor"=TOP_LEFT

        # Offset of the button from the anchor position on the x-axis.
        I:"[4] Button Offset X"=134

        # Offset of the button from the anchor position on the y-axis.
        I:"[5] Button Offset Y"=61

        # Notify the player that they have unread entries in the inventory book.
        B:"[6] Annoy Player"=true

        # The sound that plays to notify the player about unread entries.
        # Leaving this empty, will disable the sound.
        S:"[7] Annoy Sound"=

        # Time in seconds, whenever the sound should get played,
        # while the inventory is open.
        I:"[8] Annoy Sound Delay"=3

        # Display a toast while there are unread entries.
        B:"[9] Annoy Toast"=true
    }

}


recipes {
    B:"Enable JEI Integration"=true
    B:"Enable Pamphlets for everyone"=false
    B:"Enable Recipes"=false
    B:"Improve Recipe Lookup"=false
}


