# Configuration file

##########################################################################################################
# compat
#--------------------------------------------------------------------------------------------------------#
# Mod Compatibility Configuration
##########################################################################################################

compat {
    # Set the Timer value after a reroll. [range: 1200 ~ 2147483647, default: 12000]
    I:"Time is up Timer"=72000
}


##########################################################################################################
# reroll
#--------------------------------------------------------------------------------------------------------#
# Reroll Command Configuration
##########################################################################################################

reroll {
    # You can use most valid commands. '@p' will replace wil the player's name. You can also use format strings. Examples: 'say hello world', 'advancement revoke @p everything', 'say hello %s, you are %s!;playername;amazing' [default: [advancement revoke @p everything]]
    S:"Additional Commands" <
        gamemode survival @p
        advancement revoke @p everything
        es_advancement @p retries set 0
        es_advancement @p level set 1
        es_skill @p reset
        es_cooldown @p reset
        es_endurance @p reset
        gamestage silentadd @p nether
        gamestage silentremove @p killedWither
        gamestage silentremove @p erebus
        gamestage silentremove @p deepdark
        gamestage silentremove @p surface
        srpevolution phase_0
        scoreboard objectives remove timerbonus
        scoreboard objectives add timerbonus dummy
        timer @p add 100
        effect @p clear
     >

    # Sets the resource location for the block you can spawn on. [default: [minecraft:grass], [minecraft:dirt], [minecraft:stone]]
    S:"Block Spawn" <
        nethercraft:heat_sand
     >

    # Should players get an initial inventory when they first join a world? [default: true]
    B:"Initial Inventory"=true

    # Should players get an initial inventory every time they reroll? [default: true]
    B:"Initial Inventory per Reroll"=true

    # This is a safety feature to lock the use of reroll at the start. Users are required to use /reroll unlock to use reroll just in case. [default: true]
    B:"Lock Reroll"=false

    # Maximum number of times to try to find a valid block position for reroll. Rerolling again will reset the count and start from the next reroll position. [range: 1 ~ 10, default: 5]
    I:"Max Tries"=10

    # Override the dimension used for the reroll spawn location [range: -2147483648 ~ 2147483647, default: 0]
    I:"Override Dimension"=-1

    # Using Reroll requires Reroll Dice. Disables the /reroll command for non-OP players. [default: true]
    B:"Require Dice"=false

    # Should '/reroll all' send all players to the same location? [default: false]
    B:"Reroll All Together"=false

    # Cooldown time to use reroll dice. [range: 30 ~ 2147483647, default: 60]
    I:"Reroll Cooldown"=60

    # Horizontal radius to search for a reroll position. Larger numbers might cause more lag. [range: 16 ~ 2048, default: 256]
    I:"Reroll Horizontal Radius"=112

    # A list of items that will be added to a player's inventory after using the reroll command.
    # You can add any existing item per line like this: "minecraft:torch;16".
    # Note that you can only have as many items as there are inventory slots. [default: [reroll:dice;1]]
    S:"Reroll Inventory" <
        nethercraft:glowood_sword;1
        nethercraft:glowood_pickaxe;1
        nethercraft:glowood_axe;1
        nethercraft:glowood_shovel;1
        minecraft:torch;1
     >

    # Determines the minimum distance to teleport when you reroll. [range: 256 ~ 10240, default: 512]
    I:"Reroll Minimum Distance"=3024

    # Reroll players if they die to simulate a hardcore experience. [default: false]
    B:"Reroll On Death [Hardcore Mode]"=false

    # Vertical radius to search for a reroll position. Larger numbers might cause more lag. [range: 16 ~ 256, default: 64]
    I:"Reroll Vertical Radius"=64

    # Should players have their ender chest cleared too? [default: true]
    B:"Reset Ender Chest"=true

    # Should player inventory be dropped into a chest where they rerolled? [default: false]
    B:"Send to Chest"=false

    # Should reroll spawn location be set in the player's current dimension? If false, defaults to player spawn dimension. [default: false]
    B:"Use Current Dimension"=false

    # Should reroll spawn location be set to the override dimension? If false, defaults to player spawn dimension. [default: false]
    B:"Use Override Dimension"=true
}


