# Configuration file

debug {
    # Enable to see how long player has been on cooldown (show per player, in console)
    # Default: false
    B:counter=false
}


filter {
    # Blocks that should not be allow to respawn on, use comma as the delimiter.
    # Example:
    #    modid:block_name
    #    modid2:block_name_2
    S:blacklistBlock <
        dimstack:portal
        dimstack:bedrock
        minecraft:netherrack
     >
}


"global config" {
    # Cooldown before allow next respawn (seconds)
    # Default: 10
    I:cooldown=0

    # Default: 32
    I:maxRadius=100

    # Default: 16
    I:minRadius=75

    # Min: 1
    # Max: 2147483647
    I:retryAttempt=100
}


