# Configuration file

"global config" {
    # Cooldown before allow next respawn (seconds)
    # Default: 10
    I:cooldown=10

    # Enable debug for cooldown counting (show per player)
    # Default: false
    B:debug=false

    # Default: 32
    I:maxRadius=100

    # Default: 16
    I:minRadius=75

    # Min: 5
    # Max: 50
    I:retryAttempt=25
}


