# Configuration file

general {

    "betterfoliage config" {
        # Temporarily disables chunk animation when chunks are forced to refresh using BetterFoliage to stop xray abuse
        # Requires "Chunk Animation XRay Patch (ChunkAnimator)" enabled
        B:"BetterFoliage Chunk Animation XRay Patch (BetterFoliage/ChunkAnimator)"=false
    }

    "betterquesting config" {
        # Replaces the advancements tab button in the escape menu with a button for the quest menu
        B:"Advancement Tab Quest Replacement (BetterQuesting)"=false
    }

    "bettersurvival config" {
        # Force EntityLivingBase#attemptTeleport to cancel under the effects of AntiWarp
        B:"AntiWarp Handling (BetterSurvival)"=false

        # Fixes Multishot enchantment causing the DragonBone bow to dupe arrows
        B:"DragonBone Bow Multishot Patch (BetterSurvival/InFRLCraft)"=false

        # Rebalances the values of the Education enchantment and adds optional compat to make Blights not affected by Education
        B:"Education Balance (BetterSurvival/ScalingHealth)"=false

        # Rewrites BetterSurvival handlers to improve performance and fix crashes with TickDynamic
        B:"Handler Optimizations (BetterSurvival)"=false

        # Allows for modifying the combo multiplier of Nunchaku
        B:"Modifiable Nunchaku Combo (BetterSurvival)"=false

        # Maximum Modifier for Nunchaku (Damage * (1 + this))
        # Requires "Modifiable Nunchaku Combo (BetterSurvival)" enabled
        D:"Nunchaku Combo Max Modifier"=1.0

        # Modifies penetration enchant to use SpartanWeaponry's penetration handling with RLCombat to fix damage distribution
        B:"Penetration Damage Fix (BetterSurvival/SpartanWeaponry/RLCombat)"=false

        # Fixes Vampirism healing the player when hitting non-living entities
        B:"Vampirism Fix (BetterSurvival)"=false
    }

    "charm config" {
        # Adds and registers the Cleansing Talisman, a recipe for crafting a Curse Break book, and the Curse Break potion
        B:"Cleansing Talisman (Charm)"=false
    }

    "chunkanimator config" {
        # Temporarily disables chunk animation when chunks are forced to refresh to stop xray abuse
        B:"Chunk Animation XRay Patch (ChunkAnimator)"=false
    }

    "defiledlands config" {
        # Replaces the effect from the Scarlite Sword with a config defined effect
        B:"Scarlite Sword Config Effect (DefiledLands)"=false

        # Effect given by the Scarlite Sword when hitting an entity
        # Requires "Scarlite Sword Config Effect (DefiledLands)" enabled
        S:"Scarlite Sword Effect"=lycanitesmobs:leech

        # Amplifier of effect given by the Scarlite Sword when hitting an entity
        # Requires "Scarlite Sword Config Effect (DefiledLands)" enabled
        # Min: 0
        # Max: 10
        I:"Scarlite Sword Effect Amplifier"=1

        # Duration of effect given by the Scarlite Sword when hitting an entity
        # Requires "Scarlite Sword Config Effect (DefiledLands)" enabled
        # Min: 1
        # Max: 1200
        I:"Scarlite Sword Effect Duration"=20
    }

    "epicsiegemod config" {
        # Disables the digging AI for mobs that are not carrying a pickaxe and disables other griefing AI for performance
        B:"Digging AI Patch (EpicSiegeMod)"=true
    }

    "infrlcraft config" {
        # Stops dragons that are not ticking on the edge of render distance from receiving damage
        B:"Dragon Ticking Abuse Fix (InFRLCraft)"=false

        # Makes callable horses register as dead when turned to stone
        B:"Horse Death On Stoning (InFRLCraft/CallableHorses)"=false
    }

    "inspirations config" {
        # Makes incorrectly mixing potions in a cauldron turn into a Mundane instead of a Thick potion
        B:"Cauldron Failure Mundane (Inspirations)"=false
    }

    "jei config" {
        # Reverts the behavior of JEI moving bookmarks out of the config folder
        B:"Revert Bookmark Location Change (JEI)"=false

        # Suppresses JEI outputting recipe errors related to VariedCommodities
        B:"Suppress VariedCommodities Errors (JEI/VariedCommodities)"=false
    }

    "lycanitesmobs config" {
        # Stops mobs from attempting to target mobs that are stone statues, or tagged with NoAI
        B:"Mob Targeting Fix (LycanitesMobs/InFRLCraft)"=false
    }

    "mobends config" {
        # Disables online checks that can cause the game to freeze on loading
        B:"Disable Online Checks (MoBends)"=true
    }

    "potioncore config" {
        # Makes the Cure effect apply during attacks
        B:"Cure Applies On Attack"=false

        # Replaces the Launch effect from PotionCore with Delayed Launch, for compatibility with knockback effects
        B:"Delayed Launch (PotionCore)"=false

        # Adds and registers the Encumbered potion effect
        B:"Encumbered Potion Effect"=false

        # Halves the effect of the Reach potion
        B:"Half Reach (PotionCore)"=false
    }

    "quark config" {
        # Enables equipping hats as baubles
        B:"Hat Baubles (Quark/Baubles)"=true

        # Fixes hat rendering when using MoBends
        B:"Hat MoBends Compat (Quark/MoBends)"=true

        # Adds passive looting 1 when wearing the pirate hat
        B:"Pirate Hat Looting"=false

        # Makes feathers not passively drop from chickens if they're stone statues
        B:"Stone Statue Chicken Feather Fix (Quark/InFRLCraft)"=false
    }

    "rlartifacts config" {
        # Makes the Antidote Vessel additionally take effect on potion applications
        B:"Antidote Vessel Enhancement"=false
    }

    "rlcombat config" {
        # Enables the Nether Bane weapon effect to deal bonus damage to nether mobs
        B:"Enable Nether Bane"=false

        # Value to either multiply damage by or add to damage for the Nether Bane effect
        D:"Nether Bane Damage Value"=4.0

        # List of mobs to be classed as nether mobs for the Nether Bane effect
        S:"Nether Bane Mob List" <
            minecraft:wither_skeleton
            minecraft:zombie_pigman
            minecraft:blaze
            minecraft:magma_cube
            minecraft:wither
         >

        # If true, Nether Bane effect will multiply damage, if false, additive
        B:"Nether Bane Multiply/Add"=false

        # List of weapons to have the Nether Bane effect
        S:"Nether Bane Weapon List" <
            
         >
    }

    "rlmixins config" {
        # Adds and registers additional useful loot functions for json loot tables
        B:"Additional Loot Functions"=false

        # Adds and registers the Antimagic Talisman, and a recipe for crafting it with enchanted items
        B:"Antimagic Talisman"=false

        # Adds and registers the Cow potion effect
        B:"Cow Potion Effect"=false

        # Adds and registers the Lesser Fire Resistance potion effect
        B:"Lesser Fire Resistance Potion Effect"=false

        # Adds and registers Scarlite armor with custom models
        B:"Scarlite Armor"=false

        # Adds and registers Steel armor with custom models
        B:"Steel Armor"=false
    }

    "rustic config" {
        # Effect that drinking Ale should give
        S:"Ale Effect"=lycanitesmobs:immunization

        # Inebriation chance when drinking ale
        D:"Ale Inebriation Chance"=0.5

        # Maximum duration of the hunger effect given by ale below quality 0.5
        D:"Ale Maximum Duration Hunger"=6000.0

        # Maximum duration of the nausea effect given by ale below quality 0.5
        D:"Ale Maximum Duration Nausea"=6000.0

        # Maximum duration of the positive effect given by ale at quality 1.0
        D:"Ale Maximum Duration Positive"=12000.0

        # Effect that drinking Cider should give
        S:"Cider Effect"=potioncore:magic_shield

        # Inebriation chance when drinking cider
        D:"Cider Inebriation Chance"=0.5

        # Maximum duration of the nausea effect given by cider below quality 0.5
        D:"Cider Maximum Duration Nausea"=6000.0

        # Maximum duration of the poison effect given by cider below quality 0.5
        D:"Cider Maximum Duration Poison"=1200.0

        # Maximum duration of the positive effect given by cider at quality 1.0
        D:"Cider Maximum Duration Positive"=12000.0

        # Makes Coffee from Charm reduce the effects of Inebriation from Rustic instead of water
        B:"Coffee Cures Inebriation (Rustic/Charm)"=false

        # Allows for defining the effects of Ale, Cider, Iron Wine, Mead, Wildberry Wine, and Wine
        B:"Config Alcohol Effects (Rustic)"=false

        # Inebriation chance when drinking iron wine
        D:"Iron Wine Inebriation Chance"=0.5

        # Maximum absorption given by iron wine at quality 1.0
        D:"Iron Wine Maximum Absorption"=10.0

        # Maximum damage given by iron wine below quality 0.5 (Plus 1)
        D:"Iron Wine Maximum Damage"=5.0

        # Maximum duration of the nausea effect given by iron wine below quality 0.5
        D:"Iron Wine Maximum Duration Nausea"=6000.0

        # Effect that drinking Mead should give
        S:"Mead Effect"=lycanitesmobs:rejuvenation

        # Inebriation chance when drinking mead
        D:"Mead Inebriation Chance"=0.5

        # Maximum duration of the nausea effect given by mead below quality 0.5
        D:"Mead Maximum Duration Nausea"=6000.0

        # Maximum duration of the positive effect given by mead at quality 1.0
        D:"Mead Maximum Duration Positive"=6000.0

        # Maximum duration of the wither effect given by mead below quality 0.5
        D:"Mead Maximum Duration Wither"=800.0

        # Amplifier decrease of positive effects by wildberry wine below quality 0.5
        I:"Wildberry Wine Amplifier Decrease"=1

        # Inebriation chance when drinking wildberry wine
        D:"Wildberry Wine Inebriation Chance"=0.5

        # Maximum amplifier of the positive effect increased by wildberry wine above quality 0.5
        I:"Wildberry Wine Maximum Amplifier"=2

        # Maximum amplifier increase of the positive effect increased by wildberry wine above quality 0.5
        I:"Wildberry Wine Maximum Amplifier Increase"=1

        # Maximum duration of the nausea effect given by wildberry wine below quality 0.5
        D:"Wildberry Wine Maximum Duration Nausea"=6000.0

        # Inebriation chance when drinking wine
        D:"Wine Inebriation Chance"=0.5

        # Maximum duration of the positive effect increased by wine above quality 0.5
        D:"Wine Maximum Duration"=12000.0

        # Maximum duration decrease of the positive effect decreased by wine below quality 0.5
        D:"Wine Maximum Duration Decrease"=2400.0

        # Maximum duration increase of the positive effect increased by wine above quality 0.5
        D:"Wine Maximum Duration Increase"=2400.0

        # Maximum duration of the nausea effect given by wine below quality 0.5
        D:"Wine Maximum Duration Nausea"=6000.0
    }

    "scalinghealth config" {
        # Fixes the bandaged effect not having an icon
        B:"Bandaged Icon Fix (ScalingHealth)"=false

        # Attempts to fix a desync caused by ScalingHealth when a mob dies in the same tick it is spawned
        B:"Death Health Desync (ScalingHealth)"=true
    }

    "srparasites config" {
        # Effect given by the cleaver when hitting an entity
        # Requires "Modify Cleaver Effect (SRParasites)" enabled
        S:"Cleaver Effect"=potioncore:vulnerable

        # Makes callable horses register as dead when converted to parasites
        B:"Horse Death On Conversion (SRParasites/CallableHorses)"=false

        # Amplifier given by living cleaver when hitting an entity
        # Requires "Modify Cleaver Effect (SRParasites)" enabled
        # Min: 0
        # Max: 10
        I:"Living Cleaver Amplifier"=0

        # Allows for replacing the cleaver effect with a config defined effect
        B:"Modify Cleaver Effect (SRParasites)"=false

        # Makes Parasite armor cure/lower the effect of Fear
        B:"Parasite Armor Fear Cure"=false

        # Maximum amplifier of Fear while wearing Parasite armor (-1 = cures it)
        # Requires "Parasite Armor Fear Cure" enabled
        # Min: -1
        # Max: 10
        I:"Parasite Armor Fear Cure Max Amplifier"=1

        # Makes Parasite armor cure/lower the effect of Viral
        B:"Parasite Armor Viral Cure"=false

        # Maximum amplifier of Viral while wearing Parasite armor (-1 = cures it)
        # Requires "Parasite Armor Viral Cure" enabled
        # Min: -1
        # Max: 10
        I:"Parasite Armor Viral Cure Max Amplifier"=2

        # Rehandles and rebalances the scythe and maul AOE
        B:"Rehandle AOE Weapons (SRParasites/RLCombat)"=false

        # Replaces Living and Sentient armor models with custom models
        B:"Replace Parasite Armor Models (SRParasites)"=false

        # Amplifier given by sentient cleaver when hitting an entity
        # Requires "Modify Cleaver Effect (SRParasites)" enabled
        # Min: 0
        # Max: 10
        I:"Sentient Cleaver Amplifier"=1
    }

    "vanilla config" {
        # Skips BlockConcretePowder from running onBlockAdded during worldgen for performance
        B:"ConcretePowder Skip OnBlockAdded (Vanilla)"=true
    }

}


