# Configuration file

general {

    ##########################################################################################################
    # client options
    #--------------------------------------------------------------------------------------------------------#
    # Client-Side Options
    ##########################################################################################################

    "client options" {
        # Each line you add to this list will appear in order, while the black screen is still opaque
        S:Context <
            Countless hands once reached for forever.
            The veil tore. Something answered.
            The world did not break. It was unmade.
            Then stacked like strata of grief.
            You are not the first to climb. You will not be the last to fall.
            But you will climb anyway.
            ASCEND.
         >

        # How many ticks to wait
        # Min: 1
        # Max: 2147483647
        I:"Cutscene Wait Ticks"=700

        # How many fade ticks for the black screen
        # Min: 1
        # Max: 2147483647
        I:"Fade Duration"=150

        # How many ticks before the text that tells you to stand up appears
        # Min: 1
        # Max: 2147483647
        I:"Text Draw Delay"=800

        ##########################################################################################################
        # reduced timers
        #--------------------------------------------------------------------------------------------------------#
        # Uses these timers if "Repeat Cutscene" is set to "REDUCED".
        ##########################################################################################################

        "reduced timers" {
            # How many ticks to wait
            # Min: 1
            # Max: 2147483647
            I:"Reduced Cutscene Wait Ticks"=50

            # How many fade ticks for the black screen
            # Min: 1
            # Max: 2147483647
            I:"Reduced Fade Duration"=50

            # How many ticks before the text that tells you to stand up appears
            # Min: 1
            # Max: 2147483647
            I:"Reduced Text Draw Delay"=100
        }

    }

    ##########################################################################################################
    # common options
    #--------------------------------------------------------------------------------------------------------#
    # Server & Client Options
    ##########################################################################################################

    "common options" {
        # Should the cutscene repeat? Accepts:
        # - NEVER: Cutscene plays once per world
        # - ALWAYS: Cutscene always plays
        # - REDUCED: Cutscenes last half as long as the first one
        # Valid values:
        # NEVER
        # ALWAYS
        # REDUCED
        S:"Repeat Cutscene"=ALWAYS
    }

}


