# Configuration file

general {
    # Disable the mod's code.
    B:disable=false

    # Min: 0.0
    # Max: 1.0
    D:fog_color_blue=0.0

    # Min: 0.0
    # Max: 1.0
    D:fog_color_green=0.0

    # Fog color mode. The fog_color_* values are range [0, 1]!
    # 0: Don't touch the color of the fog. Other fog_color_* are ignored.
    # 1: Multiply the original fog color with the fog_color_* values.
    # 2: Overwrite the original fog color with the fog_color_* values.
    # 
    # Min: 0
    # Max: 2
    I:fog_color_mode=2

    # Min: 0.0
    # Max: 1.0
    D:fog_color_red=0.0

    # End of the fog. The is basically the end of visual range.
    # Min: 0.0
    # Max: 256.0
    D:fog_end=30.0

    # Start of the fog. This is where the fog effect starts, but it won't be super noticeable.
    # Min: 0.0
    # Max: 256.0
    D:fog_start=2.0
}


