# Configuration file

boss {
    # NBT of the boss.
    # Every entity matching this NBT is considered as boss.
    # Once the player has killed the boss, his timers are disabled.
    # Leaving this blank will disable boss functionality. [default: {id:"minecraft:ender_dragon"}]
    S:Boss={id:"minecraft:ender_dragon"}

    # Message sent when the player killed the boss. [default: §6You are now free to travel across dimensions without any limit.]
    S:"Boss message"=§5Finally. Peace. Thank you.
}


configs {
    # Dimensions where there is NO timer
    I:BlackList <
     >

    # Set to true to stop the timer for all players once one of them met the conditions [default: false]
    B:Co-op=true

    # Tick when the timer becomes red. [default:620] [range: 0 ~ 2147483647, default: 620]
    I:Dangerous=6000

    # Default amount of ticks recovered per tick recover. [default:1] [range: 1 ~ 2147483647, default: 1]
    I:"Default amount recovered"=1

    # Default duration when the player comes for the first time in this dimension. [default:12000 = 10 minutes] [range: 0 ~ 2147483647, default: 12000]
    I:"Default duration"=72000

    # Default max duration that can be accumulated for a dimension. [default:72000 = 1 hour] [range: 0 ~ 2147483647, default: 72000]
    I:"Default max duration"=72000

    # Default tick amount to spend in an other dimension to recover ticks in this dimension. [default:4] [range: 1 ~ 2147483647, default: 4]
    I:"Default ticks per duration"=4

    # Default timer for each dimension.
    # Format for one dimension : "dimension_id;default_duration;ticks_per_duration;max_duration;amount_recovered".
    # Example : "-1;12000;4;72000;3" (-1 = nether) [default: ]
    S:"Default timers" <
     >

    # Tick when the timer comes in the front of the screen [default:220] [range: 0 ~ 2147483647, default: 220]
    I:Emergency=600

    # Set to true to use the same shared timer for all dimensions [default: false]
    B:"Global timer"=true

    # Set to true to set the world to hardcore mode once time is up. [default: false]
    B:"Hardcore timer"=false

    # When time is up, the player die if set to false or receive bad potion effects if set to true [default: false]
    B:"Potion Effects"=true

    # 'BlackList' is used as a blacklist if true. [default: true]
    B:"Use blackList"=true

    # Play a warning sound at these ticks. [default: [1220, 620] ]
    I:Warnings <
        1220
        12000
        36000
        72000
     >
}


effects {
    # Sets the spawn chance when doom performs its effect.
    # Assuming nothing else is preventing spawning. [range: 0.0 ~ 1.0, default: 0.6]
    S:"Doom spawn chance"=1.0

    # Sets mobs that can be spawned by doom effect.
    # If a dimension or biome is not set, default spawnset for biome will be used.
    # format :  dimension_or_biome_name;entry1;entry2; ...
    # entry format : entity_name,weight,minCount,maxCount
    # weight - higher weight mean higher chance to spawn
    # minCount - minimum group size
    # maxCount - maximum group size [default: ]
    S:"Doom spawners" <
     >

    # Exile Effect amplifier [range: 0 ~ 255, default: 0]
    I:"Exile amplifier"=0

    # Chances to get Exile Effect by killing a mob. [range: 0.0 ~ 1.0, default: 0.05]
    S:"Exile chances"=0.0

    # Sets effects for dangerous phase. format : effectId;duration;amplifier;show_icon [default: [minecraft:slowness;120;1;true]]
    S:"dangerous effects" <
     >

    # Cooldown before applying effects. [80 ticks by default] [range: 1 ~ 2147483647, default: 80]
    I:"effects cooldown"=80

    # Sets effects for emergency phase. format : effectId;duration;amplifier;show_icon [default: [minecraft:slowness;120;1;true], [minecraft:mining_fatigue;120;0;true], [minecraft:poison;120;0;true], [minecraft:hunger;120;0;true], [timeisup:frailty_effect;120;0;true]]
    S:"emergency effects" <
     >

    # Sets effects for when the time is up. format : effectId;duration;amplifier;show_icon [default: [minecraft:slowness;120;3;true], [minecraft:mining_fatigue;120;1;true], [minecraft:poison;120;2;true], [minecraft:hunger;120;1;true], [timeisup:frailty_effect;120;1;true]]
    S:"time is up effects" <
        timeisup:doom_effect;999;3;true
     >
}


