# Configuration file

configs {
    # Offset position of the timer on the screen.
    # Format : 'x:y'.
    S:offset=5:-5

    # Position of the timer on the screen.
    # 0 : top-left
    # 1 : top-right
    # 2 : bottom-left
    # 3 : bottom-right [range: 0 ~ 3, default: 2]
    I:position=2
}


