# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        Press R on an item to view its recipes and U to view its uses.
        Item descriptions provide vital clues to the progression.
        TREPIDATION's world is filled with mystery and lore. Seek it.
        Each death teaches you something new about TREPIDATION.
        Don't be afraid to reset your runs to apply skills you've learned.
        Searching recipes and uses in JEI is vital to progress.
        Progression after the Nether is a placeholder and WIP.
        Some essential progression items are bookmarked in JEI.
        Stock up on food before you head into the Deep Dark.
        You can dash mid-air continuously to cross lava oceans or caverns.
        Press left ALT to dash. Each dash gives 1 second of invulnerability.
        Press left ALT to dash. Each dash gives 1 second of invulnerability.
        Press left ALT to dash. Each dash gives 1 second of invulnerability.
        Each dash gives 1 second of invulnerability (1s i-frame)
        Double jump to stop fall damage.
        Most foods in the Nether provide beneficial effects.
        Magma eggs and fire charges can be thrown.
        A Ghast Bomb can be crafted to explode blocks.
        You can wall hang by holding shift on a wall.
        Pickaxes, torches, and a few other items never drop on death.
        Craft a backpack before you head into the Erebus.
        Use a Soul Anchor to set your spawn after arriving in a new dimension.
        Join the Discord to discuss strategies and compete for the world record.
        The official world record for beating the Wither is less than 6 minutes.
        Did you know? It is in every world you make.
        There is no escape.
        Go into the darkness.
        "Rebirth Nearby" may not always be the best option.
        "Rebirth Nearby" spawns you 50-75 blocks from your last death.
        If you die within 20s of using "Rebirth Nearby", that option will be locked.
        Review TREPIDATION on mmcreviews.com!
        Watch the trailer for TREPIDATION on YouTube!
        Support development on Ko-fi!
        In this eternal cycle, you are but fleeting shadows.
        Each step you take is one walked by countless before you, each as insignificant as the last.
        Read the guide book! It contains crucial information and lore.
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FF0000

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


