# Configuration file

general {

    ##########################################################################################################
    # camera config
    #--------------------------------------------------------------------------------------------------------#
    # Camera effect configuration
    ##########################################################################################################

    "camera config" {
        # Enable effects in third-person view
        B:enableInThirdPerson=false

        # Enable camera effects
        B:enabled=true

        # Frequency of camera shake oscillations from explosions/lightning bolt strikes
        # Min: 0.0
        # Max: 30.0
        D:explosionFrequency=2.0

        # Maximum angle of camera shake from explosions/lightning bolt strikes
        # Min: 0.0
        # Max: 180.0
        D:explosionMaxAngle=15.0

        # Speed at which explosion trauma recovers
        # Min: 0.0
        # Max: 1.0
        D:explosionRecoverySpeed=0.05000000074505806

        # Base trauma amount from explosions/lightning bolt strikes
        # Min: 0.0
        # Max: 5.0
        D:explosionTraumaBase=0.800000011920929

        # Forward movement pitch effect intensity
        # Min: 0.0
        # Max: 10.0
        D:forwardPitchFactor=1.4

        # Horizontal movement smoothing factor
        # Min: 0.0
        # Max: 3.0
        D:horizontalSmoothingFactor=1.0

        # Strafing roll effect intensity
        # Min: 0.0
        # Max: 10.0
        D:strafeRollFactor=2.5

        # Delay before sway effect starts (In ticks)
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:swayFadeDelay=20.0

        # Sway fade-in duration
        # Min: 0.0
        # Max: 5.0
        D:swayFadeInLength=1.0

        # Sway fade-out duration
        # Min: 0.0
        # Max: 5.0
        D:swayFadeOutLength=0.5

        # Camera sway frequency
        # Min: 0.0
        # Max: 1.0
        D:swayFrequency=0.02500000037252903

        # Camera sway intensity
        # Min: 0.0
        # Max: 2.0
        D:swayIntensity=0.5

        # Turning roll accumulation factor
        # Min: 0.0
        # Max: 0.01
        D:turningRollAccumulation=0.009999999776482582

        # Turning roll effect intensity
        # Min: 0.0
        # Max: 5.0
        D:turningRollIntensity=1.3

        # Turning roll smoothing factor
        # Min: 0.0
        # Max: 3.0
        D:turningRollSmoothing=1.5

        # Vertical pitch effect intensity from jumping/falling
        # Min: 0.0
        # Max: 10.0
        D:verticalPitchFactor=1.5

        # Vertical movement smoothing factor
        # Min: 0.0
        # Max: 2.0
        D:verticalSmoothingFactor=1.5
    }

}


