# Configuration file

general {
    S:BlackList <
        
     >
    I:EatCoolDown=0
    S:EatEffect <
        
     >
    S:EatTimeSet <
        
     >
    B:EnableBlackList=false
    B:EnableEatEntityEffect=true
    B:EnableEatenEffectList=true
    B:EnableEntityDamage=true
    B:EnableInedibleList=false
    B:EnableSpit=true
    B:EnableWhiteList=true
    I:EntityDamage=1
    I:EntityDamageInterval=10
    S:InedibleList <
        
     >
    I:PlayerEatenDamage=1
    I:PlayerEatenDamageInterval=10
    B:PlayerTakeDamage=true
    B:SpitBlackEffectList=false
    S:SpitBlackList <
        minecraft:golden_apple
     >
    I:SpitCountMax=10
    D:Spitexpendmultiple=1.0
    S:WhiteList <
        
     >
    S:WorldBlackList <
     >
    B:alwaysedible=false
    B:block=true
    I:consumecountmultiple=1
    I:eatencooldown=500
    S:eateneffectlist <
        
     >
    S:eatensetlist <
        
     >
    S:eatentityeffectlist <
        
     >
    B:entity=false
    B:item=true
    I:particlescount=10
}


