# Configuration file

general {

    common {
        D:armor=3.0
        B:breakBlocksWhenTargetingPlayer=true
        B:breakFluidsWhenTargetingPlayer=false
        B:breakLiquids=false
        D:followDistance=2.5
        D:followRange=100.0
        D:maxHealth=250.0
        D:movementSpeed=0.07
        D:unarmoredFlyHeight=1.5

        summonsequence {
            D:endExplosionStrength=3.0
            I:length=220
        }

        skulls {
            D:damage=1.0
            S:effects <
                minecraft:wither;2;0
             >
            D:explosionStrength=0.1
            D:healOnKill=0.0
            D:magicDamage=0.0
        }

        boatjailfix {
            B:enabled=true
            I:range=7
            I:tickDelay=5
        }

        healing {
            D:invulnerableHealing=10.0
            D:vulnerableHealing=0.1
        }

    }

}


