# Configuration file

general {
    # The index of the configuration preset you wish to use.
    # Setting this to -1 will make the mod use this version's default configurations.
    # Factory presets are defined in a range from 0 to 2, with increasing difficulty. Any value above this will use user-defined configurations.
    # 0 = Classic, recommended for new players or nostalgia-fans, vanilla-friendly difficulty; evolution is weakest, Prober special abilities disabled
    # 1 = Death World, medium difficulty, best suited for modpacks with multiple weapon/gear mods like Tinker's Construct; all features enabled, evolution is normal-strength
    # 2 = Dark Forest, hardest difficulty, emulates the canonical power of the Nyral Wyrms. Balanced for mods like HBM's Nuclear Tech Mod; all destructive features enabled, evolution is extremely strong, all variants unlocked on first stage, etc.
    # Min: -1
    # Max: 255
    I:"Config Preset"=2

    # Enables or disables the first time-greeting message if a factory preset went missing, this is a workaround if you are on OpenJDK.
    B:"Don't Greet Me"=true

    # Enables extensive animation value checks for situations like being in the air (for non-flying enemies) or being in water (for non-aquatic enemies).
    # Disabling this can increase performance on clients.
    B:"Fancy Animations"=true

    # Enables or disables the music that plays when various events happen, including invasion stage changes and Wyrmfollies hunting the player.The music is streamed by Wyrms of Nyrus, so it is not pre-loaded into memory first thing. There may be lag when music tracks start, so this option is available for users.Turn this off if you are a server, not a client. Calls to play tracks will still be sent out from servers to client, but the server itself will not play the songs.This option should ONLY have a memory usage impact when music tracks are streamed. If the music tracks are eating your RAM, disable this and report the memory leak to VPML immediately.
    B:"Music Enabled"=false
}


