# Configuration file

general {

    ##########################################################################################################
    # config
    #--------------------------------------------------------------------------------------------------------#
    # Ability Values
    ##########################################################################################################

    config {
        # Cooldown Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
        S:cooldown <
            (0+){15 * 20 + 10 * 20 * (1 - ((1 - (e^(-2.1 * (x/24)))) / (1 - e^(-2.1))))}
            (25+){12 * 20 + 3 * 20 * (1- (((e^(0.1 * ((x-24) / (y-24))) - 1)/((e^0.1) - 1))))}
            (50){10 * 20}
         >

        # Effectiveness Modifier
        # Min: 4.9E-324
        # Max: 1.7976931348623157E308
        D:effectiveness=1.0

        # Max level obtainable
        # Min: 0
        # Max: 2147483647
        I:maxLevel=50

        # Range Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
        S:range <
            (0+){3 + 2 * (1 - (e^(-2.1 * (x/24)))) / (1 - e^(-2.1))}
            (25+){5 + 1 * ((e^(0.1 * ((x - 24) / (y - 24))) - 1)/((e^0.1) - 1))}
         >

        # Duration Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
        S:time <
            (0+){3 * 20}
         >

        ##########################################################################################################
        # extra
        #--------------------------------------------------------------------------------------------------------#
        # Skill specific extra Configuration
        ##########################################################################################################

        extra {
            # Initial Damage Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
            S:damage <
                (0+){4 + ((e^(0.1 * (x / 24)) - 1)/((e^0.1) - 1)) * (4.518450 - 4)}
                (25+){4.518450 + ((e^(1.25 * ((x-24) / (y-24))) - 1)/((e^1.25) - 1)) * (5 - 4.518450)}
                (50){6}
             >

            # Damage Over Time Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
            S:dot <
                (0+){6 + ((e^(0.1 * (x / 24)) - 1)/((e^0.1) - 1)) * (9.11 - 6)}
                (25+){9.11 + ((e^(2.25 * ((x-24) / (y-24))) - 1)/((e^2.25) - 1)) * (16 - 9.11)}
                (50){18}
             >
        }

        ##########################################################################################################
        # advancement
        #--------------------------------------------------------------------------------------------------------#
        # Skill specific Advancement Configuration
        ##########################################################################################################

        advancement {
            # Function f(x)=? where 'x' is [Next Level] and 'y' is [Max Level], XP Cost is in units [NOT LEVELS]
            S:upgrade <
                (0){300}
                (1+){4 * x}
                (50){4 * x + 4 * x * 0.1}
             >
        }

    }

}


