# Configuration file

general {

    ##########################################################################################################
    # config
    #--------------------------------------------------------------------------------------------------------#
    # Ability Values
    ##########################################################################################################

    config {
        # Cooldown Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
        S:cooldown <
            (0+){25 * 20 + 7 * 20 * (1 - ((1 - (e^(-2.1 * (x/24)))) / (1 - e^(-2.1))))}
            (25+){22 * 20 + 3 * 20 * (1- (((e^(0.1 * ((x-24) / (y-24))) - 1)/((e^0.1) - 1))))}
            (50){20 * 20}
         >

        # Effectiveness Modifier
        # Min: 4.9E-324
        # Max: 1.7976931348623157E308
        D:effectiveness=1.0

        # Max level obtainable
        # Min: 0
        # Max: 2147483647
        I:maxLevel=50

        # Range Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
        S:range <
            (0+){8 + 6 * (1 - (e^(-2.1 * (x/24)))) / (1 - e^(-2.1))}
            (25+){14 + 2 * ((e^(0.1 * ((x - 24) / (y - 24))) - 1)/((e^0.1) - 1))}
         >

        ##########################################################################################################
        # extra
        #--------------------------------------------------------------------------------------------------------#
        # Skill specific extra Configuration
        ##########################################################################################################

        extra {
            # Damage Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
            S:damage <
                (0+){40 + ((e^(0.1 * (x / 24)) - 1)/((e^0.1) - 1)) * (81.78 - 40)}
                (25+){81.78 + ((e^(3.25 * ((x-24) / (y-24))) - 1)/((e^3.25) - 1)) * (165 - 81.78)}
                (50){175}
             >

            # Crush Size Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
            S:size <
                (0+){7 + 3 * (1 - (e^(-2.1 * (x/24)))) / (1 - e^(-2.1))}
                (25+){10 + 2 * ((e^(0.1 * ((x - 24) / (y - 24))) - 1)/((e^0.1) - 1))}
             >
        }

        ##########################################################################################################
        # advancement
        #--------------------------------------------------------------------------------------------------------#
        # Skill specific Advancement Configuration
        ##########################################################################################################

        advancement {
            # Function f(x)=? where 'x' is [Next Level] and 'y' is [Max Level], XP Cost is in units [NOT LEVELS]
            S:upgrade <
                (0){600}
                (1+){4 * x}
                (50){4 * x + 4 * x * 0.1}
             >
        }

    }

}


