# Configuration file

general {

    ##########################################################################################################
    # config
    #--------------------------------------------------------------------------------------------------------#
    # Ability Values
    ##########################################################################################################

    config {
        # Cooldown Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
        S:cooldown <
            (0+){35 * 20 + 25 * 20 * (1 - ((1 - (e^(-2.1 * (x/24)))) / (1 - e^(-2.1))))}
            (25+){25 * 20 + 10 * 20 * (1- (((e^(0.1 * ((x-24) / (y-24))) - 1)/((e^0.1) - 1))))}
            (50){20 * 20}
         >

        # Effectiveness Modifier
        # Min: 4.9E-324
        # Max: 1.7976931348623157E308
        D:effectiveness=1.0

        # Max level obtainable
        # Min: 0
        # Max: 2147483647
        I:maxLevel=50

        # Range Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
        S:range <
            (0+){14 + 7 * (1 - (e^(-2.1 * (x/24)))) / (1 - e^(-2.1))}
            (25+){21 + 3 * ((e^(0.1 * ((x - 24) / (y - 24))) - 1)/((e^0.1) - 1))}
         >

        # Duration Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
        S:time <
            (0+){15 * 20}
         >

        ##########################################################################################################
        # extra
        #--------------------------------------------------------------------------------------------------------#
        # Skill specific extra Configuration
        ##########################################################################################################

        extra {
            # Damage Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
            S:damage <
                (0+){20 + ((e^(0.1 * (x / 49)) - 1)/((e^0.1) - 1)) * (32.96 - 20)}
                (25+){32.96 + ((e^(2.25 * ((x-24) / (y-24))) - 1)/((e^2.25) - 1)) * (66 - 32.96)}
                (50){70}
             >

            # Damage Over Time Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
            S:dot <
                (0+){14 + ((e^(0.1 * (x / 24)) - 1)/((e^0.1) - 1)) * (20.73 - 14)}
                (25+){20.73 + ((e^(2.25 * ((x-24) / (y-24))) - 1)/((e^2.25) - 1)) * (38 - 20.73)}
                (50){40}
             >

            # Flame Duration Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
            S:flameDuration <
                (0+){0}
             >

            # Flame Range Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
            S:flameRange <
                (0+){3 + 1 * (1 - (e^(-2.1 * (x/24)))) / (1 - e^(-2.1))}
                (25+){4 + 1 * ((e^(0.1 * ((x - 24) / (y - 24))) - 1)/((e^0.1) - 1))}
             >
        }

        ##########################################################################################################
        # advancement
        #--------------------------------------------------------------------------------------------------------#
        # Skill specific Advancement Configuration
        ##########################################################################################################

        advancement {
            # Function f(x)=? where 'x' is [Next Level] and 'y' is [Max Level], XP Cost is in units [NOT LEVELS]
            S:upgrade <
                (0){600}
                (1+){4 * x}
                (50){4 * x + 4 * x * 0.1}
             >
        }

    }

}


