# Configuration file

general {

    ##########################################################################################################
    # config
    #--------------------------------------------------------------------------------------------------------#
    # Ability Values
    ##########################################################################################################

    config {
        # Cooldown Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
        S:cooldown <
            (0+){42 * 20}
         >

        # Effectiveness Modifier
        # Min: 4.9E-324
        # Max: 1.7976931348623157E308
        D:effectiveness=1.0

        # Max level obtainable
        # Min: 0
        # Max: 2147483647
        I:maxLevel=0

        # Duration Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
        S:time <
            (0+){10 * 20}
         >

        ##########################################################################################################
        # advancement
        #--------------------------------------------------------------------------------------------------------#
        # Skill specific Advancement Configuration
        ##########################################################################################################

        advancement {
            # Function f(x)=? where 'x' is [Next Level] and 'y' is [Max Level], XP Cost is in units [NOT LEVELS]
            S:upgrade <
                (0){600}
                (1+){4 * x}
                (50){4 * x + 4 * x * 0.1}
             >
        }

    }

}


