# Configuration file

general {

    ##########################################################################################################
    # config
    #--------------------------------------------------------------------------------------------------------#
    # Ability Values
    ##########################################################################################################

    config {
        # Cooldown Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
        S:cooldown <
            (0+){88 * 20 + 12 * 20 * (1 - ((1 - (e^(-2.1 * (x/24)))) / (1 - e^(-2.1))))}
            (25+){83 * 20 + 5 * 20 * (1- (((e^(0.1 * ((x-24) / (y-24))) - 1)/((e^0.1) - 1))))}
            (50){80 * 20}
         >

        # Effectiveness Modifier
        # Min: 4.9E-324
        # Max: 1.7976931348623157E308
        D:effectiveness=1.0

        # Max level obtainable
        # Min: 0
        # Max: 2147483647
        I:maxLevel=50

        # Range Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
        S:range <
            (0+){8 + 5 * (1 - (e^(-2.1 * (x/24)))) / (1 - e^(-2.1))}
            (25+){13 + 3 * ((e^(0.1 * ((x - 24) / (y - 24))) - 1)/((e^0.1) - 1))}
         >

        # Duration Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
        S:time <
            (0+){10 * 20 + 12 * 20 * (1 - (e^(-2.1 * (x/24)))) / (1 - e^(-2.1))}
            (25+){22 * 20 + 6 * 20 * ((e^(0.1 * ((x - 24) / (y - 24))) - 1)/((e^0.1) - 1))}
            (50){28 * 20}
         >

        ##########################################################################################################
        # extra
        #--------------------------------------------------------------------------------------------------------#
        # Skill specific extra Configuration
        ##########################################################################################################

        extra {
            # Damage Over Time Range Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
            S:suffocateDoT <
                (0+){9 + ((e^(0.1 * (x / 24)) - 1)/((e^0.1) - 1)) * (11.96 - 9)}
                (25+){11.96 + ((e^(2.25 * ((x-24) / (y-24))) - 1)/((e^2.25) - 1)) * (12 - 11.96)}
                (50){13}
             >

            # Suffocate Range Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
            S:suffocateRange <
                (0+){8 + 10 * (1 - (e^(-2.1 * (x/24)))) / (1 - e^(-2.1))}
                (25+){20 + 6 * ((e^(0.1 * ((x - 24) / (y - 24))) - 1)/((e^0.1) - 1))}
             >
        }

        ##########################################################################################################
        # advancement
        #--------------------------------------------------------------------------------------------------------#
        # Skill specific Advancement Configuration
        ##########################################################################################################

        advancement {
            # Function f(x)=? where 'x' is [Next Level] and 'y' is [Max Level], XP Cost is in units [NOT LEVELS]
            S:upgrade <
                (0){900}
                (1+){4 * x}
                (50){4 * x + 4 * x * 0.1}
             >
        }

    }

}


