# Configuration file

general {

    ##########################################################################################################
    # config
    #--------------------------------------------------------------------------------------------------------#
    # Ability Values
    ##########################################################################################################

    config {
        # Cooldown Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
        S:cooldown <
            (0+){23 * 20 + 12 * 20 * (1 - ((1 - (e^(-2.1 * (x/24)))) / (1 - e^(-2.1))))}
            (25+){17 * 20 + 6 * 20 * (1- (((e^(0.1 * ((x-24) / (y-24))) - 1)/((e^0.1) - 1))))}
            (50){16 * 20}
         >

        # Effectiveness Modifier
        # Min: 4.9E-324
        # Max: 1.7976931348623157E308
        D:effectiveness=1.0

        # Max level obtainable
        # Min: 0
        # Max: 2147483647
        I:maxLevel=50

        # Range Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
        S:range <
            (0+){10 + 7 * (1 - (e^(-2.1 * (x/24)))) / (1 - e^(-2.1))}
            (25+){17 + 3 * ((e^(0.1 * ((x - 24) / (y - 24))) - 1)/((e^0.1) - 1))}
         >

        # Duration Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
        S:time <
            (0+){8 * 20 + 2.5 * 20 * (1 - (e^(-2.1 * (x/24)))) / (1 - e^(-2.1))}
            (25+){10.5 * 20 + 1.5 * 20 * ((e^(0.1 * ((x - 24) / (y - 24))) - 1)/((e^0.1) - 1))}
            (50){12 * 20}
         >

        ##########################################################################################################
        # extra
        #--------------------------------------------------------------------------------------------------------#
        # Skill specific extra Configuration
        ##########################################################################################################

        extra {
            # Wall Launch Force Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
            S:launch <
                (0+){2 + 12 * (1 - (e^(-2.1 * (x/24)))) / (1 - e^(-2.1))}
                (25+){14 + 6 * ((e^(0.1 * ((x - 24) / (y - 24))) - 1)/((e^0.1) - 1))}
             >

            # Wall Size Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
            S:size <
                (0+){5}
             >
        }

        ##########################################################################################################
        # advancement
        #--------------------------------------------------------------------------------------------------------#
        # Skill specific Advancement Configuration
        ##########################################################################################################

        advancement {
            # Function f(x)=? where 'x' is [Next Level] and 'y' is [Max Level], XP Cost is in units [NOT LEVELS]
            S:upgrade <
                (0){300}
                (1+){4 * x}
                (50){4 * x + 4 * x * 0.1}
             >
        }

    }

}


