# Configuration file

general {

    config {
        S:dsl <
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀
            ⠀min_level: 0
            ⠀max_level: 50
            ⠀
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀COOLDOWN (
            ⠀    curve: flat
            ⠀    start: 35s
            ⠀    end:   16s
            ⠀
            ⠀    {0 to 25} [
            ⠀        curve: ramp -50% 50%
            ⠀        start: {start}
            ⠀        end: 23s
            ⠀    ]
            ⠀
            ⠀    {25 to 49} [
            ⠀        curve: ramp 50% 50%
            ⠀        start: {0 to 25}
            ⠀        end: 18s
            ⠀    ]
            ⠀
            ⠀    {50} [
            ⠀        curve: none
            ⠀        value: {end}
            ⠀    ]
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀RANGE (
            ⠀    curve: flat
            ⠀    start: 3b
            ⠀    end:   6b
            ⠀
            ⠀    {0 to 25} [
            ⠀        curve: ramp -50% 50%
            ⠀        start: {start}
            ⠀        end: 4b
            ⠀    ]
            ⠀
            ⠀    {25 to 49} [
            ⠀        curve: ramp 50% 50%
            ⠀        start: {0 to 25}
            ⠀        end: 5b
            ⠀    ]
            ⠀
            ⠀    {50} [
            ⠀        curve: none
            ⠀        value: {end}
            ⠀    ]
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀HEAL (
            ⠀    curve: flat
            ⠀    start: 25%
            ⠀    end:   80%
            ⠀
            ⠀    {0 to 25} [
            ⠀        curve: ramp -50% 50%
            ⠀        start: {start}
            ⠀        end: 40%
            ⠀    ]
            ⠀
            ⠀    {25 to 49} [
            ⠀        curve: ramp 50% 50%
            ⠀        start: {0 to 25}
            ⠀        end: 60%
            ⠀    ]
            ⠀
            ⠀    {50} [
            ⠀        curve: none
            ⠀        value: {end}
            ⠀    ]
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀XP (
            ⠀    curve: flat
            ⠀    start: 300
            ⠀    end:   infinite
            ⠀
            ⠀    {0} [
            ⠀        curve: none
            ⠀        value: {start}
            ⠀    ]
            ⠀
            ⠀    {1 to 49} [
            ⠀        curve: multiply 4
            ⠀    ]
            ⠀
            ⠀    {50} [
            ⠀        curve: f(x, y) -> 4 * x + 4 * x * 0.1
            ⠀    ]
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
         >
    }

}


