# Configuration file

general {

    config {
        S:dsl <
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀
            ⠀min_level: 0
            ⠀max_level: infinite
            ⠀
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀MODIFIER (
            ⠀    curve: flat
            ⠀    start: 0e
            ⠀    end:   infinite
            ⠀
            ⠀    {0} [
            ⠀        curve: multiply 1e
            ⠀    ]
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀XP (
            ⠀    curve: flat
            ⠀    start: 69
            ⠀    end:   infinite
            ⠀
            ⠀    {0} [
            ⠀        curve: none
            ⠀        value: {start}
            ⠀    ]
            ⠀
            ⠀    {1} [
            ⠀        curve: f(x, y) -> 5 + 14 * x
            ⠀    ]
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
         >

        # Default start endurance
        D:endurance=30.0

        ##########################################################################################################
        # endurancemap
        #--------------------------------------------------------------------------------------------------------#
        # Endurance drain by skill
        ##########################################################################################################

        endurancemap {
            I:"enderskills:animated_stone_golem"=16
            I:"enderskills:black_hole"=18
            I:"enderskills:blazing_aura"=1
            I:"enderskills:bleed"=1
            I:"enderskills:blood_pool"=6
            I:"enderskills:charm"=6
            I:"enderskills:contaminate"=6
            I:"enderskills:crush"=8
            I:"enderskills:dash"=4
            I:"enderskills:dome"=9
            I:"enderskills:electric_pulse"=4
            I:"enderskills:energize"=12
            I:"enderskills:explode"=20
            I:"enderskills:extra_jump"=2
            I:"enderskills:fire_spirit"=1
            I:"enderskills:fireball"=16
            I:"enderskills:flaming_breath"=8
            I:"enderskills:flaming_rain"=10
            I:"enderskills:flares"=1
            I:"enderskills:focus_flame"=16
            I:"enderskills:fog"=16
            I:"enderskills:gas_cloud"=8
            I:"enderskills:gloom"=4
            I:"enderskills:grasp"=8
            I:"enderskills:hasten"=16
            I:"enderskills:heal_aura"=8
            I:"enderskills:heal_other"=12
            I:"enderskills:heal_self"=12
            I:"enderskills:home_star"=16
            I:"enderskills:hover"=2
            I:"enderskills:invisibility"=18
            I:"enderskills:life_steal"=1
            I:"enderskills:magnetic_pull"=4
            I:"enderskills:nearby_invincibility"=16
            I:"enderskills:overheat"=12
            I:"enderskills:portal"=16
            I:"enderskills:power_boost"=8
            I:"enderskills:power_drain"=12
            I:"enderskills:pull"=4
            I:"enderskills:push"=4
            I:"enderskills:ring_of_fire"=4
            I:"enderskills:sacrifice"=18
            I:"enderskills:shadow"=1
            I:"enderskills:shadow_jab"=4
            I:"enderskills:shocking_aura"=1
            I:"enderskills:shockwave"=14
            I:"enderskills:slash"=2
            I:"enderskills:smash"=14
            I:"enderskills:speed_boost"=18
            I:"enderskills:suffocate"=18
            I:"enderskills:syphon"=8
            I:"enderskills:taunt"=8
            I:"enderskills:teleport"=20
            I:"enderskills:thorny"=12
            I:"enderskills:unstable_portal"=14
            I:"enderskills:updraft"=6
            I:"enderskills:voltaic_sentinel"=16
            I:"enderskills:wall"=9
            I:"enderskills:warm_heart"=12
            I:"enderskills:warp"=6
        }

    }

}


