# Configuration file

general {

    config {
        S:dsl <
            
            ┌ v1.0
            │
            ├ min_level: 0
            ├ max_level: infinite
            └
            
            ┌ MODIFIER (
            │     shape: flat
            │     min: 0e
            │     max: infinite
            │
            │     {0} [
            │         shape: multiply 1e
            │     ]
            └ )
            
            ┌ DELAY (
            │     shape: none
            │     value: 5s
            └ )
            
            ┌ REGEN (
            │     shape: none
            │     value: 0.5s
            └ )
            
            ┌ XP (
            │     shape: flat
            │     min: 0
            │     max: infinite
            │
            │     {0} [
            │         shape: none
            │         return: 69
            │     ]
            │
            │     {1} [
            │         shape: solve for 5 + 14 * {level}
            │     ]
            └ )
            
         >

        # Default start endurance
        D:endurance=30.0

        ##########################################################################################################
        # endurancemap
        #--------------------------------------------------------------------------------------------------------#
        # Endurance drain by skill
        ##########################################################################################################

        endurancemap {
            I:"enderskills:animated_stone_golem"=0
            I:"enderskills:barrage_wisps"=0
            I:"enderskills:black_hole"=0
            I:"enderskills:blazing_aura"=0
            I:"enderskills:bleed"=0
            I:"enderskills:blood_pool"=0
            I:"enderskills:charm"=0
            I:"enderskills:contaminate"=0
            I:"enderskills:crush"=0
            I:"enderskills:dash"=0
            I:"enderskills:dome"=0
            I:"enderskills:electric_pulse"=0
            I:"enderskills:energize"=0
            I:"enderskills:explode"=0
            I:"enderskills:extra_jump"=0
            I:"enderskills:final_flash"=0
            I:"enderskills:fire_spirit"=0
            I:"enderskills:fireball"=0
            I:"enderskills:flaming_breath"=0
            I:"enderskills:flaming_rain"=0
            I:"enderskills:flares"=0
            I:"enderskills:focus_flame"=0
            I:"enderskills:fog"=0
            I:"enderskills:gas_cloud"=0
            I:"enderskills:gleam_flash"=0
            I:"enderskills:gloom"=0
            I:"enderskills:grasp"=0
            I:"enderskills:hasten"=0
            I:"enderskills:heal_aura"=0
            I:"enderskills:heal_other"=0
            I:"enderskills:heal_self"=0
            I:"enderskills:home_star"=0
            I:"enderskills:hover"=0
            I:"enderskills:invisibility"=0
            I:"enderskills:life_steal"=0
            I:"enderskills:lumen_wave"=0
            I:"enderskills:magnetic_pull"=0
            I:"enderskills:nearby_invincibility"=0
            I:"enderskills:overheat"=0
            I:"enderskills:portal"=0
            I:"enderskills:power_boost"=0
            I:"enderskills:power_drain"=0
            I:"enderskills:pull"=0
            I:"enderskills:push"=0
            I:"enderskills:radiant_ray"=0
            I:"enderskills:ring_of_fire"=0
            I:"enderskills:sacrifice"=0
            I:"enderskills:shadow"=0
            I:"enderskills:shadow_jab"=0
            I:"enderskills:shocking_aura"=0
            I:"enderskills:shockwave"=0
            I:"enderskills:slash"=0
            I:"enderskills:smash"=0
            I:"enderskills:solar_lance"=0
            I:"enderskills:speed_boost"=0
            I:"enderskills:suffocate"=0
            I:"enderskills:syphon"=0
            I:"enderskills:taunt"=0
            I:"enderskills:teleport"=0
            I:"enderskills:thorny"=0
            I:"enderskills:unstable_portal"=0
            I:"enderskills:updraft"=0
            I:"enderskills:voltaic_sentinel"=0
            I:"enderskills:wall"=0
            I:"enderskills:warm_heart"=0
            I:"enderskills:warp"=0
        }

    }

}


