# Configuration file

general {

    config {
        S:dsl <
            
            ┌ v1.0
            │
            ├ min_level: 0
            ├ max_level: 10
            └
            
            ┌ MODIFIER (
            │     shape: flat
            │     min: 0%
            │     max:  10%
            │
            │     {0} [
            │         shape: multiply 1%
            │     ]
            └ )
            
            ┌ XP (
            │     shape: flat
            │     min: 0
            │     max: infinite
            │
            │     {0} [
            │         shape: none
            │         return: 130
            │     ]
            │
            │     {1} [
            │         shape: solve for 400 * 2 x / y
            │     ]
            └ )
            
         >
    }

}


