# Configuration file

general {

    config {
        S:dsl <
            
            ┌ v1.0
            │
            ├ min_level: 0
            ├ max_level: 50
            └
            
            ┌ COOLDOWN (
            │     shape: flat
            │     value: 15s
            └ )
            
            ┌ RANGE (
            │     shape: flat
            │     min: 14b
            │     max: 32b
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   26b
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   30b
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ SIZE (
            │     shape: flat
            │     min: 20b
            │     max: 40b
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   30b
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   35b
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DELAY (
            │     shape: flat
            │     value: 1.2s
            └ )
            
            ┌ DURATION (
            │     shape: flat
            │     min: 1s
            │     max: 3s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   1.5s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   2s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DAMAGE (
            │     shape: flat
            │     min: 1h
            │     max: 5h
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   3h
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   4.5h
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ TRUE_DAMAGE (
            │     shape: flat
            │     min: 5%
            │     max: 9%
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   6%
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   8%
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DOT (
            │     shape: flat
            │     min: 3h
            │     max: 8.5h
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   5h
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   7h
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ TRUE_DOT (
            │     shape: flat
            │     min: 13%
            │     max: 50%
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   30%
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   40%
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DOT_DURATION (
            │     shape: none
            │     value: 2s
            └ )
            
            ┌ ENDURANCE (
            │     shape: none
            │     value: 16
            └ )
            
            ┌ XP (
            │     shape: flat
            │     min: 0
            │     max: infinite
            │
            │     {0} [
            │         shape: none
            │         return: 170
            │     ]
            │
            │     {1 to 50} [
            │         shape: multiply 4
            │     ]
            └ )
         >
    }

}


