# Configuration file

##########################################################################################################
# block
#--------------------------------------------------------------------------------------------------------#
# To add any overwrites, simply copy them over from the block.cfg
##########################################################################################################

block {
    S:"erebus:umberstone:*"=pickaxe=3
    S:"erebus:umberpaver:*"=pickaxe=3
    S:"erebus:umberstone_pillar:*"=pickaxe=3
    S:"erebus:umber_furnace:*"=pickaxe=3
    S:"erebus:wall_umberstone:*"=pickaxe=3
    S:"erebus:wall_umbercobble:*"=pickaxe=3
    S:"erebus:wall_umbercobble_mossy:*"=pickaxe=3
    S:"erebus:wall_umbercobble_webbed:*"=pickaxe=3
    S:"erebus:wall_umbertile_smooth:*"=pickaxe=3
    S:"erebus:wall_umbertile_smooth_small:*"=pickaxe=3
    S:"erebus:wall_umberpaver:*"=pickaxe=3
    S:"erebus:wall_umberpaver_mossy:*"=pickaxe=3
    S:"erebus:wall_umberpaver_webbed:*"=pickaxe=3

    S:"erebus:slab_umberstone:*"=pickaxe=3
    S:"erebus:slab_umbercobble:*"=pickaxe=3
    S:"erebus:slab_umbercobble_mossy:*"=pickaxe=3
    S:"erebus:slab_umbercobble_webbed:*"=pickaxe=3
    S:"erebus:slab_umberstone_bricks:*"=pickaxe=3
    S:"erebus:slab_umbertile_smooth:*"=pickaxe=3
    S:"erebus:slab_umbertile_smooth_small:*"=pickaxe=3
    S:"erebus:slab_umberpaver:*"=pickaxe=3
    S:"erebus:slab_umberpaver_mossy:*"=pickaxe=3
    S:"erebus:slab_umberpaver_webbed:*"=pickaxe=3

    S:"erebus:stairs_umberstone:*"=pickaxe=3
    S:"erebus:stairs_umbercobble:*"=pickaxe=3
    S:"erebus:stairs_umbercobble_mossy:*"=pickaxe=3
    S:"erebus:stairs_umbercobble_webbed:*"=pickaxe=3
    S:"erebus:stairs_umberstone_bricks:*"=pickaxe=3
    S:"erebus:stairs_umbertile_smooth:*"=pickaxe=3
    S:"erebus:stairs_umbertile_smooth_small:*"=pickaxe=3
    S:"erebus:stairs_umberpaver:*"=pickaxe=3
    S:"erebus:stairs_umberpaver_mossy:*"=pickaxe=3
    S:"erebus:stairs_umberpaver_webbed:*"=pickaxe=3



    S:"erebus:ore_copper:*"=pickaxe=4
    S:"erebus:ore_jade:*"=pickaxe=5

    S:"minecraft:stone:*"=pickaxe=6
    S:"minecraft:cobblestone:*"=pickaxe=6
    
}


##########################################################################################################
# oredict
#--------------------------------------------------------------------------------------------------------#
# Add overwrites to all blocks in the given OreDict entry
##########################################################################################################

oredict {
}


