# Configuration file

##########################################################################################################
# mining_levels
#--------------------------------------------------------------------------------------------------------#
# The list of all mining level names
##########################################################################################################

mining_levels {
    # Canonical names [default: [0:Stone:§8%s], [1:Iron:§f%s], [2:Diamond:§b%s], [3:Obsidian:§5%s]]
    S:names <
        0:0:§c%s
        1:1:§c%s
        2:2:§c%s
        3:3:§2%s
        4:4:§2%s
        5:5:§2%s
        6:6:§7%s
        7:7:§1%s
     >
}


