# Configuration file

##########################################################################################################
# tool
#--------------------------------------------------------------------------------------------------------#
# To add any overwrites, simply copy them over from the tools.cfg
##########################################################################################################

tool {
    S:"nethercraft:pyridium_pickaxe"=pickaxe=3
    S:"nethercraft:pyridium_axe"=axe=3
    S:"nethercraft:pyridium_shovel"=shovel=3
}


