# Configuration file

general {

    config {
        S:dsl <
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀
            ⠀min_level: 0
            ⠀max_level: 50
            ⠀
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀COOLDOWN (
            ⠀    curve: flat
            ⠀    start: 60s
            ⠀    end:   34s
            ⠀
            ⠀    {0 to 25} [
            ⠀        curve: ramp -50% 50%
            ⠀        start: {start}
            ⠀        end: 48s
            ⠀    ]
            ⠀
            ⠀    {25 to 49} [
            ⠀        curve: ramp 50% 50%
            ⠀        start: {0 to 25}
            ⠀        end: 40s
            ⠀    ]
            ⠀
            ⠀    {50} [
            ⠀        curve: none
            ⠀        value: {end}
            ⠀    ]
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀DURATION (
            ⠀    curve: flat
            ⠀    start: 12s
            ⠀    end:   24s
            ⠀
            ⠀    {0 to 25} [
            ⠀        curve: ramp -50% 50%
            ⠀        start: {start}
            ⠀        end: 16s
            ⠀    ]
            ⠀
            ⠀    {25 to 49} [
            ⠀        curve: ramp 50% 50%
            ⠀        start: {0 to 25}
            ⠀        end: 20s
            ⠀    ]
            ⠀
            ⠀    {50} [
            ⠀        curve: none
            ⠀        value: {end}
            ⠀    ]
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀REDUCTION (
            ⠀    curve: flat
            ⠀    start: 50%
            ⠀    end:   90%
            ⠀
            ⠀    {0 to 25} [
            ⠀        curve: ramp -50% 50%
            ⠀        start: {start}
            ⠀        end: 60%
            ⠀    ]
            ⠀
            ⠀    {25 to 49} [
            ⠀        curve: ramp 50% 50%
            ⠀        start: {0 to 25}
            ⠀        end: 75%
            ⠀    ]
            ⠀
            ⠀    {50} [
            ⠀        curve: none
            ⠀        value: {end}
            ⠀    ]
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀XP (
            ⠀    curve: flat
            ⠀    start: 600
            ⠀    end:   infinite
            ⠀
            ⠀    {0} [
            ⠀        curve: none
            ⠀        value: {start}
            ⠀    ]
            ⠀
            ⠀    {1 to 49} [
            ⠀        curve: multiply 4
            ⠀    ]
            ⠀
            ⠀    {50} [
            ⠀        curve: f(x, y) -> 4 * x + 4 * x * 0.1
            ⠀    ]
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
         >
    }

}


