# Configuration file

general {

    config {
        S:dsl <
            
            ┌ v1.0
            │
            ├ min_level: 0
            ├ max_level: 50
            └
            
            ┌ COOLDOWN (
            │     shape: flat
            │     min: 120s
            │     max: 80s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   90s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   85s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DURATION (
            │     shape: flat
            │     min: 12s
            │     max: 30s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   16s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   20s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ SPEED (
            │     shape: flat
            │     min: 30%
            │     max: 100%
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   40%
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   50%
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ XP (
            │     shape: flat
            │     min: 0
            │     max: infinite
            │
            │     {0} [
            │         shape: none
            │         return: 900
            │     ]
            │
            │     {1 to 50} [
            │         shape: multiply 10
            │     ]
            └ )
            
         >
    }

}


