# Configuration file

general {

    config {
        S:dsl <
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀
            ⠀min_level: 0
            ⠀max_level: 50
            ⠀
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀COOLDOWN (
            ⠀    curve: flat
            ⠀    start: 60s
            ⠀    end:   34s
            ⠀
            ⠀    {0 to 25} [
            ⠀        curve: ramp -50% 50%
            ⠀        start: {start}
            ⠀        end: 48s
            ⠀    ]
            ⠀
            ⠀    {25 to 49} [
            ⠀        curve: ramp 50% 50%
            ⠀        start: {0 to 25}
            ⠀        end: 40s
            ⠀    ]
            ⠀
            ⠀    {50} [
            ⠀        curve: none
            ⠀        value: {end}
            ⠀    ]
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀SIZE (
            ⠀    curve: flat
            ⠀    start: 3b
            ⠀    end:   8b
            ⠀
            ⠀    {0 to 25} [
            ⠀        curve: ramp -50% 50%
            ⠀        start: {start}
            ⠀        end: 4b
            ⠀    ]
            ⠀
            ⠀    {25 to 49} [
            ⠀        curve: ramp 50% 50%
            ⠀        start: {0 to 25}
            ⠀        end: 6b
            ⠀    ]
            ⠀
            ⠀    {50} [
            ⠀        curve: none
            ⠀        value: {end}
            ⠀    ]
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀RANGE (
            ⠀    curve: flat
            ⠀    start: 8b
            ⠀    end:   24b
            ⠀
            ⠀    {0 to 25} [
            ⠀        curve: ramp -50% 50%
            ⠀        start: {start}
            ⠀        end: 18b
            ⠀    ]
            ⠀
            ⠀    {25 to 49} [
            ⠀        curve: ramp 50% 50%
            ⠀        start: {0 to 25}
            ⠀        end: 20b
            ⠀    ]
            ⠀
            ⠀    {50} [
            ⠀        curve: none
            ⠀        value: {end}
            ⠀    ]
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀DURATION (
            ⠀    curve: flat
            ⠀    start: 8s
            ⠀    end:   16s
            ⠀
            ⠀    {0 to 25} [
            ⠀        curve: ramp -50% 50%
            ⠀        start: {start}
            ⠀        end: 12s
            ⠀    ]
            ⠀
            ⠀    {25 to 49} [
            ⠀        curve: ramp 50% 50%
            ⠀        start: {0 to 25}
            ⠀        end: 14s
            ⠀    ]
            ⠀
            ⠀    {50} [
            ⠀        curve: none
            ⠀        value: {end}
            ⠀    ]
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀DISPLACEMENT (
            ⠀    curve: flat
            ⠀    start: 8b
            ⠀    end:   24b
            ⠀
            ⠀    {0 to 25} [
            ⠀        curve: ramp -50% 50%
            ⠀        start: {start}
            ⠀        end: 14b
            ⠀    ]
            ⠀
            ⠀    {25 to 49} [
            ⠀        curve: ramp 50% 50%
            ⠀        start: {0 to 25}
            ⠀        end: 20b
            ⠀    ]
            ⠀
            ⠀    {50} [
            ⠀        curve: none
            ⠀        value: {end}
            ⠀    ]
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀XP (
            ⠀    curve: flat
            ⠀    start: 600
            ⠀    end:   infinite
            ⠀
            ⠀    {0} [
            ⠀        curve: none
            ⠀        value: {start}
            ⠀    ]
            ⠀
            ⠀    {1 to 49} [
            ⠀        curve: multiply 4
            ⠀    ]
            ⠀
            ⠀    {50} [
            ⠀        curve: f(x, y) -> 4 * x + 4 * x * 0.1
            ⠀    ]
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
         >
    }

}


