# Configuration file

general {

    config {
        S:dsl <
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀
            ⠀min_level: 0
            ⠀max_level: 50
            ⠀
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀COOLDOWN (
            ⠀    curve: flat
            ⠀    start: 16s
            ⠀    end:   2s
            ⠀
            ⠀    {0 to 25} [
            ⠀        curve: ramp -50% 50%
            ⠀        start: {start}
            ⠀        end: 8s
            ⠀    ]
            ⠀
            ⠀    {25 to 49} [
            ⠀        curve: ramp 50% 50%
            ⠀        start: {0 to 25}
            ⠀        end: 6s
            ⠀    ]
            ⠀
            ⠀    {50} [
            ⠀        curve: none
            ⠀        value: {end}
            ⠀    ]
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀DOT (
            ⠀    curve: flat
            ⠀    start: 4h
            ⠀    end:   16h
            ⠀
            ⠀    {0 to 25} [
            ⠀        curve: ramp -50% 50%
            ⠀        start: {start}
            ⠀        end: 6h
            ⠀    ]
            ⠀
            ⠀    {25 to 49} [
            ⠀        curve: ramp 50% 50%
            ⠀        start: {0 to 25}
            ⠀        end: 14h
            ⠀    ]
            ⠀
            ⠀    {50} [
            ⠀        curve: none
            ⠀        value: {end}
            ⠀    ]
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀DOT_DURATION (
            ⠀    curve: none
            ⠀    value: 7s
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
            ⠀XP (
            ⠀    curve: flat
            ⠀    start: 170
            ⠀    end:   infinite
            ⠀
            ⠀    {0} [
            ⠀        curve: none
            ⠀        value: {start}
            ⠀    ]
            ⠀
            ⠀    {1 to 49} [
            ⠀        curve: multiply 4
            ⠀    ]
            ⠀
            ⠀    {50} [
            ⠀        curve: f(x, y) -> 4 * x + 4 * x * 0.1
            ⠀    ]
            ⠀)
            ⠀#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~#~
         >
    }

}


