# Configuration file

general {

    config {
        S:dsl <
            
            ┌ v1.0
            │
            ├ min_level: 0
            ├ max_level: 50
            └
            
            ┌ COOLDOWN (
            │     shape: flat
            │     min: 60s
            │     max: 24s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   36s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   28s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ DOT (
            │     shape: flat
            │     min: 2h
            │     max: 8h
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   3h
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   7h
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            │ DOT_DURATION (
            │     shape: none
            │     value: 6s
            └ )
            
            │ POOL_RANGE (
            │     shape: flat
            │     min: 3b
            │     max: 6b
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   4b
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   5b
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            │ POOL_DURATION (
            │     shape: flat
            │     min: 6s
            │     max: 9s
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   7s
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   8s
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ XP (
            │     shape: flat
            │     min: 0
            │     max: infinite
            │
            │     {0} [
            │         shape: none
            │         return: 300
            │     ]
            │
            │     {1 to 50} [
            │         shape: multiply 6
            │     ]
            └ )
            
         >
    }

}


