# Configuration file

general {

    config {
        S:dsl <
            
            ┌ v1.0
            │
            ├ min_level: 0
            ├ max_level: 50
            └
            
            ┌ COOLDOWN (
            │     shape: none
            │     value: 90s
            └ )
            
            ┌ RANGE (
            │     shape: flat
            │     min: 4b
            │     max: 10b
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   6b
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   8b
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ HEAL (
            │     shape: flat
            │     min: 10%
            │     max: 50%
            │
            │     {0 to 25} [
            │         shape: ramp negative
            │         start: {min}
            │         end:   30%
            │     ]
            │
            │     {25 to 49} [
            │         shape: ramp positive
            │         start: {0 to 25}
            │         end:   40%
            │     ]
            │
            │     {50} [
            │         shape: none
            │         return: {max}
            │     ]
            └ )
            
            ┌ XP (
            │     shape: flat
            │     min: 0
            │     max: infinite
            │
            │     {0} [
            │         shape: none
            │         return: 600
            │     ]
            │
            │     {1 to 50} [
            │         shape: multiply 8
            │     ]
            └ )
            
         >
    }

}


