# Configuration file

##########################################################################################################
# addons
#--------------------------------------------------------------------------------------------------------#
# 
# Addon developers, place your configs here! This folder is for configuration not added by Wyrms of Nyrus itself.
# 
##########################################################################################################

addons {
}


