# Configuration file

general {

    ##########################################################################################################
    # config
    #--------------------------------------------------------------------------------------------------------#
    # Attribute Values
    ##########################################################################################################

    config {
        # Effectiveness Modifier
        # Min: 4.9E-324
        # Max: 1.7976931348623157E308
        D:effectiveness=1.0

        # The Maximum level of this Skill
        # Min: 0
        # Max: 2147483647
        I:maxLevel=2147483647

        # Modifier Function f(x,y)=? where 'x' is [Current Level] and 'y' is [Max Level]
        S:modifier <
            (0+){x * 1}
         >

        ##########################################################################################################
        # extra
        #--------------------------------------------------------------------------------------------------------#
        # Skill specific extra Configuration
        ##########################################################################################################

        extra {

            ##########################################################################################################
            # endurancemap
            #--------------------------------------------------------------------------------------------------------#
            # Endurance drain by skill
            ##########################################################################################################

            endurancemap {
                I:"enderskills:animated_stone_golem"=16
                I:"enderskills:black_hole"=18
                I:"enderskills:bleed"=1
                I:"enderskills:blood_pool"=6
                I:"enderskills:charm"=6
                I:"enderskills:contaminate"=6
                I:"enderskills:crush"=8
                I:"enderskills:dash"=4
                I:"enderskills:dome"=9
                I:"enderskills:explode"=20
                I:"enderskills:extra_jump"=2
                I:"enderskills:fire_spirit"=1
                I:"enderskills:fireball"=16
                I:"enderskills:flaming_breath"=8
                I:"enderskills:flaming_rain"=10
                I:"enderskills:focus_flame"=16
                I:"enderskills:fog"=16
                I:"enderskills:gas_cloud"=8
                I:"enderskills:gloom"=4
                I:"enderskills:grasp"=8
                I:"enderskills:hasten"=16
                I:"enderskills:heal_aura"=8
                I:"enderskills:heal_other"=12
                I:"enderskills:heal_self"=12
                I:"enderskills:hover"=2
                I:"enderskills:invisibility"=18
                I:"enderskills:life_steal"=1
                I:"enderskills:nearby_invincibility"=16
                I:"enderskills:portal"=16
                I:"enderskills:power_boost"=8
                I:"enderskills:pull"=4
                I:"enderskills:push"=4
                I:"enderskills:sacrifice"=18
                I:"enderskills:shadow"=1
                I:"enderskills:shadow_jab"=4
                I:"enderskills:shockwave"=14
                I:"enderskills:slash"=2
                I:"enderskills:smash"=14
                I:"enderskills:speed_boost"=18
                I:"enderskills:suffocate"=18
                I:"enderskills:syphon"=8
                I:"enderskills:taunt"=8
                I:"enderskills:teleport"=20
                I:"enderskills:thorny"=12
                I:"enderskills:unstable_portal"=14
                I:"enderskills:updraft"=6
                I:"enderskills:wall"=9
                I:"enderskills:warp"=6
            }

        }

        ##########################################################################################################
        # advancement
        #--------------------------------------------------------------------------------------------------------#
        # Skill specific Advancement Configuration
        ##########################################################################################################

        advancement {
            # Function f(x)=? where 'x' is [Next Level] and 'y' is [Max Level], XP Cost is in units [NOT LEVELS]
            S:upgrade <
                (0+){(50 * (1 - (0 ^ (0 ^ x)))) + 20 + 15 * x}
             >
        }

    }

}


